<mat-form-field
  *ngIf="isNormalField(field)"
  [hideRequiredMarker]="formGroup && formGroup.value.hideRequired"
  [floatLabel]="formGroup && formGroup.value.floatLabel"
>
  <input
    *ngIf="(field.formControl && (field.type === 'color'))"
    matInput
    [formControl]="field.formControl"
    [errorStateMatcher]="errorMatcher"
    [placeholder]="field.placeholder"
    [required]="field.required"
    [(colorPicker)]="field.formControl.value"
    [style.background]="field.formControl.value"
    [value]="field.formControl.value"
    [cpOKButton]="true"
    [cpCancelButton]="true"
    [cpPosition]="'top'"
    [cpPositionOffset]="'50%'"
    type="text"
  >
  <input
    *ngIf="isTextField(field)"
    matInput
    [formControl]="field.formControl"
    [errorStateMatcher]="errorMatcher"
    [placeholder]="field.placeholder"
    [required]="field.required"
    type="{{field.type}}"
  >
  <textarea
    *ngIf="field.type === 'textarea'"
    matInput
    [formControl]="field.formControl"
    [errorStateMatcher]="errorMatcher"
    [placeholder]="field.placeholder"
    [required]="field.required"
    type="{{field.type}}"
  ></textarea>
  <mat-select
    *ngIf="field.type === 'select'"
    [multiple]="field.multiSelect"
    [formControl]="field.formControl"
    [placeholder]="field.placeholder"
    [required]="field.required"
  >
    <mat-option *ngIf="!field.multiSelect">-- None --</mat-option>
    <mat-option
      *ngFor="let option of options"
      [value]="option.id"
    >
      <mat-icon
        *ngIf="field.showIcons"
        svgIcon="ithriv_{{option.id}}"
      ></mat-icon>
      {{option.name}}
    </mat-option>
  </mat-select>
  <mat-label *ngIf="field.type === 'select'">
    {{field.placeholder}}
  </mat-label>

  <mat-hint *ngIf="field.helpText">
    <markdown>{{field.helpText}}</markdown>
  </mat-hint>

  <mat-hint
    *ngIf="field.maxLength"
    align="end"
  >
    {{currentLength()}} / {{field.maxLength}}
  </mat-hint>

  <mat-error *ngIf="field.formControl.errors && (field.formControl.dirty || field.formControl.touched)">
    <span *ngIf="field.formControl.hasError('email') && !field.formControl.hasError('required')">
      Please enter a valid email address
    </span>
    <span *ngIf="field.formControl.hasError('url') && !field.formControl.hasError('required')">
      Please enter a valid URL, such as https://website.domain.com
    </span>
    <span *ngIf="field.required && field.formControl.hasError('required')">
      {{field.placeholder}} is
      <strong>required</strong>
    </span>
    <span *ngIf="field.minLength && field.formControl.hasError('minlength')">
      Must be at least
      <strong>{{field.minLength}}</strong> characters long. You only entered
      <strong>{{currentLength()}}</strong> characters.
    </span>
    <span *ngIf="field.maxLength && field.formControl.hasError('maxlength')">
      Maximum length is
      <strong>"{{field.maxLength}}"</strong> characters. You entered
      <strong>{{currentLength()}}</strong> characters.
    </span>
  </mat-error>
</mat-form-field>

<div
  *ngIf="field.type === 'tree'"
  class="mat-typography"
>
  <app-form-field-label
    [field]="field"
    [errors]="errors"
  ></app-form-field-label>
  <app-tree-select [field]="field"></app-tree-select>
</div>

<div
  *ngIf="field.type === 'richtexteditor'"
  class="mat-typography"
>
  <app-form-field-label
    [field]="field"
    [errors]="errors"
  ></app-form-field-label>
  <mat-error *ngIf="field.formControl.errors && (field.formControl.dirty || field.formControl.touched)">
    <span *ngIf="field.required && field.formControl.hasError('required')">
      {{field.placeholder}} is
      <strong>required</strong>
    </span>
    <span *ngIf="field.minLength && field.formControl.hasError('minlength')">
      Must be at least
      <strong>{{field.minLength}}</strong> characters long. You only entered
      <strong>{{currentLength()}}</strong> characters.
    </span>
    <span *ngIf="field.maxLength && field.formControl.hasError('maxlength')">
      Maximum length is
      <strong>"{{field.maxLength}}"</strong> characters. You entered
      <strong>{{currentLength()}}</strong> characters.
    </span>
  </mat-error>
  <td-text-editor
    *ngIf="field.formControl"
    [formControl]="field.formControl"
    [value]="field.formControl.value"
    [options]="field.options"
  ></td-text-editor>
</div>

<div
  *ngIf="field.type === 'toggle'"
  class="toggle mat-typography"
>
  <mat-slide-toggle
    color="primary"
    [formControl]="field.formControl"
  >
    {{field.placeholder}}
  </mat-slide-toggle>
</div>

<div
  *ngIf="field.type === 'files'"
  class="mat-typography"
>
  <app-form-field-label
    [field]="field"
    [errors]="errors"
  ></app-form-field-label>
  <app-file-upload [field]="field"></app-file-upload>
</div>

<div *ngIf="field.type === 'checkbox'">
  <app-form-field-label
    [field]="field"
    [errors]="errors"
  ></app-form-field-label>
  <mat-checkbox
    [formControl]="field.formControl"
    [required]="field.required"
    title="{{field.placeholder}}"
  >
    {{field.helpText}}
  </mat-checkbox>
  <mat-error *ngIf="field.formControl.errors && (field.formControl.dirty || field.formControl.touched)">
    <span *ngIf="field.required && field.formControl.hasError('required')">
      {{field.placeholder}} is
      <strong>required</strong>
    </span>
    <span *ngIf="field.minLength && field.formControl.hasError('minlength')">
      Must be at least
      <strong>{{field.minLength}}</strong> characters long. You only entered
      <strong>{{currentLength()}}</strong> characters.
    </span>
    <span *ngIf="field.maxLength && field.formControl.hasError('maxlength')">
      Maximum length is
      <strong>"{{field.maxLength}}"</strong> characters. You entered
      <strong>{{currentLength()}}</strong> characters.
    </span>
  </mat-error>

</div>