<mat-tree #tree [dataSource]="dataSource" [childrenAccessor]="childrenAccessor" class="tree-select">
  <!-- This is the tree node template for leaf nodes -->
  <!-- There is inline padding applied to this node using styles. This padding value depends on the mat-icon-button width. -->
  <mat-nested-tree-node #treeNode="matNestedTreeNode" *matTreeNodeDef="let node" matTreeNodeToggle>
    <mat-checkbox (change)="toggleNode(node)" [checked]="checklistSelection.isSelected(node)">{{
        node.name
      }}
    </mat-checkbox>
  </mat-nested-tree-node>

  <!-- This is the tree node template for expandable nodes -->
  <mat-nested-tree-node
    *matTreeNodeDef="let node; when: hasNestedChild"
    matTreeNodeToggle
    [cdkTreeNodeTypeaheadLabel]="node.name"
  >
    <div class="mat-tree-node">
      <button mat-icon-button [attr.aria-label]="'toggle ' + node.name" class="toggle-node-button" matTreeNodeToggle>
        <mat-icon class="mat-icon-rtl-mirror">
          {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
        </mat-icon>
      </button>

      <mat-checkbox disabled="true" [checked]="checklistSelection.isSelected(node)">
          <span
            *ngIf="numSelectedDescendants(node)"
            matBadge="{{ numSelectedDescendants(node) }}"
            matBadgeColor="accent"
            matBadgeOverlap="false"
          >{{ node.name }}</span
          >
        <span *ngIf="!numSelectedDescendants(node)">{{ node.name }}</span>
      </mat-checkbox>
    </div>

    <!-- There is inline padding applied to this div using styles.
        This padding value depends on the mat-icon-button width.  -->
    <div [class.example-tree-invisible]="!tree.isExpanded(node)"
         role="group">
      <ng-container matTreeNodeOutlet></ng-container>
    </div>
  </mat-nested-tree-node>
</mat-tree>
