.tree-select-invisible {
  display: none;
}

.tree-select ul,
.tree-select li {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1rem;
  list-style-type: none;

  button.toggle-node-button {
    outline: none !important;
  }
}

/*
 * This padding sets alignment of the nested nodes.
 */
.tree-select .mat-nested-tree-node div[role=group] {
  padding-left: 40px;
}

/*
 * Padding for leaf nodes.
 * Leaf nodes need to have padding so as to align with other non-leaf nodes
 * under the same parent.
 */
.tree-select div[role=group] > .mat-nested-tree-node {
  padding-left: 40px;
}

