mat-card {
  margin-bottom: 1em;
  padding-bottom: 2em;

  ::ng-deep .mat-card-header-text {
    margin-left: 0px;

    mat-card-title {
      font-size: 1em;
      font-weight: 600;
      margin-bottom: 10px;
    }
  }
}
