.profile {
  margin: 2%;
}

mat-card-subtitle {
  font-weight: bold;
  font-size: large;
}

button{
  white-space: pre-wrap !important;
}

.tiles {
  margin: 4em 0;
  text-align: center;
}

ul {
  margin-top: 4px;
}


