.profile {
  margin: 2%;
}

mat-card-subtitle {
  font-weight: bold;
  font-size: large;
}

button{
  white-space: pre-wrap !important;
}

.tiles {
  margin: 4em 0;
  text-align: center;
}

.meta-form {
  max-width: 600px;
  margin: auto;
}
