<div
  *ngIf="user"
  class="profile mat-typography"
>

  <div *ngIf="state === possibleStates.NO_PARTICIPANT">
    <h1>Create Your Profile</h1>
    <div  class="meta-form"
      fxLayout="row"
      fxLayout.lt-lg="column"
      fxLayoutGap="2em"
    >
      <div
        fxFlex="100%"
      >
        <h2>Welcome!</h2>
        <p>Thank you for creating an account on Autism DRIVE. We would like to learn a little more about you, so we can connect you with the best possible resources.  To create your profile, please select all the items below that describe you.  If appropriate, you will have additional opportunities to create profiles for your children or dependents after completing your own profile.  Once we have this information we can connect you to current and future research studies, and together, find ways to improve the lives of people living with Autism.</p>
        <!--
        <div
          fxLayout="column"
          fxLayoutAlign="center auto"
          fxLayoutGap="2em"
          fxHide.gt-xs
          fxShow.lt-sm
        >
          <button
            mat-flat-button
            color="accent"
            (click)="enrollSelf($event)"
            id="enroll_self"
          >I am an adult with autism and I am my own legal guardian</button>
          <button
            mat-flat-button
            color="accent"
            (click)="enrollGuardian($event)"
            id="enroll_guardian"
          >I am the parent/legal guardian of a child or adult with autism</button>
          <button
            mat-flat-button
            color="accent"
            (click)="enrollProfessional($event)"
            id="enroll_professional"
          >I am a student/professional with an interest in autism</button>
        </div>
        <div
          class="tiles"
          fxLayout="row wrap"
          fxLayoutAlign="center auto"
          fxLayoutGap="20px"
          fxHide.lt-sm
          fxShow.gt-xs
        >
          <div fxFlex="100%"><h3>I am:</h3></div>
          <app-border-box-tile
            fxFlex="calc(33%-20px)"
            (click)="enrollSelf($event)"
            id="enroll_self_tile"
            [subtitle]="'An adult with autism and my own legal guardian'"
          ></app-border-box-tile>
          <app-border-box-tile
            fxFlex="calc(33%-20px)"
            (click)="enrollGuardian($event)"
            id="enroll_guardian_tile"
            [subtitle]="'A parent / legal guardian of a child or adult with autism'"
          ></app-border-box-tile>
          <app-border-box-tile
            fxFlex="calc(33%-20px)"
            (click)="enrollInterested($event)"
            id="enroll_professional_tile"
            [subtitle]="'A student / professional with an interest in autism'"
          ></app-border-box-tile>
        </div>
      </div>
    </div>
    <div>
    -->
      <form [formGroup]="form">
        <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form"></formly-form>
        <button mat-flat-button type="submit" color="accent" (click)="enrollSubmit()" >Submit</button>
      </form>

    </div>
  </div>

  <div *ngIf="state !== possibleStates.NO_PARTICIPANT">
    <h1>Manage Your Profiles</h1>
    <div>
      <p>Once your profile is complete, you’ll be able to enroll in any relevant currently-running studies.</p>

      <app-loading
        *ngIf="loading"
        message="Loading..."
      ></app-loading>

      <div
        *ngIf="!loading"
        fxLayout="column"
        fxLayoutGap="40px grid"
      >
        <div
          fxLayout="column"
          fxLayoutGap="40px grid"
        >
          <div
            fxLayout="row wrap"
            fxLayoutGap="40px grid"
          >
            <app-participant-profile
              [participant]="self"
              [user]="user"
              id="self_participant_{{self.id}}"
            ></app-participant-profile>

            <app-participant-profile
              *ngFor="let participant of dependents"
              [participant]="participant"
              [user]="user"
              id="dependent_participant_{{participant.id}}"
            ></app-participant-profile>
          </div>
          <div fxFlex="60%">
            <p *ngIf="selfPercentComplete < 100">In order to add a dependent you must complete your own profile first</p>
            <button
              *ngIf="user.getSelf()"
              mat-flat-button
              color="primary"
              [disabled]="selfPercentComplete < 100"
              (click)="enrollDependent($event)"
              id="enroll_dependent"
            >Create another profile</button>
          </div>
        </div>
        <div>
          <mat-card>
            <mat-tab-group>

              <mat-tab label="My Studies">
                <mat-card-title>Research Studies</mat-card-title>
                <mat-card-content>
                  <mat-list>
                    <div
                      *ngIf="studyInquiries && studyInquiries.length > 0"
                      id="study-inquiries"
                    >
                      <mat-card-subtitle>Studies about which you have inquired</mat-card-subtitle>
                      <mat-list-item *ngFor="let s of studyInquiries">
                        <a
                          mat-line
                          href="/#/study/{{s.study.id}}"
                        >{{ s.study.short_title }}</a>
                        <p mat-line>{{ s.study.short_description }}</p>
                      </mat-list-item>
                    </div>
                    <div
                      *ngIf="currentStudies && currentStudies.length > 0"
                      id="current-studies"
                    >
                      <mat-card-subtitle>All currently-enrolling studies</mat-card-subtitle>
                      <mat-list-item *ngFor="let s of currentStudies">
                        <a
                          mat-line
                          href="/#/study/{{s.id}}"
                        >{{ s.short_title }}</a>
                        <p mat-line>{{ s.short_description }}</p>
                      </mat-list-item>
                    </div>
                  </mat-list>
                </mat-card-content>
              </mat-tab>
              <mat-tab label="My Resources"><app-favorite-resources [favoriteResources]="favoriteResources"></app-favorite-resources></mat-tab>
              <mat-tab label="My Topics"><app-favorite-topics
                [currentUser]="user"
              ></app-favorite-topics></mat-tab>
            </mat-tab-group>
          </mat-card>
        </div>
      </div>

    </div>
  </div>

</div>
