.profile {
  margin: 2%;
}

mat-card-subtitle {
  font-weight: bold;
  font-size: large;
}

button {
  white-space: pre-wrap !important;
}

.tiles {
  margin: 4em 0;
  text-align: center;
}

.meta-form {
  max-width: 80%;
  margin: auto;
}

::ng-deep .mat-checkbox-label {
  white-space: normal;
  margin-top: -1em;
}

::ng-deep .mat-checkbox-layout {
  display: inline-flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  vertical-align: top;
}

::ng-deep .mat-checkbox-inner-container {
  margin-top: -0.7em !important;
}
