<div
  *ngIf="user"
  class="profile mat-typography"
>
  <h1 *ngIf="participantSelf">{{participantSelf.preferredName()}}’s profile</h1>
  <div>
    <h2>Your STAR DRIVE Profile is only 10% complete!</h2>
    <p>Once your profile is complete, you’ll be able to enroll in any relevant currently-running studies.</p>



    <app-loading
      *ngIf="loading"
      message="Loading..."
    ></app-loading>

    <div
      fxLayout="row"
      fxLayoutGap="40px"
    >
      <div
        fxFlex="60%"
        fxLayout="column"
        fxLayoutGap="40px"
      >
        <app-participant-profile
          *ngFor="let userParticipant of userParticipants"
          [userParticipant]="userParticipant"
        ></app-participant-profile>

        <button
          *ngIf="!isAlreadyEnrolled('self')"
          mat-flat-button
          color="primary"
          (click)="addParticipant('self')"
        >Enroll yourself</button>

        <button
          mat-flat-button
          color="primary"
          (click)="addParticipant('dependent')"
        >Enroll {{isAlreadyEnrolled('dependent') ? 'another' : 'a'}} dependent</button>
      </div>
      <div fxFlex="40%">
        [List of studies here]
      </div>
    </div>

  </div>
</div>