<div class="study-detail mat-typography">
  <app-loading *ngIf="state === pageState.LOADING" message="Loading..."></app-loading>

  <form *ngIf="state === pageState.SHOW_FORM" [formGroup]="form" class="pad-2">
    <h1>Study Details</h1>

    <formly-form [form]="form" [model]="model" [fields]="fields" [options]="options" />

    <div class="button-row" fxLayoutGap="2em">
      <button
        *ngIf="form"
        mat-flat-button
        type="button"
        (click)="form.valid ? submit() : highlightRequiredFields()"
        color="primary"
        id="save-next-button"
      >
        Save
      </button>

      <button *ngIf="form" mat-flat-button type="button" (click)="onCancel()" color="accent" id="cancel-button">
        Cancel
      </button>

      <button
        type="button"
        mat-flat-button
        *ngIf="!showConfirmDelete && !createNew"
        (click)="showDelete()"
        color="warn"
        id="delete-button"
      >
        Delete
      </button>

      <button
        *ngIf="showConfirmDelete"
        id="confirm_delete"
        type="button"
        mat-flat-button
        (click)="onDelete()"
        color="warn"
      >
        Permanently Delete This Study!!!
      </button>
    </div>
  </form>
</div>
