@import '../../material';

  mat-icon {
   -webkit-text-stroke: 1px $brand-primary;
   color: white;
   text-shadow:
     -1px -1px 0 $brand-primary,
      1px -1px 0 $brand-primary,
      -1px 1px 0 $brand-primary,
       1px 1px 0 $brand-primary;

    &.active {
      color: $brand-accent;
      text-shadow: none;
    }
  }

  mat-form-field {
    width: 100%;
  }
