<div mat-dialog-content>
<h1 mat-dialog-title>Manage My Topics</h1>
<div mat-dialog-content>
  <p>Select topics to add them to your favorites. Deselect topics to remove them from your favorites. Click Save to keep your changes or Cancel to discard all changes.</p>
<!--  <mat-form-field>-->
<!--    <mat-label>Topics:</mat-label>-->
<!--    <mat-select multiple [(value)]="data.topics">-->
<!--      <mat-option *ngFor="let cat of cateogoryOptions" [value]="cat.value">{{cat.label}}</mat-option>-->
<!--    </mat-select>-->
<!--  </mat-form-field>-->
  <mat-form-field>
    <mat-label>Ages:</mat-label>
    <mat-select multiple [(value)]="data.ages">
      <mat-option *ngFor="let age of ageOptions" [value]="age.value">{{age.label}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Languages:</mat-label>
    <mat-select multiple [(value)]="data.languages">
      <mat-option *ngFor="let language of languageOptions" [value]="language.value">{{language.label}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Covid19 Topics:</mat-label>
    <mat-select multiple [(value)]="data.covid19_categories">
      <mat-option *ngFor="let cat of covid19Options" [value]="cat.value">{{cat.label}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-flat-button
          color="primary"
          [mat-dialog-close]="data"
          cdkFocusInitial
  >Save</button>
</div>
</div>
