<h1 mat-dialog-title>Manage My Topics</h1>
<mat-dialog-content>
  <p>
    Select topics to add them to your favorites. Deselect topics to remove them from your favorites. Click Save to keep
    your changes or Cancel to discard all changes.
  </p>
  <mat-label>Topics:</mat-label>
  <form [formGroup]="form">
    <formly-form
      [form]="form"
      [fields]="fields"
      [model]="data"
    />
  </form>
</mat-dialog-content>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-flat-button color="primary" [mat-dialog-close]="data">Save</button>
</div>
