<div
  class="container mat-typography"
  fxLayout="row"
  fxLayoutWrap
  fxLayoutGap="10px"
  fxLayoutAlign="center center"
>
  <div
    class="form"
    fxFlex="50%"
    fxFlex.xs="90%"
  >
    <app-logo></app-logo>
    <h1>Forgot your password?</h1>
    <p>To reset your password, please enter the email address associated with your STAR DRIVE account.</p>
    <form [formGroup]="form" (ngSubmit)="submit(model)">
      <formly-form [form]="form" [fields]="fields" [model]="model">
        <div
          fxLayout="column"
          fxLayoutGap="2%"
          fxLayoutAlign="center"
        >
      <div
        id="error_message"
        class="display mat-error"
      >{{errorEmitter | async}}</div>
          <button mat-button type="submit">Submit</button>
          <button mat-button (click)="goHome($event)">Cancel</button>
        </div>

      </formly-form>
    </form>
  </div>
</div>
