<div
  class="container mat-typography"
  fxLayout="row"
  fxLayoutWrap
  fxLayoutGap="10px"
  fxLayoutAlign="center center"
>
  <div
    class="form"
    fxFlex="50%"
    fxFlex.xs="90%"
  >
    <app-logo></app-logo>
    <h1>Forgot your password?</h1>
    <p>To reset your password, please enter the email address associated with your STAR DRIVE account.</p>
    <h3>Email Address:</h3>
    <!--<app-forgot-password-form></app-forgot-password-form>-->
    <div
      fxLayout="column"
      fxLayoutGap="2%"
      fxLayoutAlign="center"
    >
      <button mat-button (click)="goProfile($event)">Submit</button>
      <button mat-button (click)="goHome($event)">Cancel</button>
    </div>
  </div>
</div>
