<div
  class="container mat-typography"
  fxLayout="row"
  fxLayoutWrap
  fxLayoutGap="10px"
  fxLayoutAlign="center center"
>
  <div
    class="form"
    fxFlex="50%"
    fxFlex.xs="90%"
  >
    <app-logo></app-logo>
    <h1>Forgot your password?</h1>
    <p>To reset your password, please enter the email address associated with your STAR DRIVE account.</p>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <formly-form [form]="form" [fields]="fields" [model]="model">
        <footer
          fxLayout="column"
          fxLayoutGap="2%"
          fxLayoutAlign="center"
          *ngIf="formStatus === 'form'"
        >
          <div id="error_message" class="display mat-error" *ngIf="errorMessage">{{errorMessage}}</div>
          <button
            mat-flat-button
            type="submit"
            color="primary"
          >Submit</button>
          <button
            mat-flat-button
            (click)="goHome($event)"
            color="accent"
          >Cancel</button>
          <button
            mat-button
            (click)="goRegister($event)"
          >Register for an account</button>
        </footer>
        <footer *ngIf="formStatus === 'submitting'">
          <app-loading></app-loading>
        </footer>
        <footer *ngIf="formStatus === 'complete'">
          <p>You should receive a message in a few minutes with a link that will let you reset your password.</p>
          <button
            mat-flat-button
            (click)="goHome($event)"
            color="accent"
          >Continue</button>
        </footer>
      </formly-form>
    </form>
  </div>
</div>
