<div fxHide fxShow.gt-sm>
  <div id="hero" class="gradient-overlay container">
    <div class="row move_up">
      <div class="border-box">
        <h1>About Autism DRIVE</h1>
      </div>
    </div>
  </div>
</div>
<div fxHide fxShow.lt-md>
  <div id="hero" class="gradient-overlay container" style="background-position: 50% 0%; background-size: 980px">
    <div class="row move_up_mobile">
      <div class="border-box">
        <h1>About Autism DRIVE</h1>
      </div>
    </div>
  </div>
</div>
<div fxLayoutAlign="center"  fxLayout="column">
<div class="container about">
  <div
    class="row"
    fxLayout="row"
    fxLayoutGap="4%"
    fxLayoutAlign="center"
  >
    <div fxFlex="67%">
      <h2>About "Autism DRIVE"</h2>
      <p>The Autism DRIVE was developed by <a href="https://education.virginia.edu/research-initiatives/research-centers-labs/supporting-transformative-autism-research">University
        of Virginia STAR initiative</a> to help the autism community, researchers, and resources connect. Through the
        DRIVE we hope to learn more about autism and develop meaningful solutions to challenges experienced by people
        with autism and their families. It also provides individualized online access to training and resources focused
        on autism.</p>
      <h2>Why is autism research important?</h2>
      <p>Research can help us figure out answers to questions about autism that we don’t yet know. Our goal is to
        increase autism research in Virginia and nationally.</p>
      <p>Through the Autism DRIVE, we aim to find answers in areas that have the greatest potential to improve the
        lives of people with autism and their families. Our projects focus on understanding the biological, social and
        cognitive bases of autism, developing effective and personalized interventions, and testing new models to
        bridge the gap between research and practice through training. Our research ranges from basic neuroscience to
        applied practice. Our ultimate goal is to empower people with autism, their families, and their communities to
        achieve positive outcomes.</p>
      <h2>What are the benefits of joining?</h2>
      <p>By joining the Autism DRIVE, you will be connected with autism researchers at the University of Virginia and
        will have the opportunity to participate in exciting research studies. Based on the information you provide in
        the registration process, you can be matched with research opportunities and resources that would be a good
        fit for you or your family member. Your participation in any research study is voluntary, so although we will
        match you with studies, you do not have to participate in them unless you or your family member want to. If you
        want to cancel your account at any time, you can let us know by emailing rn4ee@hscmail.mcc.virginia.edu.</p>
    </div>
  </div>
  <div class="row" fxLayoutAlign="center center">
    <button mat-flat-button color="primary" (click)="goRegister($event)" class="btn-lg">Get started now</button>
  </div>
</div>
