.enroll {
  margin: 1em;
}

.move_up {
  position: relative;
  top: -110px;
}

#hero {
  background-image: url('/assets/about/diversity.jpg');
  background-position: 50% 17%;
  height: 480px;
}

#feature {
  background-image: url('/assets/about/diversity.jpg');
  background-position: 100% 20%;
  height: 480px;
}

#about-cta {
  font-weight: 700;
  font-size: 1.25rem;
  font-style: italic;
  margin-bottom: 1em;
}

/* desktop display */
.mobile_device_480px {
  display: none;
}

/* phone display */
@media only screen and (max-device-width: 480px) {
  .mobile_device_480px{display: block;}
  .desktop {display: none;}
}
