.enroll {
  margin: 1em;
}

.move_up {
  position: relative;
  width: 575px;
  top: -110px;
}

.move_up_mobile {
  position: relative;
  width: 400px;
  top: -120px;
}

#hero {
  background-image: url('/assets/about/diversity.jpg');
  background-position: 50% 17%;
  height: 480px;
}

#feature {
  background-image: url('/assets/about/diversity.jpg');
  background-position: 100% 20%;
  height: 480px;
}

#about-cta {
  font-weight: 700;
  font-size: 1.25rem;
  font-style: italic;
  margin-bottom: 1em;
}
