<div
  id="hero"
  class="gradient-overlay container"
>
  <div class="row">
    <div class="border-box">
      <h1>About Autism DRIVE</h1>
    </div>
  </div>
</div>
<div class="container about">
  <div
    class="row"
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutGap="4%"
    fxLayoutAlign="center"
  >
    <div fxFlex="60%">
      <h2>About "Autism DRIVE"</h2>
      <p>The AUTISM DRIVE (Data System for Research Integration, Visualization & Exchange) was developed by <a
        href="https://curry.virginia.edu/faculty-research/centers-labs-projects/supporting-transformative-autism-research-star">University
        of Virginia’s Supporting Transformative Autism Research (STAR) initiative</a> as a dynamic system for secure
        collection and sharing of knowledge and information. The DRIVE helps researchers collaborate with the autism
        community to gain insights into autism and to develop meaningful solutions to challenges experienced by
        individuals with autism and their families. It also provides individualized online access to training and
        resources for individuals with autism, their families, and the professionals who support them.</p>
      <h2>Why is autism research important?</h2>
      <p>Current prevalence trends and outcomes data for the autism community suggest the need for increased autism
        research in the state of Virginia to improve the potential for positive outcomes for people with autism and
        their families.</p>
      <p>Through the Autism DRIVE, we aim to address critical knowledge gaps in areas that have the greatest potential
        to improve the lives of individuals with autism and their families. Our projects focus on understanding the
        biological, social and cognitive underpinnings of autism, developing more effective and personalized
        interventions and supports, and developing innovative models to bridge the gap between research and practice
        through training and knowledge sharing. Our research ranges from basic neuroscience to applied practice. The
        ultimate goal of this work is to empower individuals with autism, their families, and their communities to
        achieve positive outcomes and quality of life.</p>
      <h2>What are the benefits of joining?</h2>
      <p>By joining the Autism DRIVE, you can be matched with research opportunities that may be a good fit for you and
        your family. Your participation will help us learn more about autism so we can develop novel solutions and
        achieve positive outcomes.</p>
    </div>
  </div>

  <div fxLayoutAlign="center center">
    <button
      mat-flat-button
      color="primary"
      (click)="goRegister($event)"
      class="btn-lg"
    >
      Get started now
    </button>
  </div>
</div>
