<div
  id="hero"
  class="gradient-overlay container"
>
  <h1>Training &amp; Resources</h1>
  <div class="row">
    <div class="border-box">
      <h1>Resource Type</h1>
    </div>
    <div>or</div>
    <div class="border-box">
      <h1>Category</h1>
    </div>
  </div>
</div>
<div
  class="resources"
  fxLayout.lt-md="column"
  fxLayout.gt-sm="column"
  fxLayoutGap="40px"
  fxLayoutAlign="center auto"
>
  <div fxFlex.gt-sm="30%">
    <h1>STAR Resources</h1>
    <mat-card>
      <mat-card-title>
        Near you
      </mat-card-title>
      <mat-card-content>
        <agm-map
          [latitude]="mapLoc.lat"
          [longitude]="mapLoc.lng"
          [streetViewControl]="false"
          mapTypeId="roadmap"
          [zoom]="7"
          (mapReady)="mapLoad($event)"
        >
          <agm-marker
            [latitude]="mapLoc.lat"
            [longitude]="mapLoc.lng"
            iconUrl="/assets/map/your-location.svg"
          ></agm-marker>
        </agm-map>
      </mat-card-content>
    </mat-card>
    <h2>Type</h2>
    <mat-card *ngFor="let resourceType of resourceTypes">
      <mat-card-title>
        <app-type-icon [iconType]="resourceType.name" [size]="2"></app-type-icon>
        {{resourceType.label}}
      </mat-card-title>
    </mat-card>

    <h2>Gathered by</h2>
    <mat-card>
      <mat-card-title>
        Charlottesville Region Autism Action Group (CRAAG)
      </mat-card-title>
      <mat-card-content>
        Logo?
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title>
        UVA Supporting Transformative Autism Research (STAR)
      </mat-card-title>
      <mat-card-content>
        Logo?
      </mat-card-content>
    </mat-card>
  </div>
  <div
    fxLayout="column"
    fxLayoutGap="40px"
    *ngIf="query && query.hits"
  >
    <h1>Training &amp; Resources</h1>
    <app-search-result
      *ngFor="let hit of query.hits"
      [hit]="hit"
    ></app-search-result>
  </div>
</div>