#hero {
  background-image: url('/assets/home/hero-parent-child.jpg');

  h1 { color: white; }
}

.resources {
  margin: 2%;

  h1 {
    font-size: 2.5rem;

    &:after {
      content: '';
      background-color: #e57200;
      width: 6.25rem;
      height: .125rem;
      display: block;
    }
  }
}

agm-map { height: 300px; }
.border-box-tile {
  .icofont-1x {
    color: #e57200;
    transition: margin-left 0.5s;
  }

  &:hover .icofont-1x {
    margin-left: 10px;
  }

  .resource-type-label {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}