.resources {
  margin: 2%;

  h1 {
    font-size: 2.5rem;

    &:after {
      content: '';
      background-color: #e57200;
      width: 6.25rem;
      height: .125rem;
      display: block;
    }
  }
}

agm-map { height: 300px; }