<div
  class="resources"
  fxLayout="row"
  fxLayoutGap="2%"
>
  <div
    fxFlex="30%"
  >
    <h2>FILTER BY:</h2>
  </div>
  <div
    fxLayout="column"
    fxLayoutGap="2%"
  >
    <!--<app-resource-tiles></app-resource-tiles>-->
    <mat-card>
      <div
        fxLayout="row"
        fxLayoutAlign="space-between"
      >
        <h1>Resource Title</h1>
        <h3>COMMUNITY RESOURCE</h3>
      </div>
      <p>Resource 1 Description Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
        veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem</p>
    </mat-card>
    <mat-card>
      <div
        fxLayout="row"
        fxLayoutAlign="space-between"
      >
        <h1>Module Title</h1>
        <h3>TRAINING MODULE</h3>
      </div>
      <p>Resource 2 Description Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
        veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem</p>
    </mat-card>
    <mat-card>
      <div
        fxLayout="row"
        fxLayoutAlign="space-between"
      >
        <h1>Resource Title</h1>
        <h3>COMMUNITY RESOURCE</h3>
      </div>
      <p>Resource 3 Description Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
        veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem</p>
    </mat-card>
    <mat-card>
      <div
        fxLayout="row"
        fxLayoutAlign="space-between"
      >
        <h1>Module Title</h1>
        <h3>TRAINING MODULE</h3>
      </div>
      <p>Resource 4 Description Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
        veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem</p>
    </mat-card>
  </div>
</div>
