<div
  id="hero"
  class="gradient-overlay container"
>
  <h1>Training &amp; Resources</h1>
  <div
    class="row"
    fxLayout.lt-sm="column"
    fxLayout.gt-xs="row wrap"
    fxLayoutGap="40px"
    fxLayoutAlign="center auto"
  >
    <div
      *ngFor="let resourceType of resourceTypes"
      class="border-box-tile {{resourceType.name.toLowerCase()}}"
      fxFlex.gt-sm="calc(33% - 160px)"
      fxFlex.sm="calc(50% - 120px)"
    >
      <div
        class="border-box-tile-inner"
        [routerLink]="[ '/search' ]"
        [queryParams]="{Type: resourceType.label}"
      >
        <app-type-icon
          [iconType]="resourceType.name"
          [size]="2"
        ></app-type-icon>
        <div class="border-box-tile-label">{{resourceType.label}}</div>
        <i class="icofont-circled-right icofont-1x"></i>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div
    class="row"
    style="width: 100%"
  >
    <h1>Resources Near You</h1>
    <agm-map
      *ngIf="!loading"
      [latitude]="mapLoc ? mapLoc.lat : defaultLoc.lat"
      [longitude]="mapLoc ? mapLoc.lng : defaultLoc.lng"
      [streetViewControl]="false"
      mapTypeId="roadmap"
      [zoom]="7"
      (mapReady)="mapLoad($event)"
    >
      <agm-marker
        *ngIf="mapLoc"
        [latitude]="mapLoc.lat"
        [longitude]="mapLoc.lng"
        iconUrl="/assets/map/your-location.svg"
      ></agm-marker>

      <ng-container *ngIf="locQuery && locQuery.hits">
        <ng-container *ngFor="let hit of locQuery.hits">
          <agm-marker
            *ngIf="hit.latitude && hit.longitude"
            [latitude]="hit.latitude"
            [longitude]="hit.longitude"
          >
            <agm-info-window>
              <h4>{{hit.title}}</h4>
              <p>{{hit.description}}</p>
              <a
                class="chevron-link"
                [routerLink]="['/' + hit.type.toLowerCase() + '/' + hit.id]"
                routerLinkActive="router-link-active"
              >{{hit.type}} Details - {{hit.milesFrom(mapLoc)}}mi</a>
            </agm-info-window>
          </agm-marker>
        </ng-container>
      </ng-container>
    </agm-map>
    <app-loading *ngIf="loading"></app-loading>
  </div>

  <div
    class="row"
    *ngIf="recentQuery && recentQuery.hits"
  >
    <h1>Recently added</h1>
    <app-search-result
      *ngFor="let hit of recentQuery.hits"
      [hit]="hit"
    ></app-search-result>
  </div>

  <div class="row">
    <h1>Resource partners</h1>
    <p>We are partnering with the following initiatives and organizations to identify resources that will improve
      outcomes for individuals with autism and their families.</p>
    <app-accordion
      *ngFor="let rg of resourceGatherers"
      [item]="rg"
      [ngClass]="{'resource-gatherer': true}"
    ></app-accordion>
  </div>

</div>