<div
  [class]="'search-bar ' + variant"
  fxLayout="column"
>
  <div
    *ngIf="searchInput.value!='Search for Autism Resources'"
    class="search-bar-header"
    fxLayout="row wrap"
    fxLayoutAlign="center center"
    fxLayoutGap="0px"
  >
    <h1 [fxFlex]="videoIsVisible ? 'calc(100% - 66px)' : '100%'">Find Autism Resources</h1>
  </div>
  <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
    <mat-form-field
      id="search-field"
      [fxFlex]="videoIsVisible ? 'calc(100% - 66px)' : '100%'"
      (click)="openAutocompletePanel($event)"
    >
      <input
        matInput
        #searchInput
        (keyup.enter)="updateSearch(false)"
        (keyup.escape)="updateSearch(true)"
        placeholder="Type a search term and/or use filters below"
        type="text"
        [formControl]="searchBoxControl"
        [matAutocomplete]="auto"
        (click)="openAutocompletePanel($event)"
      >
      <mat-autocomplete
        #auto="matAutocomplete"
        #autocompletePanel
        panelWidth="600px"
        (optionSelected)="selectCategory($event)"
        [displayWith]="optionText"
      >
        <mat-option
          *ngFor="let option of filteredOptions | async"
          [value]="option"
        >{{optionText(option)}}</mat-option>
      </mat-autocomplete>
      <div matSuffix fxLayout="row">
        <button
          mat-icon-button
          matSuffix
          fxHide
          [fxShow]="hasWords"
          [ngClass]="{'btn-cancel': true, 'hidden': !hasWords}"
          (click)="updateSearch(true)"
        ><mat-icon>cancel</mat-icon>
        </button>
        <button
          mat-icon-button
          matSuffix
          (click)="updateSearch(false)"
          [ngClass]="{'btn-search': true}"
        ><mat-icon>search</mat-icon>
        </button>
      </div>
    </mat-form-field>
    <button
      class="show-video"
      mat-fab
      [fxHide]="!videoIsVisible"
      (click)="showVideo()"
      matTooltip="Watch a video with tips about resources"
    ><mat-icon>ondemand_video</mat-icon></button>
  </div>
</div>
