@import '../../config';

.search-bar {
  display: inline-flex;
  width: 100%;
  margin-top: 0em;

  &.hidden {
    display: block;
    position: fixed;
    top: 0px;
    left: 100%;
  }

  h1, h5 {
    margin: 0;
    padding: 0;
  }

  .mat-hint {
    font-size: 1em;
  }
}

::ng-deep .search-bar {
  mat-form-field {
    .mat-icon {
      margin-top: 6px;
      margin-bottom: -6px;
    }

    .mat-form-field-wrapper {
      padding: 10px 0px 0px 0px;
    }

    .mat-form-field-infix {
      padding-top: 10px;
      padding-bottom: 10px;
      border-top-width: 0px;
    }

    .mat-icon-button.hidden {
      display: none;
    }
  }

  &.dark-bg {
    .mat-form-field-appearance-outline .mat-form-field-outline {
      color: white;
    }

    .mat-hint,
    input,
    .mat-form-field-label {
      color: white;
    }

    mat-form-field {
      ::placeholder {
        color: rgba(255,255,255,0.7);
      }
    }
  }

  &.light-bg {
    .mat-form-field-appearance-outline .mat-form-field-outline {
      color: black;
    }

    .mat-hint,
    input,
    .mat-form-field-label {
      color: black;
    }

    mat-form-field {
      ::placeholder {
        color: $brand-gray-tint-1;
      }
    }
  }
}

::ng-deep #search-field .mat-form-field-outline {
  background-color: white;
  border-radius: 5px;
}

::ng-deep .mat-option-text {
  font-size: 16px;
  overflow: visible !important;
  text-overflow: unset !important;
}

.search-bar-header {
  h1, h5 {
    padding: 0;
    margin: 0;
  }
}

.btn-cancel, .btn-search {
  margin-top: 4px;
  margin-bottom: -4px;
}
