@use '../../styles/config' as config;

.search-bar {
  display: inline-flex;
  width: 100%;
  margin-top: 3.5em;

  &.hidden {
    display: block;
    position: fixed;
    top: 0;
    left: 100%;
  }

  h1,
  h5 {
    margin: 0;
    padding: 0;
  }

  .mat-hint {
    font-size: 1em;
  }
}

:root .search-bar {
  mat-form-field {
    .mat-icon {
      margin-top: 6px;
      margin-bottom: -6px;
    }

    .mat-form-field-wrapper {
      padding: 10px 0 0;
    }

    .mat-form-field-infix {
      padding-top: 10px;
      padding-bottom: 10px;
      border-top-width: 0;
    }

    .mat-icon-button.hidden {
      display: none;
    }
  }

  &.dark-bg {
    .mat-form-field-appearance-outline .mat-form-field-outline {
      color: white;
    }

    .mat-hint,
    input,
    .mat-form-field-label {
      color: white;
    }

    mat-form-field {
      ::placeholder {
        color: rgb(255 255 255 / 70%);
      }
    }
  }

  &.light-bg {
    .mat-form-field-appearance-outline .mat-form-field-outline {
      color: black;
    }

    .mat-hint,
    input,
    .mat-form-field-label {
      color: black;
    }

    mat-form-field {
      ::placeholder {
        color: config.$brand-gray-tint-1;
      }
    }
  }
}

:root #search-field .mat-form-field-outline {
  background-color: white;
  border-radius: 5px;
}

:root .mat-option-text {
  font-size: 16px;
  overflow: visible !important;
  text-overflow: unset !important;
}

.search-bar-header {
  h1,
  h5 {
    padding: 0;
    margin: 0;
  }
}

.btn-cancel,
.btn-search {
  margin-top: 4px;
  margin-bottom: -4px;
}
