<div
  [class]="'search-bar ' + variant"
>
  <mat-form-field fxFlex="100%" id="search-field">
    <input
      matInput
      #searchInput
      (keyup.enter)="updateSearch(false)"
      (keyup.escape)="updateSearch(true)"
      placeholder="Search for Autism Support Resources"
      type="text"
    >
    <div
       matSuffix
      fxLayout="row"
    >
      <button
        mat-icon-button
        matSuffix
        [ngClass]="{'btn-cancel': true, 'hidden': !hasWords()}"
        (click)="updateSearch(true)"
      ><mat-icon>cancel</mat-icon>
      </button>
      <button
        mat-icon-button
        matSuffix
        (click)="updateSearch(false)"
        [ngClass]="{'btn-search': true}"
      ><mat-icon>search</mat-icon>
      </button>
    </div>
  </mat-form-field>
</div>
