<div
  [class]="'search-bar ' + variant"
  fxLayout="column"
>
  <h1>Find Autism Resources</h1>
  <mat-form-field id="search-field">
    <input
      matInput
      #searchInput
      (keyup.enter)="updateSearch(false)"
      (keyup.escape)="updateSearch(true)"
      placeholder="Search for Autism Resources"
      type="text"
      [formControl]="searchBoxControl"
      [matAutocomplete]="auto"
    >
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="updateSearch(false)">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
    <div
       matSuffix
      fxLayout="row"
    >
      <button
        mat-icon-button
        matSuffix
        *ngIf="hasWords()"
        [ngClass]="{'btn-cancel': true, 'hidden': !hasWords()}"
        (click)="updateSearch(true)"
      ><mat-icon>cancel</mat-icon>
      </button>
      <button
        mat-icon-button
        matSuffix
        (click)="updateSearch(false)"
        [ngClass]="{'btn-search': true}"
      ><mat-icon>search</mat-icon>
      </button>
    </div>
    <mat-hint>Type a search term or select a resources category</mat-hint>
  </mat-form-field>
</div>
