<mat-toolbar *ngIf="!hideHeader">
  <mat-toolbar-row
    id="menu-bar"
    fxLayout="row"
  >
    <app-logo></app-logo>
    <div id="primary-nav">
      <a
        mat-button
        [routerLink]="[ '/enroll' ]"
        routerLinkActive="selected"
        id="enroll-button"
      >Join the Autism Registry</a>
      <a
        mat-button
        [routerLink]="[ '/studies' ]"
        routerLinkActive="selected"
        id="studies-button"
      >Current studies</a>
      <a
        mat-button
        [routerLink]="[ '/resources' ]"
        routerLinkActive="selected"
        id="resources-button"
      >Training & Resources</a>
    </div>

    <span fxFlex></span>

    <div id="utility-nav">
      <a
        mat-button
        *ngIf="!currentUser"
        [routerLink]="[ '/terms' ]"
        routerLinkActive="selected"
        id="register-button"
      >
        <mat-icon>person_add</mat-icon>
        Create Account
      </a>
      <a
        mat-button
        *ngIf="!currentUser"
        [routerLink]="[ '/login' ]"
        routerLinkActive="selected"
        id="login-button"
      >
        <mat-icon>account_circle</mat-icon>
        Sign in
      </a>
      <a
        mat-button
        *ngIf="currentUser"
        [routerLink]="[ '/profile' ]"
        routerLinkActive="selected"
        id="profile-button"
      >
        <mat-icon>account_circle</mat-icon>
        Visit Profile
      </a>
      <a
        mat-button
        *ngIf="currentUser"
        (click)="goLogout($event)"
        id="logout-button"
      >
        <mat-icon>exit_to_app</mat-icon>
        Logout
      </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div class="content">
  <router-outlet></router-outlet>
</div>
