// Import theming functions
@import '../../node_modules/@angular/material/theming';
// Import your custom theme
@import '../stardrive_material';
// Load the STAR DRIVE Theme
@include stardrive-theme($stardrive-theme);

#menu-bar {
  background-color: white;
  height: 120px;

  mat-toolbar-row {
    a {
      text-decoration: none;
      color: inherit;
    }
  }

  #primary-nav, #utility-nav {
    .mat-button {
      color: mat-color($stardrive-primary, default, 1);

      &.selected {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border-bottom-width: 4px;
        border-bottom-style: solid;
        border-bottom-color: mat-color($stardrive-primary, default, 1);
      }
    }
  }

  #primary-nav .mat-button {
    margin-top: 56px;
    margin-bottom: 0px;
  }

  #utility-nav .mat-button {
    margin-top: 0px;
    margin-bottom: 56px;
  }

  #search-bar, #search-button {
    display: inline-flex;

    &.hidden {
      display: block;
      position: fixed;
      top: 0px;
      left: 100%;
    }
  }

  ::ng-deep #search-field .mat-form-field-infix {
    padding-top: 6px;
    padding-bottom: 6px;
    border-top-width: 0px;
  }
}
