
mat-toolbar {
  padding: 0 0 5% 0;

  mat-toolbar-row {
    a {
      text-decoration: none;
      color: inherit;
    }

    .fill-remaining-space {
      flex: 1 1 auto;
    }

    .mat-divider-vertical {
      color: white;
    }

    .nav {
      button {
        background-color: transparent;
        border: transparent;
      }
    }
  }
  .menubar {
    color: #777777;
    font-size: 12px;
    background-color: transparent;
  }

  button {
    margin: 1em;
  }

  img {
    &.logo {
      //margin: 20px;
      padding-top: 60px;
      padding-bottom: 50px;
      height: 100px;
      max-height: 100px;
      background-color: white;
    }
  }
}
