@use '../../styles/config' as config;

#hero {
  background-image: url('/public/home/hero-family.jpg');
  background-position: 50% 33%;
  padding-top: 80px;
  padding-bottom: 80px;

  .hero-content {
    text-align: center;

    h1 {
      font-family: bodoni-urw, serif;
      text-transform: uppercase;
    }

    hr {
      border-top-width: 4px;
      margin: 1em auto;
    }
  }
}

.more-studies {
  text-align: center;
  padding-top: 2em;
}
