.highlight {
  padding: 2em;
  color: white;
  background-color: #777777;
  height: 300px;
}

.action {
  padding: 2em;

  button {
    margin: 2em;
  }
}

.news {
  mat-card {
    margin: 1em;
    color: white;
    background-color: #777777;
    height: 300px;
  }
}

