<app-hero-slides [slides]=heroSlides></app-hero-slides>
<div class="container mat-typography">
  <div
    class="row action"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <p class="intro">Improving the lives of individuals with autism and their families through ground-breaking research
      and innovative models for care, support, and education.</p>
    <div id="cta">
      <button
        mat-flat-button
        (click)="goEnroll($event)"
        color="primary"
        class="btn-lg"
      >
        Join the STAR Community
      </button>
      <button
        mat-flat-button
        (click)="goResources($event)"
        color="accent"
        class="btn-lg"
      >
        Find autism support
      </button>
    </div>
  </div>
  <div
    class="row news"
    fxLayout="column"
  >
    <app-news-item
      *ngFor="let item of newsItems; let i = index"
      [item]="item"
      [index]="i"
    ></app-news-item>
  </div>
</div>