// Import theming functions
@import '../../../node_modules/@angular/material/theming';
// Import your custom theme
@import '../../stardrive_material';
// Load the STAR DRIVE Theme
@include stardrive-theme($stardrive-theme);

.action {
  padding: 2em;

  button {
    margin: 1em;
  }
}

.news {
  mat-card {
    margin: 1em;
    color: white;
    background-color: #777777;
    height: 300px;
  }
}

#hero {
  background-image: url('/assets/home/hero.jpg');
}

#news1 {
  background-image: url('/assets/home/news1.jpg');
}

#news2 {
  background-image: url('/assets/home/news2.jpg');
}

#news3 {
  background-image: url('/assets/home/news3.jpg');
}
