.container {
  // SM
  @media (max-width: 959px) {
    min-height: 70vh;
  }

  // MD
  @media (min-width: 960px) {
    min-height: 80vh;
  }

  // XL
  @media (min-width: 1280px) {
    min-height: 90vh;
  }
}

div.message {
  text-align: center;
}
