.container {
  // SM
  @media (width <= 959px) {
    min-height: 70vh;
  }

  // MD
  @media (width >= 960px) {
    min-height: 80vh;
  }

  // XL
  @media (width >= 1280px) {
    min-height: 90vh;
  }
}

div.message {
  text-align: center;
}
