<p><b>Participant ID: {{participant.id}}</b></p>
<p>Name: {{participant.name || '(None given)'}}</p>
<p>Relationship: {{participant.relationship}}</p>
<p>Last Updated: {{participant.last_updated | date:'short'}}</p>
<p>Percent Complete: {{participant.percent_complete | percent}}</p>
<div *ngIf="participant.step_log && participant.step_log.length > 0">
  <h5>Step Log:</h5>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="questionnaire_name">
    <th mat-header-cell *matHeaderCellDef> Questionnaire Name </th>
    <td mat-cell *matCellDef="let element"> {{element.questionnaire_name}} </td>
  </ng-container>

  <ng-container matColumnDef="questionnaire_id">
    <th mat-header-cell *matHeaderCellDef> Questionnaire ID </th>
    <td mat-cell *matCellDef="let element"> {{element.questionnaire_id}} </td>
  </ng-container>

  <ng-container matColumnDef="flow">
    <th mat-header-cell *matHeaderCellDef> Flow </th>
    <td mat-cell *matCellDef="let element"> {{element.flow}} </td>
  </ng-container>

  <ng-container matColumnDef="participant_id">
    <th mat-header-cell *matHeaderCellDef> Participant ID </th>
    <td mat-cell *matCellDef="let element"> {{element.participant_id}} </td>
  </ng-container>

  <ng-container matColumnDef="user_id">
    <th mat-header-cell *matHeaderCellDef> User ID </th>
    <td mat-cell *matCellDef="let element"> {{element.user_id}} </td>
  </ng-container>

  <ng-container matColumnDef="date_completed">
    <th mat-header-cell *matHeaderCellDef> Date Completed </th>
    <td mat-cell *matCellDef="let element"> {{element.date_completed | date:'short'}} </td>
  </ng-container>

  <ng-container matColumnDef="time_on_task_ms">
    <th mat-header-cell *matHeaderCellDef> Time On Task MS </th>
    <td mat-cell *matCellDef="let element"> {{element.time_on_task_ms}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
