<div *ngIf="currentUser && currentUser.permissions.includes('publish_resource')">
  <h1>Topics Taxonomy</h1>
  <p>To add a topic, click the plus sign next to the parent topic and fill in the name</p>
  <p>To delete a topic, use the button directly next to the topic; it is only possible to delete one topic at a time and only possible to delete topics with no associated children topics.</p>
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="tree-select taxonomy-admin">
    <!-- Child node-->
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
      <li class="mat-tree-node">
        <!-- use a disabled button to provide padding for tree leaf -->
        <button disabled mat-icon-button></button>
        {{node.name}}
        <button mat-button [routerLink]="[ '/search' ]" [queryParams]="{'category': node.id}">({{node.study_count + node.event_count + node.location_count + node.resource_count}} associated records)</button>
        <button mat-icon-button (click)="addNewItem(node)"><mat-icon>add</mat-icon></button>
        <button
          type="button"
          mat-flat-button
          *ngIf="!showConfirmDelete"
          (click)="showDelete(node)"
          color="warn"
        >Delete {{node.name}}</button>

        <button
          *ngIf="showConfirmDelete && (node.id===nodeToDelete.id)"
          type="button"
          mat-flat-button
          (click)="deleteNode(node)"
          color="warn"
        >Permanently Delete {{node.name}}!!!
        </button>
      </li>
    </mat-tree-node>

    <!--New Item Node-->
    <mat-tree-node *matTreeNodeDef="let node; when: hasNoContent" matTreeNodeToggle>
      <li>
        <button mat-icon-button disabled></button>
        <mat-form-field>
          <mat-label>New item...</mat-label>
          <input matInput #itemValue placeholder="Ex. Topic Name">
        </mat-form-field>
        <button mat-button (click)="saveNode(node, itemValue.value)">Save</button>
      </li>
    </mat-tree-node>

    <!-- Parent node -->
    <mat-nested-tree-node *matTreeNodeDef="let node; when: hasNestedChild">
      <li>
        <div class="mat-tree-node">
          <button
            [attr.aria-label]="'toggle ' + node.name"
            class="toggle-node-button"
            mat-icon-button
            matTreeNodeToggle
          >
            <mat-icon class="mat-icon-rtl-mirror">
              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>
          {{node.name}}
          <button mat-button [routerLink]="[ '/search' ]" [queryParams]="{'category': node.id}">({{node.study_count + node.event_count + node.location_count + node.resource_count}} associated records)</button>
          <button mat-icon-button (click)="addNewItem(node)"><mat-icon>add</mat-icon></button>
        </div>
        <ul [class.tree-select-invisible]="!treeControl.isExpanded(node)">
          <ng-container matTreeNodeOutlet></ng-container>
        </ul>
      </li>
    </mat-nested-tree-node>
  </mat-tree>
</div>
