@import "../../config";

.tree-select-invisible {
  display: none;
}

.tree-select ul,
.tree-select li {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1rem;
  list-style-type: none;

  button.toggle-node-button {
    outline: none !important;
  }
}

.associated-records {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.highlight-node {
  background-color: $brand-primary-light;
  -webkit-animation-name: fade-out;
  animation: fade-out 5s forwards;
}

@keyframes fade-out {
  0% { background-color: $brand-primary-light; }
  100% { background-color: transparent; }
}
