<div
  id="hero"
  class="center-center gradient-overlay container with-escaping-tiles"
  ngClass.lt-md="margin-bottom-none"
>
  <div class="hero-content">
    <h1>Autism Research Studies</h1>
  </div>
  <div
    class="row escaping-tiles-1x"
    fxLayout="row"
    fxLayoutGap="40px"
    fxLayoutAlign="center auto"
    id="TopOfSearch"
  >
    <mat-form-field fxHide.lg fxHide.xl fxHide.md fxShow.lt-md>
      <mat-label>Resource types</mat-label>
      <mat-select [(value)]="selectedStatus">
        <mat-select-trigger>
          <app-type-icon
            *ngIf="selectedStatus"
            [iconType]="selectedStatus && selectedStatus.name"
            [size]="1"
          ></app-type-icon>
          <span class="type-label" *ngIf="selectedStatus">{{selectedStatus.label}}</span>
        </mat-select-trigger>
        <mat-option
          *ngFor="let status of studyStatuses"
          [value]="status"
          (click)="selectStatus(status)"
        >
          <span class="type-label">{{status.label}}</span>
        </mat-option>
      </mat-select>
    </mat-form-field>

    <app-border-box-tile
      *ngFor="let status of studyStatuses"
      fxShow.md fxShow.lg fxShow.xl
      fxHide.lt-md
      fxFlex.gt-sm="calc(33% - 160px)"
      fxFlex.sm="calc(50% - 120px)"
      [iconSize]="2"
      [iconType]="status.name"
      [title]="status.label"
      [linkSize]="1"
      [isSelected]="selectedStatus.name === status.name"
      (click)="selectStatus(status)"
      [attr.data-study-status]="status.name"
    ></app-border-box-tile>
  </div>
</div>

<div
  class="studies pad-4"
  fxLayout="column"
  fxLayoutGap="40px"
>
  <app-add-button *ngIf="currentUser && currentUser.role == 'admin'" [addLabel]='"Add Study"' [addLink]='"studies/add"' [currentUser]=currentUser></app-add-button>
  <h2>{{selectedStatus.label}}</h2>
  <ng-container *ngIf="query && query.hits && studyHits && (studyHits.length > 0)">
    <app-search-result
      *ngFor="let hit of studyHits"
      [hit]="hit"
      [attr.data-study-status]="selectedStatus.name"
    ></app-search-result>
  </ng-container>
  <p
    *ngIf="!query || !query.hits || !studyHits || (studyHits.length === 0)"
    class="no-results"
    [attr.data-study-status]="selectedStatus.name"
  >
    We don't have any Autism DRIVE studies
    <span *ngIf="selectedStatus.name === 'currently_enrolling'">that are enrolling</span>
    <span *ngIf="selectedStatus.name === 'study_in_progress'">that are in progress</span>
    <span *ngIf="selectedStatus.name === 'results_being_analyzed'">where results are being analyzed</span>
    <span *ngIf="selectedStatus.name === 'study_results_published'">where results have been published</span>
    at this time, but we're working on it. Check back soon, as the status of our research is constantly changing!
  </p>
</div>
