@import '../../config';

#hero {
  background-image: url('/assets/studies/hero.jpg');

  h1 {
    color: white;
  }
}

.studies {
  margin: 2%;

  h1 {
    font-size: 2.5rem;

    &:after {
      content: '';
      background-color: #e57200;
      width: 6.25rem;
      height: .125rem;
      display: block;
    }
  }
}

.covid19-alert {
  margin: 2%;

  p {
    max-width: 960px;
  }
}
