@import '../../config';

#hero {
  background-image: url('/assets/studies/hero.jpg');

  h1 {
    color: white;
  }
}

.studies {
  padding: 5.5%;

  h1 {
    font-size: 2.5rem;

    &:after {
      content: '';
      background-color: #e57200;
      width: 6.25rem;
      height: .125rem;
      display: block;
    }
  }
}

.covid19-alert {
  margin: 2%;

  p {
    max-width: 960px;
  }
}

/* desktop display */
.mobile_device_480px {
  display: none;
}

/* phone display */
@media only screen and (max-device-width: 480px) {
  .mobile_device_480px{display: block;}
  .desktop {display: none;}
}
