<div
  class="studies"
  fxLayout="row"
  fxLayoutGap="2%"
  fxLayoutAlign="center auto"
>
  <div fxFlex="30%">
    <h1>STAR Research</h1>
    <h2>About our research</h2>
    <p>The Supporting Transformative Autism Research (STAR) project was designed to
      ignite discovery, improve systems of care, and equip communities with best practices
      to support people with autism across the lifespan. STAR brings together researchers,
      community partners, individuals with autism and their families to identify challenges
      and co-develop innovative solutions.</p>
    <p>We aim to address critical knowledge gaps in areas that have the greatest potential
      to improve the lives of individuals with autism and their families.  Our projects focus
      on understanding the biological, social and cognitive underpinnings of autism,
      developing more effective and personalized interventions and supports, and developing
      innovative models to bridge the gap between research and practice through training and
      knowledge sharing.  Our research ranges from basic neuroscience to applied practice.
      The ultimate goal of this work is to empower individuals with autism, their families,
      and their communities to achieve positive outcomes and quality of life.</p>
  </div>
  <div
    fxFlex="60%"
    fxLayout="column"
    fxLayoutGap="40px"
    *ngIf="query && query.hits"
  >
    <h1>Current Studies</h1>
    <app-search-result
      *ngFor="let hit of query.hits"
      [hit]="hit"
      [isFeatured]="true"
    ></app-search-result>
  </div>
</div>
