@use "/src/config" as config;

.studies {
  padding: 5.5%;

  h1 {
    font-size: 2.5rem;

    &::after {
      content: '';
      background-color: #e57200;
      width: 6.25rem;
      height: 0.125rem;
      display: block;
    }
  }
}

#hero {
  background-image: url('/assets/studies/hero.jpg');

  h1 {
    color: white;
  }
}



:root .mat-form-field-wrapper {
  margin-bottom: -1.25em;
}

.covid19-alert {
  margin: 2%;

  p {
    max-width: 960px;
  }
}

/* desktop display */
.mobile-device-480px {
  display: none;
}

/* mobile display */
@media only screen and (device-width <= 480px) {
  .mobile-device-480px {
    display: block;
  }

  .desktop {
    display: none;
  }
}
