@use 'sass:map';
@use 'sass:color' as color;
@use 'colors' as colors;

// GLOBAL SCSS VARIABLES
$body-font-family: 'franklin-gothic-urw';
$heading-font-family: 'franklin-gothic-urw';
$primary-colors: map.get(colors.$all-palettes, primary);
$secondary-colors: map.get(colors.$all-palettes, secondary);
$tertiary-colors: map.get(colors.$all-palettes, tertiary);
$neutral-colors: map.get(colors.$all-palettes, neutral);
$neutral-variant-colors: map.get(colors.$all-palettes, neutral-variant);
$error-colors: map.get(colors.$all-palettes, error);

// UVA BRAND COLOR PALETTE
// https://brand.virginia.edu/design-assets/colors
$uva-primary-color: #232d4b; // Primary Colors > UVA Blue
$uva-secondary-color: #e57200; // Primary Colors > UVA Orange
$uva-tertiary-color: #62bb46; // Secondary Colors > Green
$uva-neutral-color: #c8cbd2; // Primary Colors > UVA Blue 25%
$uva-neutral-variant-color: #666; // Additional Web-Only Colors > Text Gray
$uva-error-color: #df1e43; // Additional Web-Only Colors > Emergency Red

// gray
$brand-gray: map.get($neutral-colors, 30);
$brand-gray-tint-1: map.get($neutral-colors, 40);
$brand-gray-tint-2: map.get($neutral-colors, 80);
$brand-gray-tint-3: map.get($neutral-colors, 95);
$brand-gray-tint-4: map.get($neutral-colors, 98);
$body-color: $brand-gray;
$body-color-muted: $brand-gray-tint-1;
$body-color-light: $brand-gray-tint-4;

// primary (UVA Blue)
$brand-primary: $uva-primary-color;
$brand-primary-tint-1: map.get($primary-colors, 25);
$brand-primary-tint-2: map.get($primary-colors, 50);
$brand-primary-tint-3: map.get($primary-colors, 70);
$brand-primary-tint-4: map.get($primary-colors, 80);
$brand-primary-shade-1: map.get($primary-colors, 20);
$brand-primary-shade-2: map.get($primary-colors, 10);
$brand-primary-muted: $brand-primary-tint-1;
$brand-primary-light: $brand-primary-tint-4;

// accent (UVA Orange)
$brand-accent: $uva-secondary-color;
$brand-accent-tint-1: map.get($primary-colors, 70);
$brand-accent-tint-2: map.get($primary-colors, 80);
$brand-accent-tint-3: map.get($primary-colors, 90);
$brand-accent-tint-4: map.get($primary-colors, 95);
$brand-accent-muted: $brand-accent-tint-1;
$brand-accent-light: $brand-accent-tint-4;

// warning (UVA Emergency Red)
$brand-warning: $uva-error-color;
$brand-warning-muted: color.adjust(map.get($error-colors, 30), $saturation: -20%);
$brand-warning-light: map.get($error-colors, 80);

// OTHER OPTIONS

// Animation
$ease-duration: 300ms;
$animation-duration: 500ms;

// Layout
$tile-height-1x: 226px;
$tile-height-2x: 288px;
$uva-header-height: 40px;
$site-header-height: 64px;
$search-bar-height-sm: 64px;
$search-bar-height-md: 64px;
$search-bar-height-lg: 64px;
$secondary-toolbar-height: 40px;
$header-height-sm: 160px;
$header-height-md: 240px;
$header-height-lg: 144px;
