<div *ngIf="flow.name === 'self_intake'">
  <h1>Your Information</h1>
  <p>In the next few minutes you will be completing a series of questions about yourself and your
    relationship to Autism.  Please be as thorough as you can.
  </p>
</div>

<div *ngIf="flow.name === 'dependent_intake'">
  <h1>Dependent Information</h1>
  <p>In the next few minutes you will be completing a series of questions about your dependent.
  </p>
</div>

<div *ngIf="flow.name === 'guardian_intake'">
  <h1>Guardian Questions</h1>
  <p>In the next few minutes you will be completing a short series of questions about yourself.  When you are finished, we will ask you complete a separate set of questions about your dependent(s).
  </p>
</div>

<div *ngIf="flow.name === 'professional_intake'">
  <h1>Professional Details</h1>
  <p>In the next few minutes you will be completing a series of questions about yourself and your
    relationship to Autism.
  </p>
</div>

<div id="instructions">
  <h2>Instructions</h2>
  <p>You will notice that some of the questionnaires to the left have "lock" icons. These questionnaires are considered to be sensitive information and to protect your privacy will be immediately saved on a secure server which will only be accessed as needed by approved STAR study team members for study purposes. You can provide this information again in full at any time if you need to edit what is currently stored on the secure server, which is not accessible by this site.</p>

  <p>Click the "Next" button below to get started.</p>
  <div class="button-row">
    <button
      mat-flat-button
      type="button"
      color="primary"
      (click)="continue()"
      id="next-button"
    >Next</button>
    <button
      mat-flat-button
      type="button"
      [routerLink]="['/profile']"
      id="intro-cancel-button"
    >Cancel</button>
  </div>
</div>
