<div *ngIf="flow.name === 'self_intake'">
  <h1>Your Information</h1>
  <p>
    In the next few minutes you will be completing a series of questions about yourself and your relationship to autism.
    Please be as thorough as you can.
  </p>
</div>

<div *ngIf="flow.name === 'dependent_intake'">
  <h1>Dependent Information</h1>
  <p>In the next few minutes you will be completing a series of questions about your dependent.</p>
</div>

<div *ngIf="flow.name === 'guardian_intake'">
  <h1>Parent/Guardian Information</h1>
  <p>
    In the next few minutes you will be completing a short series of questions about yourself. When you are finished, we
    will ask you to complete a separate set of questions about your dependent(s).
  </p>
</div>

<div *ngIf="flow.name === 'professional_intake'">
  <h1>Professional Details</h1>
  <p>
    In the next few minutes you will be completing a series of questions about yourself and your relationship to Autism.
  </p>
</div>

<div id="instructions">
  <h2>Instructions</h2>
  <p>
    Please complete your profile by clicking the next button below. If you need to change your information at any time,
    please re-complete the questionnaires (listed on the left) that you'd like to change and your information will be
    updated.
  </p>
  <p>
    Some of the questionnaires to the left might have "lock" icons because these questionnaires are considered to be
    asking for sensitive information. To protect your privacy, information you provide on these pages will be
    immediately saved on a secure server which will only be accessed as needed for study purposes by approved STAR study
    team members.
  </p>

  <p>Click the "Next" button below to get started.</p>
  <div class="button-row">
    <button mat-flat-button type="button" color="primary" (click)="continue()" id="next-button">Next</button>
    <button mat-flat-button type="button" [routerLink]="['/profile']" id="intro-cancel-button">Cancel</button>
  </div>
</div>
