<div *ngIf="flow.name === 'self_intake'">
  <h1>Your Information</h1>
  <p>In the next few minutes you will be completing a series of questions about yourself and your
    relationship to Autism.  Please be as thorough as you can.
  </p>
</div>

<div *ngIf="flow.name === 'dependent_intake'">
  <h1>Dependent Information</h1>
  <p>In the next few minutes you will be completing a series of questions about your dependent.
  </p>
</div>

<div *ngIf="flow.name === 'guardian_intake'">
  <h1>Guardian Questions</h1>
  <p>In the next few minutes you will be completing a short series of questions about yourself.  When ou are finished, we will ask you complete a separate set of questions about your dependent(s).
  </p>
</div>

<div *ngIf="flow.name === 'professional_intake'">
  <h1>Professional Details</h1>
  <p>In the next few minutes you will be completing a series of questions about yourself and your
    relationship to Autism.
  </p>
</div>

<div>
  <h2>Instructions</h2>
  <p>You will notice that some of the questionnaires to the right have "lock" icons.  These questionnaires are considered to be sensitive information and will be immediately archived
  to protect your privacy.  Once completed you cannot go back and edit these details, but you may complete them again later if you need to get us updated information. </p>

  <p>Click the "Next" button below to get started.</p>
  <button
    mat-flat-button
    type="button"
    color="primary"
    (click)="continue()">Next</button>
</div>
