<div fxLayout="column" fxLayoutGap="2em">
  <mat-card *ngIf="!loading && (relatedStudies.length > 0)" [ngClass]="{'related-items': true}">
    <mat-card-title>Related Research Studies</mat-card-title>
    <mat-card-content>
      <mat-list>
        <div *ngFor="let relStudy of relatedStudies">
          <mat-list-item>
            <a  mat-line (click)="goStudy(relStudy.id)"><app-type-icon [iconType]="'study'"></app-type-icon>  {{relStudy.short_title || relStudy.title}}</a>
            <p mat-line>{{relStudy.short_description || relStudy.description}}</p>
          </mat-list-item>
        </div>
      </mat-list>
    </mat-card-content>
  </mat-card>
  <mat-card *ngIf="!loading && (relatedResources.length > 0)" [ngClass]="{'related-items': true}">
    <mat-card-title>Related Resources</mat-card-title>
    <mat-card-content>
      <mat-list>
        <div *ngFor="let relResource of relatedResources">
          <mat-list-item>
            <a  mat-line (click)="goResource(relResource.id)"><app-type-icon [iconType]="relResource.type"></app-type-icon>  {{relResource.title}}</a>
            <p mat-line>{{relResource.description}}</p>
          </mat-list-item>
        </div>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
