$avatar-image-height: 96px;
$color-swatch-height: 64px;
$border-width: 8px;
$button-padding: 48px;
$white-1: rgb(255 255 255 / 100%);
$white-0: rgb(255 255 255 / 0%);

.avatar {
  position: relative;
  height: ($avatar-image-height * 2);
  width: ($avatar-image-height * 2);
  border-radius: 50%;

  img {
    height: ($avatar-image-height * 2);
    width: ($avatar-image-height * 2);
  }
}

.avatar-images-row,
.color-swatches-row {
  display: grid;
  grid-gap: 0;

  /* Small devices (landscape phones, 576px and up) */
  @media (width >= 576px) {
    grid-template-columns: 1fr 4fr 1fr;
  }

  /* Medium devices (tablets, 768px and up) */
  @media (width >= 768px) {
    grid-template-columns: 1fr 6fr 1fr;
  }

  /* Large devices (desktops, 992px and up) */
  @media (width >= 992px) {
    grid-template-columns: 1fr 8fr 1fr;
  }

  /* Extra large devices (large desktops, 1200px and up) */
  @media (width >= 1200px) {
    grid-template-columns: 1fr 10fr 1fr;
  }

  .scroll-left,
  .scroll-right {
    height: 100%;
  }

  .scroll-left,
  .scroll-left:hover,
  .scroll-left:active,
  .scroll-left:focus {
    background-image: linear-gradient(to right, $white-1, $white-1, $white-0);
  }

  .scroll-right,
  .scroll-right:hover,
  .scroll-right:active,
  .scroll-right:focus {
    background-image: linear-gradient(to right, $white-0, $white-1, $white-1);
  }
}

.avatar-images,
.color-swatches {
  overflow-x: scroll;
  white-space: nowrap;
  scroll-behavior: smooth;
}

.avatar-images {
  height: ($avatar-image-height + $border-width * 2);
}

.color-swatches {
  height: ($color-swatch-height + $border-width * 2);
}

.color-swatch,
.avatar-image {
  border-width: $border-width;
  border-style: solid;
  border-color: white;
  display: inline-block;
  background: transparent;
  outline: none;
  margin: 0 0 0 10px;
  padding: 0;
  border-radius: 50%;

  // &:first-of-type {
  //   margin-left: ($button_padding * 2);
  // }
  // &:last-of-type {
  //   margin-right: ($button_padding * 2);
  // }
}

.color-swatch {
  width: $color-swatch-height;
  height: $color-swatch-height;
}

.avatar-image {
  width: ($avatar-image-height + ($border-width * 2));
  height: ($avatar-image-height + ($border-width * 2));
  background: #eee;

  img {
    width: $avatar-image-height;
    height: $avatar-image-height;
  }
}

.color-swatch-active,
.avatar-image-active {
  border-color: #999;
}
