$avatar_image_height: 96px;
$color_swatch_height: 64px;
$border_width: 8px;
$button_padding: 48px;
$white_1: rgba(255, 255, 255, 1);
$white_0: rgba(255, 255, 255, 0);
.avatar {
  height: ($avatar_image_height * 2);
  width: ($avatar_image_height * 2);
  border-radius: 50%;
  img {
    height: ($avatar_image_height * 2);
    width: ($avatar_image_height * 2);
  }
}

.avatar-images-row,
.color-swatches-row {
  display: grid;
  grid-gap: 0px;

  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) {
    grid-template-columns: 1fr 4fr 1fr;
  }

  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    grid-template-columns: 1fr 6fr 1fr;
  }

  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    grid-template-columns: 1fr 8fr 1fr;
  }

  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
    grid-template-columns: 1fr 10fr 1fr;
  }

  .scroll-left,
  .scroll-right {
    height: 100%;
  }
  .scroll-left,
  .scroll-left:hover,
  .scroll-left:active,
  .scroll-left:focus {
    background-image: linear-gradient(to right, $white_1, $white_1, $white_0);
  }
  .scroll-right,
  .scroll-right:hover,
  .scroll-right:active,
  .scroll-right:focus {
    background-image: linear-gradient(to right, $white_0, $white_1, $white_1);
  }
}

.avatar-images,
.color-swatches {
  overflow-x: scroll;
  white-space: nowrap;
  scroll-behavior: smooth;
}

.avatar-images {
  height: ($avatar_image_height + $border_width * 2);
}

.color-swatches {
  height: ($color_swatch_height + $border_width * 2);
}

.color-swatch,
.avatar-image {
  border-width: $border_width;
  border-style: solid;
  border-color: white;
  display: inline-block;
  background: transparent;
  outline: none;
  margin: 0px 0px 0px 10px;
  padding: 0px;
  border-radius: 50%;
  // &:first-of-type {
  //   margin-left: ($button_padding * 2);
  // }
  // &:last-of-type {
  //   margin-right: ($button_padding * 2);
  // }
}

.color-swatch {
  width: $color_swatch_height;
  height: $color_swatch_height;
}

.avatar-image {
  width: ($avatar_image_height + ($border_width * 2));
  height: ($avatar_image_height + ($border_width * 2));
  background: #eeeeee;
  img {
    width: $avatar_image_height;
    height: $avatar_image_height;
  }
}

.color-swatch-active,
.avatar-image-active {
  border-color: #999999;
}
