 @use "config" as config;

map-view {
  height: 50vh;
  width: 100%;
}

:root .gm-style-iw.gm-style-iw-c,
:root .gm-style-iw-d {
  max-height: 50vh !important;

  @media (width <= 575px) {
    max-width: 90vw !important;
  }

  @media (width >= 576px) {
    max-width: 80vw !important;
  }

  @media (width >= 768px) {
    max-width: 50vw !important;
  }

  @media (width >= 960px) {
    max-width: 40vw !important;
  }

  @media (width >= 1200px) {
    max-width: 30vw !important;
  }
}

.no-address-message {
  font-weight: 700;
  color: config.$brand-accent;
}

.button-overlay {
  position: absolute;
  top: 20%;
  left: 10%;
  width: 60%;
  z-index: 3;
}

.video-image-box {
  position: relative;

  .image {
    width: 80%;
  }

  img {
    width: 100%;
  }
}

#resource-details h1 {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
