<div
  *ngIf="!loading && resource"
  class="container"
  id="resource"
>
  <div
    class="row"
    fxLayout="row"
    fxLayout.lt-lg="column"
    fxLayoutGap="40px"
  >
    <div
      id="resource-details"
      fxFlex.gt-md="60%"
      fxLayout="column"
      fxLayoutGap="40px"
    >
      <h1>{{resource.title}}</h1>
      <p *ngIf="resource.is_draft === true">[DRAFT]</p>
      <app-edit-button *ngIf="currentUser && currentUser.permissions.includes('edit_resource')" [currentUser]="currentUser" [editLink]='resource.type + "/" + resource.id + "/edit"' [editLabel]='"Edit " + resource.type'></app-edit-button>
      <app-favorite-resource-button [resource]="resource" [user]="currentUser"></app-favorite-resource-button>
      <p>Last Updated: {{resource.last_updated | date:'longDate'}}</p>
      <h2>About this resource</h2>
      <p *ngIf="resource.is_draft === true && (!currentUser || currentUser && !currentUser.permissions.includes('edit_resource'))">This resource is being edited and is under review. Please check back for more up-to-date information soon.</p>
      <p>{{resource.description}}</p>
      <p *ngIf="resource.insurance">Insurance accepted: {{resource.insurance}}</p>

      <div *ngIf="safeVideoLink">
        <div *ngIf="currentUser">
          <iframe fxFlex="100%" height="500px" [src]='safeVideoLink' frameborder="0" allowfullscreen></iframe>
        </div>
        <div *ngIf="!currentUser">
          <h2>Interested in watching this video?</h2>
          <div class="video-image-box">
            <div class="gradient-overlay image">
              <img [src]="'https://img.youtube.com/vi/' + resource.video_code +'/hqdefault.jpg'">
            </div>
            <div
              fxLayout="column"
              fxLayoutGap="20px"
              class="button-overlay"
            >
              <button
                mat-flat-button
                color="accent"
                [routerLink]="[ '/register' ]"
                [queryParams]="{ returnUrl: router.url }"
              >Join Autism DRIVE</button>
              <button
                mat-flat-button
                color="accent"
                [routerLink]="[ '/login' ]"
                [queryParams]="{ returnUrl: router.url }"
              >Log In</button>
            </div>
          </div>
        </div>
      </div>

      <mat-card id="resource-contact">
        <mat-card-title><h4>Contact</h4></mat-card-title>
        <mat-card-content>
          <p *ngIf="mapLoc && !resource.street_address1" class="no-address-message">
            {{resource.type === 'location' ? 'In-home therapy service.' : ''}}
            Contact {{resource.organization_name}} for specific
            {{resource.type === 'location' ? 'service area' : 'location'}}.
          </p>
          <app-contact-item
            *ngFor="let c of contactItems"
            [contactItem]="c"
          ></app-contact-item>
        </mat-card-content>
      </mat-card>

      <div
        fxLayout="column"
        fxLayoutGap="20px"
      >
        <button
          *ngIf="resource.phone"
          mat-flat-button
          color="primary"
          (click)="goPhone($event)"
        >Call {{resource.phone}}</button>
        <button
          *ngIf="resource.website"
          mat-stroked-button
          color="primary"
          (click)="goWebsite($event)"
        >Visit website</button>
      </div>
      <div
        *ngIf="currentUser && currentUser.permissions.includes('edit_resource')"
        fxLayout="column"
        fxLayoutGap="2em"
      >
        <mat-card>
          <mat-card-title>Edit Log</mat-card-title>
          <div *ngIf="changeLog">
            <div *ngFor="let l of changeLog">
              <p mat-line>
                <a [href]="'/#/admin/user/' + l.user_id">
                  <b>User #{{l.user_id}} - {{l.user_email}}</b>
                </a>
                - Edit Type: {{l.type | uppercase}} - Update Date: {{l.last_updated | date: "long"}}
              </p>
            </div>
          </div>
        </mat-card>
        <app-admin-note-display [currentUser]="currentUser" [currentResource]="resource"></app-admin-note-display>
      </div>
    </div>
    <div
      id="resource-meta"
      fxFlex.gt-md="40%"
      fxLayout="column"
      fxLayoutGap="20px"
    >
      <div *ngIf="resource && resource.hasCoords()" id="resource-map">
        <agm-map
          [latitude]="resource.latitude"
          [longitude]="resource.longitude"
          [streetViewControl]="false"
          mapTypeId="roadmap"
          [zoom]="7"
          [scrollwheel]="null"
        >
          <agm-circle
            *ngIf="resource.hasCoords() && !resource.street_address1"
            [latitude]="resource.latitude"
            [longitude]="resource.longitude"
            [radius]="32186.9"
            [fillColor]="resource.type.toLowerCase() === 'location' ? '#6C799C' : '#E57200'"
            fillOpacity="0.1"
            [clickable]="true"
            (circleClick)="toggleInfoWindow($event)"
          >
          </agm-circle>
          <agm-marker
            *ngIf="resource.hasCoords()"
            [latitude]="resource.latitude"
            [longitude]="resource.longitude"
            [iconUrl]="{url: '/assets/map/' + resource.type + (resource.street_address1 ? '' : '-no-address') + '.svg', anchor: {x: 24, y: 24}}"
            (markerClick)="toggleInfoWindow($event)"
          >
            <agm-info-window
              [isOpen]="showInfoWindow"
              [latitude]="resource.latitude"
              [latitude]="resource.longitude"
            >
              <h5>{{resource.title}}</h5>
              <ng-container *ngIf="resource.street_address1">
                <p>About {{resource.milesFrom(mapLoc)}} miles away</p>
                <a
                  class="chevron-link"
                  href="{{getGoogleMapsUrl()}}"
                  target="_blank"
                >Driving directions</a>
              </ng-container>
              <ng-container *ngIf="!resource.street_address1">
                <p *ngIf="mapLoc && !resource.street_address1" class="no-address-message">
                  {{resource.type === 'location' ? 'In-home therapy service.' : ''}}
                  Contact {{resource.organization_name}} for specific
                  {{resource.type === 'location' ? 'service area' : 'location'}}.
                </p>
                <a
                  *ngIf="resource.phone"
                  class="chevron-link"
                  target="_blank"
                  href="tel://{{resource.phone}}"
                >Call {{resource.phone}}</a>
                <a
                  *ngIf="!resource.phone && resource.website"
                  class="chevron-link"
                  target="_blank"
                  href="{{resource.website}}"
                >
                  Visit website
                </a>
              </ng-container>
            </agm-info-window>
          </agm-marker>
        </agm-map>
      </div>
      <div id="resource-categories">
        <app-filter-chips [categories]="resource.resource_categories" [ages]="resource.ages" [languages]="resource.languages" [covid19_categories]="resource.covid19_categories"></app-filter-chips>
      </div>
      <div id="resource-related">
        <app-related-items [resource]="resource" [loading]="loading"></app-related-items>
      </div>
    </div>
  </div>
</div>

<app-loading
  *ngIf="!resource"
  message="Loading..."
></app-loading>
