<div
  *ngIf="resource"
  class="container"
  id="resource"
>
  <div
    class="row"
    fxLayout="row"
    fxLayout.lt-lg="column"
    fxLayoutGap="40px"
  >
    <div
      id="resource-details"
      fxFlex.gt-md="60%"
      fxLayout="column"
      fxLayoutGap="40px"
    >
      <h1>{{resource.title}}</h1>
      <!--<img-->
      <!--*ngIf="resource.image"-->
      <!--[src]="resource.image"-->
      <!--&gt;-->
      <!--<caption *ngIf="resource.image && resource.imageCaption">{{resource.imageCaption}}</caption>-->
      <p>Last Updated: {{resource.last_updated | date:'longDate'}}</p>
      <h2>About this resource</h2>
      <p>{{resource.description}}</p>
      <p *ngIf="resource.ticket_cost">Ticket Cost: {{resource.ticket_cost}}</p>
      <div
        fxLayout="column"
        fxLayoutGap="20px"
      >
        <button
          *ngIf="resource.phone"
          mat-flat-button
          color="primary"
          (click)="goPhone($event)"
        >Call {{resource.phone}}</button>
        <button
          *ngIf="resource.website"
          mat-stroked-button
          color="primary"
          (click)="goWebsite($event)"
        >Visit website</button>
      </div>
    </div>
    <div
      id="resource-meta"
      fxFlex.gt-md="40%"
      fxLayout="column"
      fxLayoutGap="20px"
    >
      <div id="resource-contact">
        <mat-card *ngIf="resource && resource.hasCoords()">
          <mat-card-content>
            <agm-map
              [latitude]="resource.latitude"
              [longitude]="resource.longitude"
              [streetViewControl]="false"
              mapTypeId="roadmap"
              [zoom]="7"
            >
              <agm-marker
                *ngIf="resource.hasCoords()"
                [latitude]="resource.latitude"
                [longitude]="resource.longitude"
              >
                <agm-info-window *ngIf="mapLoc">
                  <a
                    class="chevron-link"
                    href="{{getGoogleMapsUrl()}}"
                    target="_blank"
                  >Driving directions - {{resource.milesFrom(mapLoc)}}mi</a>
                </agm-info-window>
              </agm-marker>
            </agm-map>
          </mat-card-content>
        </mat-card>
        <mat-card>
          <mat-card-title>Contact: {{resource.organization.name}}</mat-card-title>
          <mat-card-content>
            <mat-list>
              <mat-list-item *ngIf="resource.date">
                <mat-icon>access_time</mat-icon>
                {{resource.date | date:'longDate'}}: {{resource.time}}
              </mat-list-item>
              <mat-list-item *ngIf="resource.street_address1">
                <mat-icon>location_on</mat-icon>
                <address>
                  <p *ngIf="resource.location_name">{{resource.location_name}},</p>
                  <p *ngIf="resource.street_address1">{{resource.street_address1}}</p>
                  <p *ngIf="resource.street_address2">{{resource.street_address2}}</p>
                  <p>{{resource.city}}, {{resource.state}} {{resource.zip}}</p>
                </address>
              </mat-list-item>
              <mat-list-item *ngIf="resource.primary_contact">
                <mat-icon>person_pin</mat-icon>
                {{resource.primary_contact}}
              </mat-list-item>
              <mat-list-item *ngIf="resource.phone">
                <mat-icon>phone</mat-icon>
                <a href="tel://{{resource.phone}}">{{resource.phone}}</a>
              </mat-list-item>
              <mat-list-item *ngIf="resource.website">
                <mat-icon>link</mat-icon>
                <a
                  target="_blank"
                  href="{{resource.website}}"
                >{{resource.website}}</a>
              </mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </div>
      <div id="resource-categories">
        <app-category-chips [categories]="resource.resource_categories"></app-category-chips>
      </div>
      <div id="resource-related">
        <mat-card>
          <mat-card-title>Related</mat-card-title>
          <mat-card-content>
            <mat-list>
              <h3 mat-subheader>Resources</h3>
              <mat-list-item>
                <a
                  mat-line
                  href="/#/resource/1"
                >Resource 1</a>
                <p mat-line>Description goes here. Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                  accusantium
                  doloremque laudantium, totam rem aperiam...</p>
              </mat-list-item>

              <h3 mat-subheader>Research Studies</h3>
              <mat-list-item>
                <a
                  mat-line
                  href="/#/study/1"
                >Study 1</a>
                <p mat-line>Description goes here. Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                  accusantium
                  doloremque laudantium, totam rem aperiam...</p>
              </mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>

<app-loading
  *ngIf="!resource"
  message="Loading..."
></app-loading>