<div
  *ngIf="user && flow"
  class="profile mat-typography"
>
  <h1 *ngIf="participant && participant.name">{{participant.name}}'s enrollment info</h1>
  <h1 *ngIf="!(participant && participant.name)">{{user.isSelf(participant) ? 'Your' : 'Your child\'s'}} enrollment
    info</h1>
  <div>
    <mat-progress-bar
      *ngIf="flow.percentComplete() < 100"
      mode="determinate"
      [value]="flow.percentComplete()"
    ></mat-progress-bar>


    <app-loading
      *ngIf="state === flowState.LOADING"
      message="Loading..."
    ></app-loading>

    <mat-drawer-container *ngIf="state !== flowState.LOADING">
      <mat-drawer
        [mode]="'side'"
        [opened]="true"
      >
        <app-questionnaire-steps-list
          [flow]="flow"
          [stepIndex]="activeStep"
          (stepSelected)="goToStep($event)"
        >
        </app-questionnaire-steps-list>
      </mat-drawer>
      <mat-drawer-content>
        <app-flow-complete *ngIf="state === flowState.COMPLETE" [flow]="flow">
        </app-flow-complete>
        <app-flow-intro *ngIf="state === flowState.INTRO" [flow]="flow" (next)="goToNextAvailableStep()">
        </app-flow-intro>

        <form
          *ngIf="state === flowState.SHOW_FORM"
          [formGroup]="form"
          class="pad-2"
        >
          <h1>{{ currentStep().label }}</h1>
          <p>{{ currentStep().description }}</p>

          <formly-form
            [form]="form"
            [model]="model"
            [fields]="fields"
            [options]="options"
          >
          </formly-form>

          <div class="button-row">
            <!--
            <button
              mat-flat-button
              type="button"
              (click)="prevStep(activeStep)"
            >Back</button>
            -->
            <button
              *ngIf="form"
              mat-flat-button
              type="button"
              (click)="submit()"
              color="primary"
              [disabled]="!form.valid"
            >Save &amp; Next</button>
            <!--
            <button
              mat-flat-button
              [disabled]="!form.valid"
              type="submit"
              (click)="submit()"
            >Submit</button>
            -->
          </div>
        </form>
      </mat-drawer-content>
    </mat-drawer-container>
  </div>
</div>
