@import '../../config';

.profile { margin: 2%; }

.button-row button {
  margin-right: 8px;
  margin-top: 35px; // avoid form description overlaps
}

mat-drawer-container {
  min-height: 100vh;
  background-color: white;
}

mat-drawer-content {
  background-color: white;
}

h1 {
  position: relative;
}

h1 small {
  position: absolute;
  right: 0px;
  color: $brand-primary;
}
