<div
  *ngIf="user && flow"
  class="profile mat-typography"
>
  <div>
    <mat-progress-bar
      *ngIf="flow.percentComplete() < 100"
      mode="determinate"
      [value]="flow.percentComplete()"
    ></mat-progress-bar>

    <app-loading
      *ngIf="state === flowState.LOADING"
      message="Loading..."
    ></app-loading>

    <div  *ngIf="state !== flowState.LOADING">
      <h1>
        <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
        <span *ngIf="participant && participant.name">{{participant.name}}'s enrollment info</span>
        <span *ngIf="!(participant && participant.name)">{{user.isSelf(participant) ? 'Your' : 'Your child\'s'}} enrollment
      info</span>
        <small class="mat-small">
          <span id="num_completed_steps">{{numCompletedSteps()}}</span> of
          <span id="num_total_steps">{{numTotalSteps()}}</span> steps complete
        </small>
      </h1>

    <mat-drawer-container>
      <mat-drawer #sidenav
        [mode]="mobileQuery.matches ? 'over' : 'side'"
        [(opened)]="sidebarOpen">
          <app-questionnaire-steps-list
            [flow]="flow"
            [stepIndex]="activeStep"
            (stepSelected)="goToStep($event)"
          >
          </app-questionnaire-steps-list>
      </mat-drawer>
      <mat-drawer-content>
        <app-flow-complete *ngIf="state === flowState.COMPLETE" [flow]="flow">
        </app-flow-complete>
        <app-flow-intro *ngIf="state === flowState.INTRO" [flow]="flow" (next)="goToNextAvailableStep()">
        </app-flow-intro>

        <form
          *ngIf="state === flowState.SHOW_FORM"
          [formGroup]="form"
          class="pad-2"
        >
          <h1>{{ currentStep().label }}</h1>
          <p>{{ currentStep().description }}</p>

          <formly-form
            [form]="form"
            [model]="model"
            [fields]="fields"
            [options]="options"
          >
          </formly-form>

          <div class="button-row">
            <!--
            <button
              mat-flat-button
              type="button"
              (click)="prevStep(activeStep)"
            >Back</button>
            -->
            <button
              *ngIf="form"
              mat-flat-button
              type="button"
              (click)="submit()"
              color="primary"
              [disabled]="!form.valid"
            >Save &amp; Next</button>
            <!--
            <button
              mat-flat-button
              [disabled]="!form.valid"
              type="submit"
              (click)="submit()"
            >Submit</button>
            -->
          </div>
        </form>
      </mat-drawer-content>
    </mat-drawer-container>
  </div>
  </div>

</div>
