@import '../../material';

.profile {
  margin: 2%;
}

.pad-1 {
  padding: 1em;
}

.pad-2 {
  padding: 2em;
}

.pad-3 {
  padding: 3em;
}

.pad-4 {
  padding: 4em;
}

.pad-5 {
  padding: 5em;
}

.pad-6 {
  padding: 6em;
}

.pad-7 {
  padding: 7em;
}

.pad-8 {
  padding: 8em;
}

.button-row button {
  margin-right: 8px;
  margin-top: 35px; // avoid form description overlaps
}

mat-drawer-container {
  min-height: 100vh;
  background-color: white;
}

mat-drawer-content {
  background-color: white;
}

h1 {
  position: relative;
}

h1 small {
  position: absolute;
  right: 0px;
  color: mat-color($stardrive-primary, default, 1);
}
