<mat-nav-list *ngFor="let step of flow.steps; let i = index">
  <mat-list-item
    (click)="selectStep(step)"
    [ngClass]="{'active': stepName === step.name, 'step-link': true}"
    [id]="'step_link_' + i"
  >
    <span class="lock">
      <mat-icon *ngIf="step.type === 'sensitive'" [ngClass]="{'visible': true}">lock</mat-icon>
      <mat-icon *ngIf="step.type !== 'sensitive'" [ngClass]="{'hidden': true}">lock</mat-icon>
    </span>
    <span class="step-link-text">{{step.label}}</span>
    <span fxFlex></span>
    <span class="done">
      <mat-icon *ngIf="step.status === 'COMPLETE'" [ngClass]="{'visible': true}">done</mat-icon>
      <mat-icon *ngIf="step.status !== 'COMPLETE'" [ngClass]="{'hidden': true}">done</mat-icon>
    </span>
  </mat-list-item>
</mat-nav-list>

<mat-nav-list *ngIf="flow.steps.length === 0">
  <mat-list-item>Loading...</mat-list-item>
</mat-nav-list>
