<div
  class="container"
  fxLayoutAlign="center center"
>
  <div fxFlex="80%">
    <app-logo></app-logo>
    <h3>You must read and accept the following Terms & Conditions in order to continue
      creating a STAR DRIVE account.</h3>
    <h1>Terms and Conditions</h1>
    <p>Summarize, as simply as possible, which rights the participant is entitled to, and which right they are giving up by
      agreeing to these terms. Lorem ipsum habitasse adipiscing donec nunc curabitur rutrum nibh, felis curae tristique
      nullam aliquam magna tincidunt lectus, dapibus auctor habitasse pretium euismod libero cras nec commodo iaculis
      pharetra varius nibh.</p>
    <p>Vulputate iaculis habitant at vulputate sollicitudin justo adipiscing, nisi potenti adipiscing mollis diam facilisis, sit quis
      pharetra dictum dictumst euismod. Odio mattis morbi ligula fusce hendrerit sodales gravida nostra hendrerit, pretium
      habitasse malesuada vitae eget dapibus sit curabitur quisque nulla, dui maecenas integer pellentesque est dictumst dui
      lacus.</p>
    <div
      fxLayout="row"
      fxLayout.xs="column"
      fxLayoutGap="2%"
      fxLayoutAlign="center center"
    >
      <button
        mat-button
        (click)="goHome($event)"
      >
        Cancel
      </button>
      <button
        mat-button
        (click)="goRegister($event)"
      >
        I agree
      </button>
    </div>
  </div>
</div>
