.container {
  min-height: 100vh;

  h3 {
    padding: 2% 5%;
    background-color: #777777;
    color: white;
    text-align: center;
  }

  button {
    padding: 0 10%;
    background-color: #0d87e9;
    color: white;
  }
}
