@import '../../config';

#hero {
  background-color: $brand-gray-tint-4;
  display: grid;

  h1 {
    color: $brand-primary;
    text-align: start;
    font-size: 2.5rem;
    margin: 1em;
  }

  app-search-box {
    color: black;
    margin: 0 2em;
    max-width: 60%;
  }
}

form.search-box {
  background: transparent;
  border-radius: 5px;
  padding-top: 1em;
  padding-bottom: 1em;
  display: flex;
  transition: $animationDuration ease-in-out padding-top;

  &.hidden-results {
    padding-top: 100px;
  }

  mat-form-field, mat-hint {
    flex: 2 0 auto;
  }
}

#tiles {
  padding-top: 1em;
  padding-left: 2em;
  padding-right: 2em;
}

.title {
  margin: 0px;
  color: $brand-primary;
  font-weight: 800;
  font-style: italic;
  text-transform: uppercase;
  line-height: 1;
  font-size: 1.625rem;
}

button {
  flex: 0 0 auto;
  border: none;
}

mat-expansion-panel, mat-accordion {
  width: 100%;
  margin-bottom: 1em;
}

.filters {

  #reset-filters {
    color: $brand-accent;
    font-weight: bold;
    padding-left: 0px;
  }

  h3 {
    font-size: 1.5rem;
    margin-top: 2em;
    margin-bottom: 0;
  }

  .sort-order h3 { margin-top: 1em; }

  h4.mat-subheader {
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin-top: 1em;
    margin-bottom: 0;
    padding-left: 0px;
    padding-bottom: 0px;

    &:first-of-type {
      margin-top: 0;
    }
  }
}

.filter-facet-item, .sort-order {
  font-size: 1em;
  line-height: 1;
}

.breadcrumbs-container {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin: 1em;
}

.applied-filters {
  grid-area: filters;
  margin-left: 0;
  justify-self: start;

  ::ng-deep .mat-chip-list-wrapper {
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
    padding-bottom: 1em;

    .mat-chip {
      flex: 0 0 auto;
    }
  }

  .applied-filter {
    color: white;
    background-color: $brand-accent;

    mat-icon {
      margin-left: 0.75rem;
      margin-right: -0.25rem;
      font-size: 1.25rem;
      line-height: 1.25;
    }

    .applied-filter-label mat-icon {
      margin-left: 0;
    }
  }
}

.sort-order {
  grid-area: sort;
  justify-self: end;

  mat-radio-button {
    height: 36px;
    margin-top: 0;
    padding: 0;
  }
}

::ng-deep mat-paginator.mat-paginator {

  .mat-paginator-page-size-select.mat-form-field-appearance-outline {
    width: 84px;

    .mat-form-field-wrapper {
      padding-bottom: 0.75em;
    }

    .mat-form-field-outline {
      top: 0.75em;
      bottom: -0.25em;
    }

    .mat-select-arrow-wrapper {
      transform: translateY(0%);
    }

    .mat-form-field-infix {
      padding-top: 0px;
      padding-bottom: 0px;
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }
}

::ng-deep .mat-option, ::ng-deep .mat-select-trigger {
  app-type-icon  {
    [class*="icofont-"] { margin-right: 0.5em; }
    .mat-icon { margin-right: 0em; margin-top: 0.5em; }
  }
}

agm-map {
  height: 50vh;
  width: 100%;
}

::ng-deep .gm-style-iw.gm-style-iw-c, ::ng-deep .gm-style-iw-d {
  max-height: 50vh !important;

  @media (max-width: 575px) { max-width: 90vw !important; }
  @media (min-width: 576px) { max-width: 80vw !important; }
  @media (min-width: 768px) { max-width: 50vw !important; }
  @media (min-width: 960px) { max-width: 40vw !important; }
  @media (min-width: 1200px) { max-width: 30vw !important; }
}

::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0;
}

.zipCodeSet {
  margin-left: 2em;
  display: none;

  ::ng-deep * {
    display: none;
  }

  &.show {
    display: inherit;

    ::ng-deep * {
      display: inherit;
    }
  }
}

.zipCodeSetButton {
  opacity: 0;

  &.show {
    color: $brand-primary;
    opacity: 1;
  }
}

::ng-deep .type-tabs .mat-tab-label {
  margin: 5px;
  &:focus {
    outline: none;
  }
}

.type-buttons {
  text-transform: uppercase;
  margin: .25em 1em;

  button {
    background-color: $brand-accent;
    margin: .5em;
  }
}

::ng-deep #set-location {
  margin: auto 1em;
}

#sort-and-status, #map, #partners, #filters, #type-buttons {
  margin: .5em 2em;
}

.search-result-status {
  justify-content: flex-end;
}

.type-location-bar {
  padding: 1em 1em 0 1em;
  background-color: $brand-gray-tint-4;
  //color: white;

  h4 {
    //color: white;
  }

  .mat-form-field-appearance-outline, .mat-form-field-outline, .mat-form-field-label {
    //color: white;
  }

  .mat-select-value, .mat-select-arrow {
    //color: white;
  }

  mat-form-field{
    ::placeholder {
      //color: rgba(255,255,255,0.7);
    }
  }
}
