<div id="design-options" fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap="10px" class="mat-elevation-z4" fxLayoutAlign="center center">
  <div (click)="expandTheme = !expandTheme" fxLayout="row" fxLayoutAlign="center center">
    <h4>Theme</h4>
    <mat-icon *ngIf="!expandTheme">expand_more</mat-icon>
    <mat-icon *ngIf="expandTheme">expand_less</mat-icon>
  </div>
  <ng-container *ngIf="expandTheme">
    <button
      [matMenuTriggerFor]="designOptionsBg"
      mat-button
    >Background <mat-icon>arrow_drop_down</mat-icon></button>
    <mat-menu #designOptionsBg>
      <button *ngFor="let className of searchBgClasses" mat-menu-item (click)="searchBgClass = className" fxLayoutAlign="start center" fxLayoutGap="10px">
        <span class="color-swatch {{className}}"></span>
        {{className}}
      </button>
    </mat-menu>

    <button
      [matMenuTriggerFor]="designOptionsVideoPlacement"
      mat-button
    >Video placement <mat-icon>arrow_drop_down</mat-icon></button>
    <mat-menu #designOptionsVideoPlacement>
      <button
        [disabled]="shouldHideVideo"
        mat-menu-item
        (click)="hideVideo(true)"
      >hidden</button>
      <button
        *ngFor="let className of videoPlacements"
        (click)="showVideo(className)"
        mat-menu-item
      >
        {{className}}
      </button>
    </mat-menu>

    <button
      [matMenuTriggerFor]="designOptionsVideoSize"
      mat-button
    >Video size <mat-icon>arrow_drop_down</mat-icon></button>
    <mat-menu #designOptionsVideoSize>
      <button *ngFor="let className of videoSizes" mat-menu-item (click)="videoSize = className" fxLayoutAlign="start center" fxLayoutGap="10px">
        {{className}}
      </button>
    </mat-menu>

    <button mat-button (click)="expandTheme = false"><mat-icon>close</mat-icon></button>
  </ng-container>
</div>

<div
  id="hero"
  #searchHeader
  [class]="searchBgClass"
  fxLayout="column"
>
  <app-tutorial-video
    *ngIf="videoPlacement === 'above' && !shouldHideVideo"
    [videoSize]="videoSize"
    [url]="videoUrl"
    [instructions]="videoInstructions"
    fxFlexAlign="center"
  ></app-tutorial-video>
  <div
    fxLayout="row"
    fxLayout.lt-md="column"
    fxLayoutAlign="center center"
  >
    <app-tutorial-video
      *ngIf="videoPlacement === 'left' && !shouldHideVideo"
      [videoSize]="videoSize"
      [url]="videoUrl"
      [instructions]="videoInstructions"
    ></app-tutorial-video>
    <div fxLayout="column">
      <app-search-box
        variant="light-bg"
        (searchUpdated)="updateUrlAndDoSearch()"
        (categorySelected)="selectCategory($event)"
        [words]="query.words"
      ></app-search-box>
      <app-add-button
        *ngIf="currentUser && currentUser.permissions.includes('create_resource')"
        [addLabel]='"Add Resource"'
        [addLink]='"resources/add"'
        [currentUser]=currentUser
      ></app-add-button>
      <button
        id="show-filters-button"
        (click)="showFilters = !showFilters"
        mat-flat-button
        color="primary"
        fxHide
        fxShow.lt-md
      >
        <mat-icon>filter_alt</mat-icon>
        Filter Search Results
      </button>
      <div
        fxLayout="column"
        fxLayoutAlign="center center"
        id="filters-container"
      >
        <div
          id="filters"
          fxFlex.gt-sm="60%"
          [ngClass.lt-md]="{'full-screen': showFilters, 'minimized': !showFilters}"
        >
          <div fxHide fxShow.lt-md>
            <div fxLayoutAlign="end end">
              <button mat-button (click)="toggleShowFilters()">Done</button>
            </div>
            <h2>Filter Resources</h2>
          </div>
          <div id="TopOfSearch" class="filters-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="2em">

            <div class="filter-select" fxLayout="row" fxLayout.lt-md="row wrap" fxLayoutGap="2em" fxShow>

              <div fxHide fxShow.lt-md id="type-filter">
                <mat-form-field>
                  <mat-label>Resource types</mat-label>
                  <mat-select [(value)]="selectedType">
                    <mat-select-trigger>
                      <app-type-icon
                        *ngIf="selectedType"
                        [iconType]="selectedType && selectedType.name"
                        [size]="1"
                      ></app-type-icon>
                      <span class="type-label" *ngIf="selectedType">{{selectedType.label}}</span>
                    </mat-select-trigger>
                    <mat-option
                      *ngFor="let type of resourceTypes"
                      [value]="type"
                      (click)="selectType(type.name)"
                    >
                      <app-type-icon [iconType]="type.name" [size]="1"></app-type-icon>
                      <span class="type-label">{{type.label}}</span>
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div id="age-filter" fxFlex="30%" fxFlex.lt-md="100%" [ngClass.lt-md]="'filter-container'">
                <div *ngIf="query">
                  <app-search-filter
                    [aggregations]="query.age_counts"
                    [label_title]="'Filter by Age'"
                    [label_any]="'Any age'"
                    [label_map]="ageLabels"
                    [label_icon]="'cake'"
                    (filterSelected)="selectAgeRange($event)"
                    [ngClass]="'filter-by-age'"
                    [isNotApplicable]="!loading && query && !query.hasAgeCounts()"
                    [notApplicableMessage]="'No age restrictions available for these search results.'"
                  ></app-search-filter>
                </div>
              </div>

              <div id="language-filter" fxFlex="30%" fxFlex.lt-md="100%" [ngClass.lt-md]="'filter-container'">
                <div *ngIf="query">
                  <app-search-filter
                    [aggregations]="query.language_counts"
                    [label_title]="'Filter by Language'"
                    [label_any]="'Any language'"
                    [label_map]="languageLabels"
                    [label_icon]="'language'"
                    (filterSelected)="selectLanguage($event)"
                    [ngClass]="'filter-by-language'"
                    [isNotApplicable]="!loading && query && !query.hasLanguageCounts()"
                    [notApplicableMessage]="'No language restrictions available for these search results.'"
                  ></app-search-filter>
                </div>
              </div>

              <div id="topic-filter" fxFlex="30%" fxFlex.lt-md="100%" [ngClass.lt-md]="'filter-container'">
                <app-search-topics
                  *ngIf="query"
                  [category]="query.category"
                  (categorySelected)="selectCategory($event)"
                  [ngClass]="'filter-by-topic'"
                ></app-search-topics>
              </div>
            </div>
          </div>
          <div class="sort-order-small" fxHide fxShow.lt-md>
            <app-search-sort
              [selectedSort]="selectedSort"
              [sortMethods]="sortMethods"
              (sortMethodSelected)="newSortSelection($event)"
            ></app-search-sort>
          </div>
          <div fxHide fxShow.lt-md fxLayoutAlign="center center">
            <button mat-flat-button (click)="toggleShowFilters()" color="accent">{{numTotalResults()}} Results</button>
          </div>
        </div>
      </div>
    </div>
    <app-tutorial-video
      *ngIf="videoPlacement === 'right' && !shouldHideVideo"
      [videoSize]="videoSize"
      [url]="videoUrl"
      [instructions]="videoInstructions"
    ></app-tutorial-video>
  </div>
  <app-tutorial-video
    *ngIf="videoPlacement === 'below' && !shouldHideVideo"
    [videoSize]="videoSize"
    [url]="videoUrl"
    [instructions]="videoInstructions"
    fxFlexAlign="center"
  ></app-tutorial-video>
  <app-search-filters-breadcrumbs
    (ageRangeChipClicked)="selectAgeRange()"
    (categoryChipClicked)="removeCategory()"
    (clearAllClicked)="clearAllFilters()"
    (keywordChipClicked)="removeWords()"
    (languageChipClicked)="selectLanguage()"
    (mappedResultsChipClicked)="listMapResultsOnly($event)"
    (typeChipClicked)="selectType()"
    [ageLabels]="ageLabels"
    [fxHide]="!showBreadcrumbs()"
    [fxShow]="showBreadcrumbs()"
    [languageLabels]="languageLabels"
    [query]="query"
    [restrictToMappedResults]="restrictToMappedResults"
    [typeLabels]="typeLabels"
  ></app-search-filters-breadcrumbs>
  <div
    class="type-tabs-container"
    fxShow
    fxHide.lt-md
    fxLayout="row"
    fxLayoutGap="2em"
    fxLayoutAlign="start end"
  >
    <mat-tab-group
      mat-align-tabs="start"
      fxHide.lt-md
      [ngClass]="'type-tabs'"
      (selectedTabChange)="selectTypeTab($event)"
      [(selectedIndex)]="selectedTypeTabIndex"
      color="accent"
      #typeTabs
    >
      <mat-tab>
        <ng-template mat-tab-label><div class="type-buttons all">All Resources</div></ng-template>
      </mat-tab>
      <mat-tab
        *ngFor="let type of resourceTypesFiltered()"
      >
        <ng-template mat-tab-label>
          <div class="type-buttons {{type.name}}">
            <app-type-icon [iconType]="type.name" [size]="1"></app-type-icon>
            {{type.label}}
          </div>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
<div fxHide fxShow.lt-md id="results-vs-map">
  <mat-button-toggle-group [value]="expandResults" (change)="expandResults = !expandResults">
    <mat-button-toggle [value]="true">
      <ng-container *ngIf="!restrictToMappedResults">{{numTotalResults()}} results</ng-container>
      <ng-container *ngIf="restrictToMappedResults">{{hits.length}} mapped results</ng-container>
    </mat-button-toggle>
    <mat-button-toggle [value]="false" [disabled]="!shouldShowMap">Map</mat-button-toggle>
  </mat-button-toggle-group>
</div>
<div id="content" fxLayout="row" fxLayoutAlign="start start">
  <div
    class="search-results"
    id="results"
    fxLayout="column"
    fxLayoutGap="40px"
    fxFlex="60%"
    fxFlex.lt-md="100%"
    fxShow
    fxHide.lt-md
    [fxShow.lt-md]="!!expandResults"
  >
    <ng-container *ngIf="!loading; else loadingMessage">
      <div *ngIf="query?.hits.length === 0" fxLayout="column" fxLayoutGap="20px"
           fxLayoutAlign="center center" class="pad-4">
        <h2>No results currently available.</h2>
        <p>We could not find any results for your search. Please try removing some of the conditions
          by clicking on the 'x' in the filter tiles above. This will broaden the search and give you more results.</p>
        <h3>Check back soon for more updates!</h3>
      </div>
      <div *ngIf="query?.total != 0" id="sort-and-status" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between end">
        <div
          class="search-result-status"
          [attr.data-num-results]="restrictToMappedResults ? hits.length : numTotalResults()"
          fxShow
          fxHide.lt-md
        >
          <h4 *ngIf="!restrictToMappedResults">Showing {{numResultsFrom()}}-{{numResultsTo()}} of {{numTotalResults()}} results</h4>
          <h4 *ngIf="restrictToMappedResults">Showing nearest {{hits.length}} mapped results</h4>
        </div>
        <div class="sort-order" fxShow fxHide.lt-md>
          <app-search-sort
            [selectedSort]="selectedSort"
            [sortMethods]="sortMethods"
            (sortMethodSelected)="newSortSelection($event)"
          ></app-search-sort>
        </div>
      </div>
      <div *ngIf="hits.length > 0">
        <app-search-result
          *ngFor="let hit of hits; let i = index"
          [hit]="hit"
          [mapLoc]="mapLoc"
          [currentUser]="currentUser"
          [ngClass]="'sort-order-' + i"
        >
        </app-search-result>
      </div>
    </ng-container>

    <mat-paginator
      #paginator
      [length]="query?.total"
      [pageSize]="pageSize"
      [pageSizeOptions]="[pageSize, pageSize*3, pageSize*5]"
      (page)="updatePage($event)"
      [ngClass]="{'ghost': (restrictToMappedResults || !query || (query.total === 0))}"
    >
    </mat-paginator>
  </div>
  <div
    id="location-and-map"
    fxFlex="40%"
    fxFlex.lt-md="100%"
    fxShow
    [fxShow.lt-md]="!expandResults"
    [ngClass.gt-sm]="mapDockClass(scrollSpy, searchHeader, searchFooter)"
    [ngStyle.gt-sm]="{width: '40%'}"
  >
    <span class="inset-shadow"></span>
    <button
      id="list-mapped-results-button"
      mat-flat-button
      (click)="listMapResultsOnly(!restrictToMappedResults)"
      [color]="restrictToMappedResults ? 'accent' : ''"
      [ngClass]="'mat-elevation-z1'"
      [ngClass.gt-sm]="'gt-sm'"
      [ngClass.lt-md]="'lt-md'"
      [fxHide]="!shouldShowMap"
    >
      <mat-icon *ngIf="!restrictToMappedResults">check_box_outline_blank</mat-icon>
      <mat-icon *ngIf="restrictToMappedResults">check_box</mat-icon>
      Search as map moves
    </button>
    <mat-expansion-panel
      *ngIf="showLocationButton"
      id="set-location"
      [ngClass]="'zipCodeSetButton mat-elevation-z1'"
      (afterExpand)="focusOnInput(zipCodeInput)"
      #setLocationExpansionPanel
    >
      <mat-expansion-panel-header>
        <ng-container *ngIf="isZipCode(storedZip)">Location: {{storedZip}}</ng-container>
        <ng-container *ngIf="gpsEnabled && !isZipCode(storedZip)">Location: using GPS</ng-container>
      </mat-expansion-panel-header>
      <div [ngClass]="'zipCodeSet'" fxLayout="column">
        <mat-form-field class="zipCodeField">
          <input
            matInput
            placeholder="Enter ZIP Code"
            [(ngModel)]="updatedZip"
            (keyup.enter)="zipSubmit($event, setLocationExpansionPanel)"
            #zipCodeInput
          >
        </mat-form-field>
        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
            <button
              mat-flat-button
              color="accent"
              (click)="zipSubmit($event, setLocationExpansionPanel)"
              id="btn_save"
            >Save</button>
            <button
              *ngIf="gpsEnabled"
              mat-flat-button
              (click)="useGPSLocation($event, setLocationExpansionPanel)"
              id="btn_gps"
            >Use GPS instead</button>
        </div>
      </div>
    </mat-expansion-panel>
    <div id="map" fxLayout="column" fxLayoutGap="2em">
      <agm-map
        #mapTemplate
        *ngIf="shouldShowMap"
        [latitude]="mapLoc ? mapLoc.lat : defaultLoc.lat"
        [longitude]="mapLoc ? mapLoc.lng : defaultLoc.lng"
        [streetViewControl]="false"
        mapTypeId="roadmap"
        [zoom]="7"
        (mapReady)="mapLoad($event)"
        [scrollwheel]="null"
        (mapClick)="closeInfoWindow()"
        (zoomChange)="updateZoom($event)"
        (boundsChange)="updateResultsList($event)"
      >
        <agm-marker-cluster [imagePath]="'assets/map/m'" [maxZoom]="8">
          <agm-marker
            *ngIf="mapLoc"
            [latitude]="mapLoc.lat"
            [longitude]="mapLoc.lng"
            [iconUrl]="{url: '/assets/map/your-location.svg', anchor: {x: 48, y: 48}}"
          ></agm-marker>
          <ng-container *ngFor="let hit of hitsWithNoAddress">
            <agm-circle
              [latitude]="hit.latitude + mapJitter(hit.id, true)"
              [longitude]="hit.longitude + mapJitter(hit.id, false)"
              [radius]="getCircleRadius()"
              [fillColor]="hit.type.toLowerCase() === 'location' ? '#6C799C' : '#E57200'"
              fillOpacity="0.1"
              [clickable]="true"
              [visible]="isInfoWindowOpen() && selectedMapHit.id == hit.id"
              (circleClick)="showInfoWindow(hit)"
              zIndex="-1"
            >
            </agm-circle>
            <agm-marker
              [latitude]="hit.latitude + mapJitter(hit.id, true)"
              [longitude]="hit.longitude + mapJitter(hit.id, false)"
              [iconUrl]="{url: '/assets/map/' + hit.type + '-no-address.svg', anchor: {x: 24, y: 24}}"
              (markerClick)="showInfoWindow(hit)"
            >
            </agm-marker>
          </ng-container>
          <ng-container *ngFor="let hit of hitsWithAddress">
            <agm-marker
              [latitude]="hit.latitude"
              [longitude]="hit.longitude"
              [iconUrl]="{url: '/assets/map/' + hit.type + '.svg', anchor: {x: 16, y: 16}}"
              (markerClick)="showInfoWindow(hit)"
            ></agm-marker>
          </ng-container>
        </agm-marker-cluster>
        <ng-container *ngIf="selectedMapResource">
          <agm-info-window [isOpen]="isInfoWindowOpen()" [latitude]="selectedMapHit.latitude"
                           [longitude]="selectedMapHit.longitude" (infoWindowClose)="closeInfoWindow()">
            <a
              class="title mat-h2"
              href="/#/{{selectedMapResource.type.toLowerCase()}}/{{selectedMapResource.id}}"
              (click)="goSelectedMapResource(selectedMapResource)"
            >{{selectedMapResource.title}}</a>
            <a
              class="chevron-link"
              (click)="goSelectedMapResource(selectedMapResource)"
            >
              {{selectedMapHit.no_address ? 'In-home therapy' : selectedMapHit.type}} Details</a>
          </agm-info-window>
        </ng-container>
      </agm-map>

      <div *ngIf="highlightedStudy" id="studies-highlight">
        <mat-card>
          <mat-card-content>
            <h3>Highlighted Study: <a href="/#/study/{{highlightedStudy.id}}">{{highlightedStudy.short_title}}</a></h3>
            <p>{{highlightedStudy.short_description}}</p>
            <a
              class="chevron-link"
              [routerLink]="['/studies']"
              routerLinkActive="router-link-active">
              Explore other studies</a>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
<div
  id="partners"
  fxLayout="row"
  fxLayout.lt-md="column"
  fxLayoutGap="3em"
  fxLayoutAlign="auto center"
  #searchFooter
  [ngStyle.lt-md]="{marginTop: '120vh'}"
>
  <div fxLayout="column" fxLayoutAlign="start">
    <h1>Resource partners</h1>
    <p class="pad-0">We are partnering with the following initiatives and organizations to identify
      resources that will improve outcomes for individuals with autism and their families.</p>
    <div fxLayoutAlign.gt-xs="row" fxLayout.lt-sm="row wrap" fxLayoutAlign="space-between" fxLayoutGap="40px">
      <span
        *ngFor="let rg of resourceGatherers"
        fxFlex.lt-md="40%"
      >
        <a
          [href]="rg.url"
          [title]="rg.name"
          [matTooltip]="rg.shortName + ' - ' + rg.description"
          class="resource-gatherer"
        >
          <img
            [alt]="rg.shortName"
            [src]="rg.image"
          >
        </a>
      </span>
    </div>
  </div>
  <app-border-box-tile
    [title]="'Can\'t find your resource on drive?'"
    [subtitle]="'Click Here To Submit'"
    [linkSize]="2"
    (click)="submitResource()"
  ></app-border-box-tile>
</div>
<span id="scroll-spy" #scrollSpy></span>

<ng-template #loadingMessage>
  <app-loading></app-loading>
</ng-template>
