@import '../../material';

#hero {
  background-image: url('/assets/home/hero-parent-child.jpg');

  h1 {
    color: white;
  }
}

form.search-box {
  background: transparent;
  border-radius: 5px;
  padding-top: 1em;
  padding-bottom: 1em;
  display: flex;
  transition: $animationDuration ease-in-out padding-top;

  &.hidden-results {
    padding-top: 100px;
  }

  mat-form-field, mat-hint {
    flex: 2 0 auto;
  }
}

#tiles {
  padding-top: 1em;
  padding-left: 2em;
  padding-right: 2em;
}

.mat-list-base[dense] {
  h3.mat-subheader {
    font-size: 1.25rem;
    margin-top: 1em;
    padding-left: 0px;
  }

  h3.mat-subheader:first-child {
    margin-top: 0px;
  }

  .mat-list-item {
    cursor: pointer;
    font-weight: bold;
    color: $brand-primary;
    padding-top: 0px;
    padding-bottom: 0px;

    &:hover {
      background-color: rgba(0,0,0,0.1);
      text-decoration: underline;
    }

    .mat-list-item-content {
      line-height: 0.8;
    }

    .hit-count {
      color: $body-color;
      font-weight: normal;
      text-align: right;
      white-space: nowrap;
    }
  }
}


button {
  flex: 0 0 auto;
  border: none;
}

.filters {
  #reset-filters {
    color: $brand-accent;
    font-weight: bold;
    padding-left: 0px;
  }

  h2 {
    font-size: 1.5rem;
  }
}


.filter-facet-item, .sort-order {
  font-size: 1em;
  line-height: 1;
}

.breadcrumbs-container {
  display: grid;
  grid-template-areas: "filters sort";
  grid-template-columns: 1fr 1fr;
  justify-items: stretch;
  width: 100%;
  padding-right: 2em;
  padding-left: 0;
  margin: 0;
  margin-top: 3rem;
}

.applied-filters {
  grid-area: filters;
  margin-left: 0;
  justify-self: start;

  .applied-filter {
    color: white;
    background-color: $brand-accent;

    mat-icon {
      margin-left: 0.75rem;
      margin-right: -0.25rem;
      font-size: 1.25rem;
      line-height: 1.25;
    }
  }
}

.sort-order {
  grid-area: sort;
  justify-self: end;
}



