<div
  id="hero"
  class="gradient-overlay container with-escaping-tiles"
>
  <div class="hero-content">
    <h1>Find Autism Support</h1>
  </div>
  <div
    class="row escaping-tiles-1x"
    fxLayout="row"
    fxLayoutGap="40px"
    fxLayoutAlign="center auto"
  >
    <app-border-box-tile
      *ngFor="let resourceType of resourceTypes"
      fxFlex.gt-sm="calc(33% - 160px)"
      fxFlex.sm="calc(50% - 120px)"
      [iconSize]="2"
      [iconType]="resourceType.name"
      [title]="resourceType.label"
      [linkSize]="1"
      [isSelected]="isSelectedResourceType(resourceType)"
      (click)="selectResourceType(resourceType.label)"
    ></app-border-box-tile>
  </div>
</div>

<div *ngIf="!loading" class="container">
  <div class="row">
    <h1 *ngIf="selectedResourceType">{{selectedResourceType.label}}</h1>
    <app-resource-add-button [currentUser]="currentUser"></app-resource-add-button>
    <div fxLayout="row" fxLayoutGap="80px" fxLayoutAlign="space-evenly start">
      <div
        fxFlex="calc(30% - 160px)"
        class="filters"
        fxLayout="column"
        fxLayoutGap="40px"
      >
        <div class="sort-order">
          <h2>Sort by</h2>
          <mat-radio-group
            *ngIf="selectedSort && selectedSort.name"
            [(ngModel)]="selectedSort.name"
            fxLayout="column"
          >
            <mat-radio-button
              *ngFor="let s of sortMethods"
              (click)="sortBy(s)"

              [value]="s.name"
            >{{s.label}}</mat-radio-button>
          </mat-radio-group>
        </div>

        <div class="filters-topics">
          <h2>Narrow your results</h2>
          <button
            mat-button
            [routerLink]="'/search'"
            *ngIf="hasFilters()"
            id="reset-filters"
          >
            Reset filters
          </button>
          <mat-list dense *ngIf="!loading">
            <ng-container *ngFor="let facet of query.facets">
              <ng-container *ngIf="facet.field !== 'Type' && facet.facetCounts.length > 0">
                <h3 mat-subheader>{{facet.field}}</h3>
                <mat-list-item
                  *ngFor="let count of facet.facetCounts"
                  (click)="addFilter(facet.field, count.category)"
                  [ngClass]="{'filter-facet-item': true}"
                >
                  {{count.category}}
                  <div fxFlex></div>
                  <span class="hit-count">{{count.hit_count}}</span>
                </mat-list-item>
              </ng-container>
            </ng-container>
          </mat-list>
        </div>
      </div>

      <div
        fxFlex="calc(70% - 160px)"
        fxLayout="column"
        fxLayoutAlign="start start"
      >
        <div *ngIf="showBreadcrumbs()" class="breadcrumbs-container">
          <mat-chip-list class="applied-filters">
            <ng-container *ngIf="query && query.words">
              <mat-chip
                (click)="removeWords()"
                class="applied-filter"
              >
                "{{query.words}}"
                <mat-icon>close</mat-icon>
              </mat-chip>
            </ng-container>

            <ng-container *ngFor="let filter of query.filters">
              <ng-container *ngIf="filter.field !== 'Type'">
                <ng-container *ngFor="let fieldValue of filter.value">
                  <mat-chip
                    (click)="removeFilter(filter.field, fieldValue)"
                    class="applied-filter"
                  >
                    {{fieldValue}}
                    <mat-icon>close</mat-icon>
                  </mat-chip>
                </ng-container>
              </ng-container>
            </ng-container>
          </mat-chip-list>
        </div>
        <div
          class="row search-results"
          style="margin-top: 0"
        >
          <div
            id="results"
            fxLayout="column"
            fxLayoutGap="40px"
            *ngIf="!(loading || hideResults)"
          >
            <agm-map
              *ngIf="!loading"
              [latitude]="mapLoc ? mapLoc.lat : defaultLoc.lat"
              [longitude]="mapLoc ? mapLoc.lng : defaultLoc.lng"
              [streetViewControl]="false"
              mapTypeId="roadmap"
              [zoom]="7"
              (mapReady)="mapLoad($event)"
            >
              <agm-marker
                *ngIf="mapLoc"
                [latitude]="mapLoc.lat"
                [longitude]="mapLoc.lng"
                iconUrl="/assets/map/your-location.svg"
              ></agm-marker>
              <ng-container *ngIf="locQuery && locQuery.hits">
                <agm-marker-cluster imagePath="/assets/map/m">
                  <ng-container *ngFor="let hit of locQuery.hits">
                    <agm-marker
                      *ngIf="hit.hasCoords()"
                      [latitude]="hit.latitude"
                      [longitude]="hit.longitude"
                    >
                      <agm-info-window>
                        <h4>{{hit.title}}</h4>
                        <p>{{hit.description}}</p>
                        <a
                          class="chevron-link"
                          [routerLink]="['/' + hit.type.toLowerCase() + '/' + hit.id]"
                          routerLinkActive="router-link-active"
                        >{{hit.type}} Details - {{hit.milesFrom(mapLoc)}}mi</a>
                      </agm-info-window>
                    </agm-marker>
                  </ng-container>
                </agm-marker-cluster>
              </ng-container>
            </agm-map>
            <app-search-result
              *ngFor="let hit of query.hits"
              [hit]="hit"
              [mapLoc]="mapLoc"
            >
            </app-search-result>
          </div>
        </div>
      </div>
    </div>

    <mat-paginator
      #paginator
      [length]="query.total"
      [pageSize]="pageSize"
      [pageSizeOptions]="[pageSize, pageSize*3, pageSize*5]"
      (page)="updatePage($event)"
    >
    </mat-paginator>
  </div>

  <div class="row">
    <h1>Resource partners</h1>
    <p>We are partnering with the following initiatives and organizations to identify resources that will improve
      outcomes for individuals with autism and their families.</p>
    <div fxLayout="row" fxLayoutAlign="space-between">
      <a
        *ngFor="let rg of resourceGatherers"
        [href]="rg.url"
        [title]="rg.name"
        [matTooltip]="rg.shortName + ' - ' + rg.description"
      >
        <img
          [alt]="rg.shortName"
          [src]="rg.image"
        >
      </a>
    </div>
  </div>
</div>



