<div
  id="hero"
>
  <div
    fxLayout="column"
    fxLayoutGap="1em"
  >
    <h1>Find Autism Resources</h1>
    <div fxLayout="row" fxLayoutGap="2em">
      <app-search-box
        variant="light-bg"
        fxFlex.gt-sm="80%"
        (searchUpdated)="updateUrlAndDoSearch()"
        [words]="query.words"
      ></app-search-box>
      <app-add-button
        *ngIf="currentUser && currentUser.permissions.includes('create_resource')"
        [addLabel]='"Add Resource"'
        [addLink]='"resources/add"'
        [currentUser]=currentUser
      ></app-add-button>
    </div>
    <div
      class="type-tabs-container"
      fxLayout.gt-sm="row"
      fxLayout.lt-md="column"
      fxLayoutGap.gt-sm="2em"
      fxLayoutGap.lt-md="1em"
      fxLayoutAlign="start end"
    >
      <div fxFlex="30%" fxHide fxShow.lt-md>
        <mat-form-field class="type-buttons">
          <mat-label>Resource types</mat-label>
          <mat-select [(value)]="selectedType">
            <mat-select-trigger>
              <app-type-icon
                *ngIf="selectedType"
                [iconType]="selectedType && selectedType.name"
                [size]="1"
              ></app-type-icon>
              <span class="type-label" *ngIf="selectedType">{{selectedType.label}}</span>
            </mat-select-trigger>
            <mat-option
              *ngFor="let type of resourceTypes"
              [value]="type"
              (click)="selectType(type.name)"
            >
              <app-type-icon [iconType]="type.name" [size]="1"></app-type-icon>
              <span class="type-label">{{type.label}}</span>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <mat-tab-group
        mat-align-tabs="start"
        fxHide.lt-md
        [ngClass]="'type-tabs'"
        (selectedTabChange)="selectTypeTab($event)"
        [(selectedIndex)]="selectedTypeTabIndex"
        color="accent"
      >
        <mat-tab>
          <ng-template mat-tab-label><div class="type-buttons">All Resources</div></ng-template>
        </mat-tab>
        <mat-tab
          *ngFor="let type of resourceTypesFiltered()"
        >
          <ng-template mat-tab-label>
            <div class="type-buttons {{type.name}}">
              <app-type-icon [iconType]="type.name" [size]="1"></app-type-icon>
              {{type.label}}
            </div>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
      <div
        *ngIf="showLocationButton"
        id="set-location"
        fxLayout.gt-sm="row"
        fxLayout.lt-md="column"
        fxLayoutAlign.gt-sm="start center"
        fxLayoutGap="10px"
      >
        <h4 *ngIf="isZipCode(storedZip)">Location: ({{storedZip}})</h4>
        <h4 *ngIf="gpsEnabled && !isZipCode(storedZip)">Location: (using GPS)</h4>
        <div fxFlex.lt-md="30%">
          <button
            [ngClass]="'zipCodeSetButton show mat-elevation-z0'"
            mat-flat-button
            color="accent"
            (click)="showLocationForm ? openSetLocation() : closeSetLocation()"
            [matTooltip]="showLocationForm ? 'Set your location' : 'Close location form'"
          >
            <mat-icon *ngIf="showLocationForm">keyboard_arrow_right</mat-icon>
            <mat-icon *ngIf="!showLocationForm">keyboard_arrow_left</mat-icon>
          </button>
        </div>
        <div [ngClass]="{'zipCodeSet': true, 'show': this.noLocation || this.setLocOpen}" fxLayout="row" fxLayout.lt-md="column" >
          <mat-form-field class="zipCodeField">
            <input
              matInput
              placeholder="Enter ZIP Code"
              [(ngModel)]="updatedZip"
              (keyup.enter)="zipSubmit($event)"
            >
          </mat-form-field>
          <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
              <button
                mat-flat-button
                color="accent"
                (click)="zipSubmit($event)"
                id="btn_save"
              >Save</button>
              <button
                *ngIf="gpsEnabled"
                mat-flat-button
                color="accent"
                (click)="useGPSLocation($event)"
                id="btn_gps"
              >Use GPS instead</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="filters">
  <mat-accordion>
    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h2>Filter Results:</h2>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div id="TopOfSearch" class="filters-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="2em">
        <div class="filter-select" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="2em" fxFlex="60%">
          <div id="age-filter" fxFlex="30%">
            <div *ngIf="query">
              <app-search-filter
                [aggregations]="query.age_counts"
                [label_title]="'By Age'"
                [label_any]="'Any age'"
                [label_map]="ageLabels"
                (filterSelected)="selectAgeRange($event)"
                [ngClass]="'filter-by-age'"
                [isNotApplicable]="!loading && query && !query.hasAgeCounts()"
                [notApplicableMessage]="'No age restrictions available for these search results.'"
              ></app-search-filter>
            </div>
          </div>

          <div id="language-filter" fxFlex="30%">
            <div *ngIf="query">
              <app-search-filter
                [aggregations]="query.language_counts"
                [label_title]="'By Language'"
                [label_any]="'Any language'"
                [label_map]="languageLabels"
                (filterSelected)="selectLanguage($event)"
                [ngClass]="'filter-by-language'"
                [isNotApplicable]="!loading && query && !query.hasLanguageCounts()"
                [notApplicableMessage]="'No language restrictions available for these search results.'"
              ></app-search-filter>
            </div>
          </div>

          <div id="topic-filter" fxFlex="30%">
            <app-search-topics
              *ngIf="query"
              [category]="query.category"
              (categorySelected)="selectCategory($event)"
              [ngClass]="'filter-by-topic'"
            ></app-search-topics>
          </div>
        </div>
        <div *ngIf="showBreadcrumbs()" class="breadcrumbs-container" fxLayout="column" fxFlex.gt-sm="30%">
          <h4>Selected Filters:</h4>
          <mat-chip-list class="applied-filters">
            <ng-container *ngIf="restrictToMappedResults">
              <mat-chip
                (click)="listMapResultsOnly(false)"
                class="applied-filter applied-filter-mapped"
              >
                <span class="applied-filter-label">Mapped results only</span>
                <mat-icon>close</mat-icon>
              </mat-chip>
            </ng-container>

            <ng-container *ngIf="query && query.words">
              <mat-chip
                (click)="removeWords()"
                class="applied-filter applied-filter-keyword"
              >
                <span class="applied-filter-label">"{{query.words}}"</span>
                <mat-icon>close</mat-icon>
              </mat-chip>
            </ng-container>

            <ng-container *ngFor="let age of query.ages let i = index">
              <mat-chip
                (click)="selectAgeRange()"
                class="applied-filter applied-filter-age"
              >
                <span class="applied-filter-label">{{ageLabels[age]}}</span>
                <mat-icon>close</mat-icon>
              </mat-chip>
            </ng-container>

            <ng-container *ngFor="let language of query.languages let i = index">
              <mat-chip
                (click)="selectLanguage()"
                class="applied-filter applied-filter-language"
              >
                <span class="applied-filter-label">{{languageLabels[language]}}</span>
                <mat-icon>close</mat-icon>
              </mat-chip>
            </ng-container>

            <div *ngIf="query.types.length === 1">
              <mat-chip
                (click)="selectType()"
                class="applied-filter applied-filter-type">
                <span class="applied-filter-label">{{typeLabels[query.types[0]]}}</span>
                <mat-icon>close</mat-icon>
              </mat-chip>
            </div>

            <ng-container *ngIf="query && query.category && query.category.id">
              <mat-chip
                (click)="removeCategory()"
                class="applied-filter applied-filter-topic"
              >
                <div class="applied-filter-label" fxLayout="row" fxLayoutAlign="center center">
                  <ng-container *ngIf="query.category.parent && query.category.parent.parent">
                    {{query.category.parent.parent.name}}
                    <mat-icon>chevron_right</mat-icon>
                  </ng-container>
                  <ng-container *ngIf="query.category.parent">
                    {{query.category.parent.name}}
                    <mat-icon>chevron_right</mat-icon>
                  </ng-container>
                  {{query.category.name}}
                </div>
                <mat-icon>close</mat-icon>
              </mat-chip>
            </ng-container>
          </mat-chip-list>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<mat-divider></mat-divider>
<div id="results-and-map" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="2em">
  <div
    class="search-results"
    id="results"
    fxLayout="column"
    fxLayoutGap="40px"
    fxFlex="70%"
  >
    <ng-container *ngIf="!loading; else loadingMessage">
      <div *ngIf="query?.hits.length === 0" fxLayout="column" fxLayoutGap="20px"
           fxLayoutAlign="center center" class="pad-4">
        <h2>No results currently available.</h2>
        <p>We could not find any results for your search. Please try removing some of the conditions
          by clicking on the 'x' in the filter tiles above. This will broaden the search and give you more results.</p>
        <h3>Check back soon for more updates!</h3>
      </div>
      <div *ngIf="query?.total != 0" id="sort-and-status" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between end">
        <div class="search-result-status">
          <h4 *ngIf="!restrictToMappedResults">Showing {{numResultsFrom()}}-{{numResultsTo()}} of {{numTotalResults()}} results</h4>
          <h4 *ngIf="restrictToMappedResults">Showing nearest {{hits.length}} mapped results</h4>
        </div>
        <div class="sort-order">
          <mat-form-field>
            <mat-label>Sort By:</mat-label>
            <mat-select [(value)]="selectedSort">
              <mat-select-trigger>
                <span class="type-label" *ngIf="selectedSort">{{selectedSort.label}}</span>
              </mat-select-trigger>
              <mat-option
                *ngFor="let sort of sortMethods"
                [value]="sort"
                (click)="newSortSelection(sort)"
                [ngClass]="'sort-by-' + sort.name.toLowerCase()"
              >
                <span class="sort-label">{{sort.label}}</span>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div *ngIf="hits.length > 0">
        <app-search-result
          *ngFor="let hit of hits"
          [hit]="hit"
          [mapLoc]="mapLoc"
          [currentUser]="currentUser"
        >
        </app-search-result>
      </div>
    </ng-container>

    <mat-paginator
      #paginator
      [length]="query?.total"
      [pageSize]="pageSize"
      [pageSizeOptions]="[pageSize, pageSize*3, pageSize*5]"
      (page)="updatePage($event)"
      [ngClass]="{'ghost': (restrictToMappedResults || !query || (query.total === 0))}"
    >
    </mat-paginator>
  </div>
  <div id="map" fxFlex="30%" fxLayout="column" fxLayoutGap="2em">
    <button
      id="listMappedResultsButton"
      mat-flat-button
      (click)="listMapResultsOnly(true)"
      *ngIf="showMap() && !restrictToMappedResults"
    >Show mapped results in list</button>
    <agm-map
      #mapTemplate
      *ngIf="showMap()"
      [latitude]="mapLoc ? mapLoc.lat : defaultLoc.lat"
      [longitude]="mapLoc ? mapLoc.lng : defaultLoc.lng"
      [streetViewControl]="false"
      mapTypeId="roadmap"
      [zoom]="7"
      (mapReady)="mapLoad($event)"
      [scrollwheel]="null"
      (mapClick)="closeInfoWindow()"
      (zoomChange)="updateZoom($event)"
      (boundsChange)="updateResultsList($event)"
    >
      <agm-marker-cluster [imagePath]="'assets/map/m'" [maxZoom]="8">
        <agm-marker
          *ngIf="mapLoc"
          [latitude]="mapLoc.lat"
          [longitude]="mapLoc.lng"
          [iconUrl]="{url: '/assets/map/your-location.svg', anchor: {x: 48, y: 48}}"
        ></agm-marker>
        <ng-container *ngFor="let hit of hitsWithNoAddress">
          <agm-circle
            [latitude]="hit.latitude + mapJitter(hit.id, true)"
            [longitude]="hit.longitude + mapJitter(hit.id, false)"
            [radius]="getCircleRadius()"
            [fillColor]="hit.type.toLowerCase() === 'location' ? '#6C799C' : '#E57200'"
            fillOpacity="0.1"
            [clickable]="true"
            [visible]="isInfoWindowOpen() && selectedMapHit.id == hit.id"
            (circleClick)="showInfoWindow(hit)"
            zIndex="-1"
          >
          </agm-circle>
          <agm-marker
            [latitude]="hit.latitude + mapJitter(hit.id, true)"
            [longitude]="hit.longitude + mapJitter(hit.id, false)"
            [iconUrl]="{url: '/assets/map/' + hit.type + '-no-address.svg', anchor: {x: 24, y: 24}}"
            (markerClick)="showInfoWindow(hit)"
          >
          </agm-marker>
        </ng-container>
        <ng-container *ngFor="let hit of hitsWithAddress">
          <agm-marker
            [latitude]="hit.latitude"
            [longitude]="hit.longitude"
            [iconUrl]="{url: '/assets/map/' + hit.type + '.svg', anchor: {x: 16, y: 16}}"
            (markerClick)="showInfoWindow(hit)"
          ></agm-marker>
        </ng-container>
      </agm-marker-cluster>
      <ng-container *ngIf="selectedMapResource">
        <agm-info-window [isOpen]="isInfoWindowOpen()" [latitude]="selectedMapHit.latitude"
                         [longitude]="selectedMapHit.longitude" (infoWindowClose)="closeInfoWindow()">
          <a
            class="title mat-h2"
            href="/#/{{selectedMapResource.type.toLowerCase()}}/{{selectedMapResource.id}}"
          >{{selectedMapResource.title}}</a>
          <a
            class="chevron-link"
            [routerLink]="['/' + selectedMapResource.type.toLowerCase() + '/' + selectedMapResource.id]"
            routerLinkActive="router-link-active">
            {{selectedMapHit.no_address ? 'In-home therapy' : selectedMapHit.type}} Details</a>
        </agm-info-window>
      </ng-container>
    </agm-map>

    <div *ngIf="highlightedStudy" id="studies-highlight">
      <mat-card>
        <mat-card-content>
          <h3>Highlighted Study: <a href="/#/study/{{highlightedStudy.id}}">{{highlightedStudy.short_title}}</a></h3>
          <p>{{highlightedStudy.short_description}}</p>
          <a
            class="chevron-link"
            [routerLink]="['/studies']"
            routerLinkActive="router-link-active">
            Explore other studies</a>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
<div id="partners" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="3em" fxLayoutAlign="auto center">
  <div fxLayout="column" fxLayoutAlign="start">
    <h1>Resource partners</h1>
    <p class="pad-0 margin-bottom-none">We are partnering with the following initiatives and organizations to identify
      resources that will improve
      outcomes for individuals with autism and their families.</p>
    <div fxLayoutAlign.gt-xs="row" fxLayout.lt-sm="column" fxLayoutAlign="space-between">
      <span
        *ngFor="let rg of resourceGatherers"
      >
        <a
          [href]="rg.url"
          [title]="rg.name"
          [matTooltip]="rg.shortName + ' - ' + rg.description"
          class="resource-gatherer"
        >
          <img
            [alt]="rg.shortName"
            [src]="rg.image"
          >
        </a>
      </span>
    </div>
  </div>
  <app-border-box-tile
    [title]="'Can\'t find your resource on drive?'"
    [subtitle]="'Click Here To Submit'"
    [linkSize]="2"
    (click)="submitResource()"
  ></app-border-box-tile>
</div>

<ng-template #loadingMessage>
  <app-loading></app-loading>
</ng-template>
