@import '../../config';

#hero {
  background-image: url('/assets/home/hero-parent-child.jpg');

  h1 {
    color: white;
  }
}

form.search-box {
  background: transparent;
  border-radius: 5px;
  padding-top: 1em;
  padding-bottom: 1em;
  display: flex;
  transition: $animationDuration ease-in-out padding-top;

  &.hidden-results {
    padding-top: 100px;
  }

  mat-form-field, mat-hint {
    flex: 2 0 auto;
  }
}

#tiles {
  padding-top: 1em;
  padding-left: 2em;
  padding-right: 2em;
}

.title {
  margin: 0px;
  color: $brand-primary;
  font-weight: 800;
  font-style: italic;
  text-transform: uppercase;
  line-height: 1;
  font-size: 1.625rem;
}

h3.mat-subheader {
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-top: 1em;
  padding-left: 0px;
  padding-bottom: 0px;
}

button {
  flex: 0 0 auto;
  border: none;
}

.filters {
  #reset-filters {
    color: $brand-accent;
    font-weight: bold;
    padding-left: 0px;
  }

  h2 {
    font-size: 1.5rem;
  }
}


.filter-facet-item, .sort-order {
  font-size: 1em;
  line-height: 1;
}

.breadcrumbs-container {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin: 0;
  margin-bottom: 0.5em;



  .num-results {
    text-align: right;
  }
}

.applied-filters {
  grid-area: filters;
  margin-left: 0;
  justify-self: start;

  ::ng-deep .mat-chip-list-wrapper {
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
    padding-bottom: 1em;

    .mat-chip {
      flex: 0 0 auto;
    }
  }

  .applied-filter {
    color: white;
    background-color: $brand-accent;

    mat-icon {
      margin-left: 0.75rem;
      margin-right: -0.25rem;
      font-size: 1.25rem;
      line-height: 1.25;
    }

    .applied-filter-label mat-icon {
      margin-left: 0;
    }
  }
}

.sort-order {
  grid-area: sort;
  justify-self: end;
}

agm-map {
  height: 400px;
  width: 100%;
}

::ng-deep mat-paginator.mat-paginator {

  .mat-paginator-page-size-select.mat-form-field-appearance-outline {
    width: 84px;

    .mat-form-field-wrapper {
      padding-bottom: 0.75em;
    }

    .mat-form-field-outline {
      top: 0.75em;
      bottom: -0.25em;
    }

    .mat-select-arrow-wrapper {
      transform: translateY(0%);
    }

    .mat-form-field-infix {
      padding-top: 0px;
      padding-bottom: 0px;
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }
}
