<mat-tree #tree [dataSource]="dataSource" [childrenAccessor]="childrenAccessor" class="tree-select">
  <!-- This is the tree node template for leaf nodes -->
  <!-- There is inline padding applied to this node using styles. This padding value depends on the mat-icon-button width. -->
  <mat-nested-tree-node #treeNode="matNestedTreeNode" *matTreeNodeDef="let node" matTreeNodeToggle>
    <mat-checkbox
      [formlyAttributes]="field"
      [formControl]="formControlCast"
      [checked]="checklistSelection.isSelected(node)"
      (change)="toggleNode(node)"
      [id]="node.id"
      #categoryCheckbox
      >{{ node.name }}
    </mat-checkbox>
  </mat-nested-tree-node>

  <!-- This is the tree node template for expandable nodes -->
  <mat-nested-tree-node
    *matTreeNodeDef="let node; when: hasNestedChild"
    matTreeNodeToggle
    [cdkTreeNodeTypeaheadLabel]="node.name"
  >
    <div class="mat-tree-node">
      <button mat-icon-button [attr.aria-label]="'toggle ' + node.name" class="toggle-node-button" matTreeNodeToggle>
        <mat-icon class="mat-icon-rtl-mirror">
          {{ findNode(node.id).isExpanded ? 'expand_more' : 'chevron_right' }}
        </mat-icon>
      </button>

      <mat-checkbox disabled="true" [checked]="checklistSelection.isSelected(node)">
        <span
          *ngIf="numSelectedDescendants(node) as numDescendants; else noSelectedDescendants"
          matBadge="{{ numDescendants }}"
          matBadgeColor="accent"
          matBadgeOverlap="false"
          >{{ node.name }}</span
        >
        <ng-template #noSelectedDescendants>{{ node.name }}</ng-template>
      </mat-checkbox>
    </div>

    <!-- There is inline padding applied to this div using styles.
        This padding value depends on the mat-icon-button width.  -->
    <div [class.tree-select-invisible]="!tree.isExpanded(node)" role="group">
      <ng-container matTreeNodeOutlet></ng-container>
    </div>
  </mat-nested-tree-node>
</mat-tree>
