<div
  *ngIf="location"
  class="container"
  id="location"
>
  <div
    class="row"
    fxLayout="row"
    fxLayout.lt-lg="column"
    fxLayoutGap="40px"
  >
    <div
      id="location-details"
      fxFlex.gt-md="60%"
      fxLayout="column"
      fxLayoutGap="40px"
    >
      <h1>{{location.title}}</h1>
      <!--<img-->
        <!--*ngIf="location.image"-->
        <!--[src]="location.image"-->
      <!--&gt;-->
      <!--<caption *ngIf="location.image && location.imageCaption">{{location.imageCaption}}</caption>-->
      <h2>About this location</h2>
      <p>{{location.description}}</p>
      <div
        fxLayout="column"
        fxLayoutGap="20px"
      >
        <button
          *ngIf="location.phone"
          mat-flat-button
          color="primary"
          (click)="goPhone($event)"
        >Call {{location.phone}}</button>
        <button
          *ngIf="location.website"
          mat-stroked-button
          color="primary"
          (click)="goWebsite($event)"
        >Visit website</button>
      </div>
    </div>
    <div
      id="location-meta"
      fxFlex.gt-md="40%"
      fxLayout="column"
      fxLayoutGap="20px"
    >
      <div id="location-contact">
        <mat-card>
          <mat-card-title>Contact: {{location.organization.name}}</mat-card-title>
          <mat-card-content>
            <mat-list>
              <mat-list-item *ngIf="location.street_address1">
                <mat-icon>location_on</mat-icon>
                <address>
                  {{location.street_address1}}
                  {{location.street_address2}}
                  {{location.city}}, {{location.state}} {{location.zip}}
                </address>
              </mat-list-item>
              <mat-list-item *ngIf="location.primary_contact">
                <mat-icon>person_pin</mat-icon>
                {{location.primary_contact}}
              </mat-list-item>
              <mat-list-item *ngIf="location.phone">
                <mat-icon>phone</mat-icon>
                <a href="tel://{{location.phone}}">{{location.phone}}</a>
              </mat-list-item>
              <mat-list-item *ngIf="location.email">
                <mat-icon>mail</mat-icon>
                <a href="mailto:{{location.email}}">{{location.email}}</a>
              </mat-list-item>
              <mat-list-item *ngIf="location.website">
                <mat-icon>link</mat-icon>
                <a href="{{location.website}}">{{location.website}}</a>
              </mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </div>
      <div id="location-categories">
        <app-category-chips [categories]="location.resource_categories"></app-category-chips>
      </div>
      <div id="location-related">
        <mat-card>
          <mat-card-title>Related</mat-card-title>
          <mat-card-content>
            <mat-list>
              <h3 mat-subheader>Locations</h3>
              <mat-list-item>
                <a
                  mat-line
                  href="/#/location/1"
                >Location 1</a>
                <p mat-line>Description goes here. Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                  accusantium
                  doloremque laudantium, totam rem aperiam...</p>
              </mat-list-item>

              <h3 mat-subheader>Research Studies</h3>
              <mat-list-item>
                <a
                  mat-line
                  href="/#/study/1"
                >Study 1</a>
                <p mat-line>Description goes here. Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                  accusantium
                  doloremque laudantium, totam rem aperiam...</p>
              </mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>

<app-loading
  *ngIf="!location"
  message="Loading..."
></app-loading>
