.container {
  // SM
  @media (max-width: 959px) {
    min-height: 60vh;
  }

  // MD
  @media (min-width: 960px) {
    min-height: 70vh;
  }

  // XL
  @media (min-width: 1280px) {
    min-height: 80vh;
  }
}

.form{
  padding: 2%;
}
