mat-card {
  margin-bottom: 1em;
  padding-bottom: 2em;

  :root .mat-card-header-text {
    margin-left: 0;

    mat-card-title {
      font-size: 1em;
      font-weight: 600;
      margin-bottom: 10px;
    }
  }
}
