<div
  *ngIf="event"
  class="container"
  id="event"
>
  <div
    class="row"
    fxLayout="row"
    fxLayout.lt-lg="column"
    fxLayoutGap="40px"
  >
    <div
      id="event-details"
      fxFlex.gt-md="60%"
      fxLayout="column"
      fxLayoutGap="40px"
    >
      <h1>{{event.title}}</h1>
      <!--<img-->
        <!--*ngIf="event.image"-->
        <!--[src]="event.image"-->
      <!--&gt;-->
      <!--<caption *ngIf="event.image && event.imageCaption">{{event.imageCaption}}</caption>-->
      <h2>About this event</h2>
      <p>{{event.description}}</p>
      <p *ngIf="event.ticket_cost">Ticket Cost: {{event.ticket_cost}}</p>
      <div
        fxLayout="column"
        fxLayoutGap="20px"
      >
        <button
          *ngIf="event.phone"
          mat-flat-button
          color="primary"
          (click)="goPhone($event)"
        >Call {{event.phone}}</button>
        <button
          *ngIf="event.website"
          mat-stroked-button
          color="primary"
          (click)="goWebsite($event)"
        >Visit website</button>
      </div>
    </div>
    <div
      id="event-meta"
      fxFlex.gt-md="40%"
      fxLayout="column"
      fxLayoutGap="20px"
    >
      <div id="event-contact">
        <mat-card>
          <mat-card-title >Contact: {{event.organization.name}}</mat-card-title>
          <mat-card-content>
            <mat-list>
              <mat-list-item *ngIf="event.date">
                <mat-icon>access_time</mat-icon>
                {{event.date | date:'longDate'}}: {{event.time}}
              </mat-list-item>
              <mat-list-item *ngIf="event.street_address1">
                <mat-icon>location_on</mat-icon>
                <address>
                  {{event.location_name}},
                  {{event.street_address1}}
                  {{event.street_address2}},
                  {{event.city}}, {{event.state}} {{event.zip}}
                </address>
              </mat-list-item>
              <mat-list-item *ngIf="event.primary_contact">
                <mat-icon>person_pin</mat-icon>
                {{event.primary_contact}}
              </mat-list-item>
              <mat-list-item *ngIf="event.phone">
                <mat-icon>phone</mat-icon>
                <a href="tel://{{event.phone}}">{{event.phone}}</a>
              </mat-list-item>
              <mat-list-item *ngIf="event.website">
                <mat-icon>link</mat-icon>
                <a target="_blank" href="{{event.website}}">{{event.website}}</a>
              </mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </div>
      <div id="event-categories">
        <app-category-chips [categories]="event.resource_categories"></app-category-chips>
      </div>
      <div id="event-related">
        <mat-card>
          <mat-card-title>Related</mat-card-title>
          <mat-card-content>
            <mat-list>
              <h3 mat-subheader>Events</h3>
              <mat-list-item>
                <a
                  mat-line
                  href="/#/event/1"
                >Event 1</a>
                <p mat-line>Description goes here. Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                  accusantium
                  doloremque laudantium, totam rem aperiam...</p>
              </mat-list-item>

              <h3 mat-subheader>Research Studies</h3>
              <mat-list-item>
                <a
                  mat-line
                  href="/#/study/1"
                >Study 1</a>
                <p mat-line>Description goes here. Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                  accusantium
                  doloremque laudantium, totam rem aperiam...</p>
              </mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>

<app-loading
  *ngIf="!event"
  message="Loading..."
></app-loading>
