@import '../search-filter/search-filter.component';

div.current-facet-label {
  cursor: pointer;
  font-weight: 700;
  color: $body-color;
  padding: 5px 0 5px 0;
}

.show-all {
  cursor: pointer;
}

button {
  width: 100%;
  text-align: left;
}
