@import '../search-filter/search-filter.component';

div.current-facet-label {
  cursor: pointer;
  font-weight: 700;
  color: $body-color;
  padding: 5px 0 5px 0;
}

.show-all {
  cursor: pointer;
}

button {
  width: 100%;
  text-align: left;
}

::ng-deep .mat-menu-panel {
  max-width: 400px !important;
  width: 400px;
  .mat-menu-content {
    width: initial;

    .mat-menu-item {
      text-overflow: unset;
    }
  }
}

.placeholder,
.parent-topics,
::ng-deep .parent-topics mat-list-item,
.select-topic {
  width: 300px;
  height: 36px;
}
