<mat-list dense *ngIf="category && parentList().length > 0" class="parent-topics">
    <ng-container *ngFor="let parent of parentList()">
      <mat-list-item
        (click)="selectCategory(parent)"
        class="show-all"
      >
        <mat-icon>chevron_left</mat-icon>
        <span class="filter-facet-label">
          {{parent.name}}
        </span>
        </mat-list-item>
    </ng-container>
</mat-list>

<ng-container *ngIf="category && category.children && (category.children.length > 0); else loadingMessage">
  <button mat-button [matMenuTriggerFor]="topicMenu" [ngClass.gt-sm]="'select-topic'">
    <mat-icon>topic</mat-icon>
    Filter by {{category.level <= 0 ? 'Topic' : 'Subtopic'}}
    <mat-icon>arrow_drop_down</mat-icon>
  </button>
  <mat-menu #topicMenu>
      <button
        *ngFor="let child of categories"
        (click)="selectCategory(child)"
        mat-menu-item
      >
        <span class="child-label" *ngIf="child.hit_count == 1">{{child.name}} - {{child.hit_count}} result</span>
        <span class="child-label" *ngIf="child.hit_count != 1">{{child.name}} - {{child.hit_count}} results</span>
      </button>
  </mat-menu>
</ng-container>

<ng-template #loadingMessage>
  <div class="placeholder"></div>
</ng-template>
