<mat-list dense *ngIf="category; else loadingMessage">
    <ng-container *ngFor="let parent of parentList()">
      <mat-list-item
        (click)="selectCategory(parent)"
        class="show-all"
      >
        <mat-icon>chevron_left</mat-icon>
        <span class="filter-facet-label">
          {{parent.name}}
        </span>
        </mat-list-item>
    </ng-container>
</mat-list>


<mat-form-field *ngIf="category && category.children && category.children.length > 0">
  <mat-label *ngIf="category.level == 0">By Topic</mat-label>
  <mat-label *ngIf="category.level > 0">Select Subtopic</mat-label>
  <mat-select>
    <mat-option
      *ngFor="let child of category.children"
      (click)="selectCategory(child)"
    >
      <span class="child-label" *ngIf="child.hit_count == 1">{{child.name}} - {{child.hit_count}} result</span>
      <span class="child-label" *ngIf="child.hit_count != 1">{{child.name}} - {{child.hit_count}} results</span>
    </mat-option>
  </mat-select>
</mat-form-field>

<ng-template #loadingMessage>
  <app-loading [isField]="true"></app-loading>
</ng-template>
