// Import theming functions
@import '../../../node_modules/@angular/material/theming';
// Import your custom theme
@import '../../stardrive_material';
// Load the STAR DRIVE Theme
@include stardrive-theme($stardrive-theme);

mat-drawer-container {
  min-height: 100vh;
  background-color: white;
}

mat-drawer-content {
  background-color: white;
}

.pad-2 {
  padding: 2em;
}

button {
  margin: 2em;
}

