<div
  class="mat-typography"
>
  <div>
    <div
      fxLayout="row"
      fxLayoutAlign="auto center"
    >
      <h1>
        <button
          mat-fab
          color="primary"
          (click)="sidenav.toggle()"
        >
          <mat-icon>menu</mat-icon>
        </button>
      </h1>
      <button
        mat-flat-button
        (click)="exportAll()"
        color="accent"
      >
        Export All
      </button>
    </div>
    <mat-drawer-container>
      <mat-drawer #sidenav
        [mode]='"over"'
        [(opened)]="sidebarOpen">
          <mat-nav-list *ngFor="let info of questionnaire_info">
            <mat-list-item
              (click)="selectQuestionnaire(info)"
            >
              <i class="material-icons">{{ info.getIcon() }}</i>
              {{ info.display_name }}
              <span fxFlex></span>
            </mat-list-item>
          </mat-nav-list>
      </mat-drawer>
      <mat-drawer-content
        *ngIf="currentQuestionnaire"
        class="pad-2"
      >
        <app-questionnaire-data-table [questionnaire_info]="currentQuestionnaire"></app-questionnaire-data-table>
      </mat-drawer-content>
    </mat-drawer-container>
  </div>

</div>
