<mat-card>
<div *ngIf="categories.length > 0">
  <mat-card-title>Related Topics</mat-card-title>
  <mat-chip-list>
    <mat-chip
      *ngFor="let c of categories"
      [routerLink]="[ '/search' ]"
      [queryParams]="{'category': c.category.id}"
      color="primary"
      selected
    >{{c.category.name}}</mat-chip>
  </mat-chip-list>
</div>

<div id="ages" *ngIf="ages && ages.length > 0">
  <mat-card-title>Related Age Ranges</mat-card-title>
  <mat-chip-list>
    <mat-chip
      *ngFor="let age of ages"
      [routerLink]="[ '/search' ]"
      [queryParams]="{'ages': age}"
      color="primary"
      selected
    >{{ageLabels[age]}}</mat-chip>
  </mat-chip-list>
</div>

<div id="languages" *ngIf="languages && languages.length > 0">
  <mat-card-title>Related Languages</mat-card-title>
  <mat-chip-list>
    <mat-chip
      *ngFor="let language of languages"
      [routerLink]="[ '/search' ]"
      [queryParams]="{'languages': language}"
      color="primary"
      selected
    >{{languageLabels[language]}}</mat-chip>
  </mat-chip-list>
</div>
</mat-card>
