.mat-flat-button {
  margin-top: 1em;
}

.status {
  font-size: 1.5em;
  font-weight: bold;
  margin: 1em 0;
  padding-bottom: 1em;
}

.investigator p {
  margin: 0.25em auto;
}

h1 {
  margin: 1em 0 1em 0;
}

#study-details {
  margin: 2em;
}
