<div
  *ngIf="!loading && study"
  class="container"
  id="study"
>
  <div
    id="study-details"
    fxFlex.gt-md="80%"
    fxFlex.gt-lg="60%"
    fxLayout="column"
    fxLayoutGap="15px"
    class="row"
  >
    <h1>{{study.title}}</h1>
    <h4 *ngIf="study.organization_name">{{study.organization_name}}</h4>
    <app-edit-button *ngIf="currentUser && currentUser.permissions.includes('edit_study')" [editLabel]='"Edit Study"' [editLink]='"study/edit/" + study.id.toString()' [currentUser]="currentUser"></app-edit-button>
    <p class="status">Study Status: {{ snakeToUpperCase(study.status) }}</p>
    <p>{{study.description}}</p>
    <p *ngIf="study.results_url"><b>Click <a target="_blank" href={{study.results_url}}>here</a> for the results</b></p>
    <div *ngIf="study.status === 'currently_enrolling' && study.participant_description">
      <h2>Who We're Looking For</h2>
      <p>{{study.participant_description}}</p>
    </div>
    <div *ngIf="study.status === 'currently_enrolling' && study.benefit_description">
      <h2>Why Participate?</h2>
      <p>{{study.benefit_description}}</p>
    </div>
    <div *ngIf="study.study_investigators.length > 0">
      <h2>About the Researchers</h2>
      <div
        fxLayout="row"
        fxLayoutGap="40px"
        fxLayoutAlign="start center"
        *ngFor="let si of study.study_investigators"
      >
        <div class="investigator">
        <p><a *ngIf="si.investigator.bio_link" target="_blank" href={{si.investigator.bio_link}}>{{si.investigator.name}}</a>
        <b *ngIf="!si.investigator.bio_link">{{si.investigator.name}}</b>
        <span *ngIf="si.investigator.title">, {{si.investigator.title}}</span>
        <span *ngIf="si.investigator.organization_name">, {{si.investigator.organization_name}}</span></p>
        </div>
        <button
          *ngIf="currentUser && currentUser.permissions.includes('edit_resource' || 'edit_study')"
          mat-mini-fab
          type="button"
          color="primary"
          (click)="openDialog(si)"
          matTooltip="Edit Investigator"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </div>
    <div *ngIf="study.location">
      <h2 *ngIf="study.status === 'currently_enrolling' || study.status === 'study_in_progress'">Where does this study take place?</h2>
      <h2 *ngIf="study.status === 'results_being_analyzed' || study.status === 'study_results_published'">Where did this study take place?</h2>
      <p>{{study.location}}</p>
      <p *ngIf="study.num_visits">Number of Visits Required For Participation: {{study.num_visits}}</p>
    </div>
    <div *ngIf="study.status === 'currently_enrolling' && study.survey_url">
      <app-study-survey-entry [study]="study" [currentUser]="currentUser" [surveyLink]="study.survey_url"></app-study-survey-entry>
    </div>
    <div
      *ngIf="study.status === 'currently_enrolling' && !study.survey_url"
    >
      <app-study-inquiry [study]="study"></app-study-inquiry>
    </div>
  </div>
</div>

<app-loading
  *ngIf="!study"
  message="Loading..."
></app-loading>
