@import '../../stardrive_material';

#spinner-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  z-index: 4;
  width: 100%;
  height: 100%;

  h1, mat-spinner {
    margin: 40px auto 0 auto;
  }
}
