<div class="container mat-typography" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="10px"
     fxLayoutAlign="center center">
  <div fxFlex="50%">
    <app-logo></app-logo>
    <mat-card>
      <mat-card-content>
        <h1 class="mat-display-1" color="primary">Reset your STAR Drive Password</h1>
        <form [formGroup]="form" (ngSubmit)="submit(model)">
          <formly-form [form]="form" [fields]="fields" [model]="model">
            <div
              fxLayout="column"
              fxLayoutGap="2%"
              fxLayoutAlign="center"
            >
            <div
              id="error_message"
              class="display mat-error"
            >{{errorEmitter | async}}</div>
              <button mat-button type="submit">Next</button>
              <button mat-button (click)="goHome($event)">Cancel</button>
            </div>
          </formly-form>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
