<div
  class="container mat-typography"
  fxLayout="row"
  fxLayout.xs="column"
  fxLayoutWrap
  fxLayoutGap="10px"
  fxLayoutAlign="center center"
>
  <div class="form" fxFlex="50%" fxFlex.xs="90%">
    <app-logo variant="dark-lg" (click)="goHome($event)"></app-logo>
    <h1 class="mat-display-1" color="primary">Set your new Autism DRIVE Password</h1>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <formly-form [form]="form" [fields]="fields" [model]="model" (keyup)="updateValidationState()" />
      <div fxLayout="column" fxLayoutGap="2%" fxLayoutAlign="center">
        <div id="error_message" class="display mat-error" *ngIf="errorMessage">{{ errorMessage }}</div>
        <button mat-flat-button type="submit" color="primary" id="submit">Next</button>
        <button mat-flat-button (click)="goHome($event)" color="accent" id="cancel">Cancel</button>
      </div>
    </form>
    <div class="footer" fxLayout="row" fxLayoutAlign="space-between">
      <a mat-button [routerLink]="['/register']" id="register">Join Autism DRIVE</a>
      <a mat-button [routerLink]="['/forgot-password']" id="forgot_password">Forgot password?</a>
    </div>
  </div>
</div>
