@use "config" as config;

.container {
  min-height: 100vh;
}

.form {
  border: config.$brand-gray solid 2px;
  padding: 2%;
}

h1.instructions {
  font-size: var(--mat-sys-display-large);
  color: var(--mat-sys-on-primary);
}
