<div class="container mat-typography"
     fxLayout="row"
     fxLayout.xs="column"
     fxLayoutWrap
     fxLayoutGap="10px"
     fxLayoutAlign="center center"
>
  <div
    class="form"
    fxFlex="50%"
    fxFlex.xs="90%"
  >
    <app-logo></app-logo>
    <h1 class="mat-display-1" color="primary">Reset your STAR Drive Password</h1>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <formly-form [form]="form" [fields]="fields" [model]="model">
        <div
          fxLayout="column"
          fxLayoutGap="2%"
          fxLayoutAlign="center"
        >
        <div
          id="error_message"
          class="display mat-error"
          *ngIf="errorMessage"
        >{{errorMessage}}</div>
          <button
            mat-flat-button
            type="submit"
            color="primary"
          >Next</button>
          <button
            mat-flat-button
            (click)="goHome($event)"
            color="accent"
          >Cancel</button>
        </div>
      </formly-form>
    </form>
  </div>
</div>
