<div class="video-preview {{videoSize}}">
  <button mat-mini-fab class="hide-video" (click)="hideVideo()"><mat-icon>close</mat-icon></button>
  <youtube-player
    [width]="videoWidth"
    [height]="videoHeight"
    [videoId]="videoId"
    [playerVars]="playerVars"
  ></youtube-player>
  <markdown>{{instructions}}</markdown>
  <app-details-link
    class="video-link"
    *ngFor="let link of links"
    [url]="link.url"
    [label]="link.label"
    [inverted]="true"
    [allCaps]="false"
    [size]="1"
    [externalLink]="true"
  ></app-details-link>
</div>
