<div
  class="mat-typography"
>
  <div mat-dialog-content>
    <h1 mat-dialog-title>Repeat Section Dialog</h1>
    <formly-form
      [fields]="data.fields"
      [model]="data.model"
      (click)="updateDisableSave()"
    ></formly-form>
  </div>
  <div mat-dialog-actions>
    <button
      mat-flat-button
      color="primary"
      [disabled]="disableSave"
      (click)="onSubmit()"
    >Save</button>
    <button
      mat-button
      (click)="onNoClick()"
    >Cancel</button>
  </div>
</div>
