.enroll {
  margin: 1em;

  button {
    padding: 0 5%;
    color: white;
    background-color: #0d87e9;
    font-size: larger;
  }
}

.highlight p {
  font-size: smaller;
  color: #999999;
}

.image {
  padding: 2em;
  color: white;
  background-color: #777777;
  height: 300px;
}
