<div class="enroll">
  <div class="highlight">
    <div
      class="image"
      fxLayoutAlign="start end"
    >
      <h1>Big headline about enrolling in a study</h1>
    </div>
    <p>Caption describing study and what participant is doing</p>
  </div>
  <div
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutGap="4%"
  >
    <div fxFlex="60%">
      <h2>About our studies</h2>
      <p>Explain who STAR DRIVE is for, the partner institutions, what kinds of
        studies are being run, what the studies aim to discover, the personal
        benefits to participants of the studies, and how to enroll. Sed ut perspiciatis
        unde omnis iste natus error sit voluptatem accusantium doloremque
        laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis
        et quasi architecto beatae vitae dicta sunt explicabo.</p>
      <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
        fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
        sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor
        sit amet, consectetur, adipisci velit, sed quia non numquam eius modi
        tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
    </div>
    <div
      class="highlight"
      fxFlex="40%"
    >
      <div class="image"></div>
      <p>Caption describing study and what participant is doing</p>
    </div>
  </div>
  <div fxLayoutAlign="center center">
    <button
      mat-button
      (click)="goTerms($event)"
    >
      Get started now
    </button>
  </div>
</div>
