<div class="enroll mat-typography">
  <div class="highlight">
    <div
      class="image"
      fxLayoutAlign="start end"
      id="hero"
    >
      <h1 class="mat-display-2">JOIN THE AUTISM REGISTRY</h1>
    </div>
    <p>Caption describing study and what participant is doing</p>
  </div>
  <div
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutGap="4%"
  >
    <div fxFlex="60%">
      <h2>STAR Mission</h2>
      <p>The mission of the Supporting Transformative Autism Research (STAR) project is to
        improve the lives of individuals with autism and their families through ground-breaking
        research and innovative models for care, support, and education. It was designed to
        ignite discovery, improve systems of care, and equip communities with best practices
        to support people with autism across the lifespan. STAR brings together researchers,
        community partners, individuals with autism and their families to identify challenges
        and co-develop innovative solutions. </p>
      <h2>AUTISM DRIVE</h2>
      <p>The AUTISM DRIVE (Data System for Research Integration, Visualization & Exchange)
        was developed as a dynamic system for secure collection and sharing of knowledge and
        information.  The DRIVE helps researchers collaborate with the autism community to gain
        insights into autism and to develop meaningful solutions to challenges experienced by
        individuals with autism and their families.  It also provides individualized online
        access to training and resources for individuals with autism, their families, and the
        professionals who support them.</p>
      <h2>About the Autism Registry</h2>
      <p>The purpose of the Autism Registry is to connect individuals with autism and their
        families with research opportunities and resources in their own communities.
        By joining the Registry, we can share information with you that is tailored to your
        needs and interests.  We can also match you with research opportunities that might
        be a good fit for you and your family.  Your participation will help us learn more
        about autism so we can create new solutions to achieve positive outcomes.  Register now!</p>
    </div>
    <div
      class="highlight"
      fxFlex="40%"
    >
      <div
        class="image"
        id="feature"
      ></div>
      <p>Caption describing study and what participant is doing</p>
    </div>
  </div>
  <div fxLayoutAlign="center center">
    <button
      mat-button
      (click)="goTerms($event)"
    >
      Get started now
    </button>
  </div>
</div>
