<mat-spinner *ngIf="!aggregations"></mat-spinner>

<mat-form-field *ngIf="aggregations">
  <mat-label>{{label_title}}</mat-label>
  <mat-select>
    <mat-option
      *ngFor="let agg of aggregations"
      [value]="agg.value"
      (click)="select(agg.value)"
    >
      <span class="agg-label" *ngIf="agg.count == 1">{{label_map[agg.value]}} - {{agg.count}} result</span>
      <span class="agg-label" *ngIf="agg.count != 1">{{label_map[agg.value]}} - {{agg.count}} results</span>
    </mat-option>
  </mat-select>
</mat-form-field>
