<div
  id="uva-header"
  [@toggle]="toggle"
  fxLayout="row"
  fxLayoutAlign="center center"
>
  <div
    class="uva-logo"
    fxFlex
  ><a href="https://curry.virginia.edu/faculty-research/centers-labs-projects/star"><img
        src="/assets/logo/UVA_STAR-logo.svg"
      ></a></div>
  <span fxFlex fxShow.md="false"></span>
  <button mat-button fxShow.gt-sm="false">
    <mat-icon>menu</mat-icon>
  </button>
  <div
    class="uva-links"
    fxFlex
    fxShow.lt-md="false"
  >
    <ul
      fxLayout="row"
      fxLayoutAlign="center center"
    >
      <li><a href="https://curry.virginia.edu/faculty-research/centers-labs-projects/star/people">People</a></li>
      <li><a
          href="https://curry.virginia.edu/faculty-research/centers-labs-projects/star/research-projects">Research</a>
      </li>
      <li><a href="https://curry.virginia.edu/news-0">News</a></li>
      <li><a [routerLink]="[ '/' ]">Registry</a></li>
    </ul>
  </div>
</div>