@use '~@angular/material' as mat;
@import '../../material';

#header-bg {
  background-color: $brand-gray;
  position: fixed;
  width: 100%;
  z-index: 98;
}

#site-header {
  width: 100%;
  z-index: 100;
  background-color: $brand-gray;

  mat-toolbar-row {
    background-color: $brand-primary;
    color: white;
    position: fixed;
    transition: translate ease-in-out 500ms, height ease-in-out 500ms, top ease-in-out 500ms;
  }

  mat-toolbar-row#uva-header {
    width: 100%;
    background-color: white;
    z-index: 103;
    padding-left: 16px;
    color: $brand-primary;

    .uva-logo a {
      @include mat.typography-level($custom-typography, button);
      color: $brand-primary;
      text-transform: uppercase;
    }

  }

  mat-toolbar-row#menu-bar {
    padding-right: 0;
    background-color: $brand-primary;
    z-index: 102;

    a {
      text-decoration: none;
      color: inherit;
    }

    #primary-nav {
      .mat-button {
        &.selected {
          border-bottom-left-radius: 0px;
          border-bottom-right-radius: 0px;
          border-bottom-width: 4px;
          border-bottom-style: solid;
          border-bottom-color: $brand-primary;
        }
      }
    }

    #primary-nav .mat-button {
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }

  mat-toolbar-row#tagline {
    position: fixed;
    z-index: 100;
    box-shadow: 40px 20px 40px -40px rgba(0, 0, 0, 0.1);

    p {
      font-style: italic;
      margin: 0;
    }
  }

   mat-toolbar-row#searchtag {
     background-color: $brand-accent;
    z-index: 100;
    box-shadow: 40px 20px 40px -40px rgba(0, 0, 0, 0.1);
    p {
      font-style: italic;
      margin: 0;
    }
  }

  #primary-nav {
    ul {
      list-style: none;
      margin: 0px;
      display: flex;
      align-items: center;
      justify-items: center;
      align-content: center;
      justify-content: center;
    }

    li {
      border-right: 1px solid $brand-accent;
      height: 2em;
      padding: 0px 18px 0px 18px;
      margin: 0px;
      align-items: center;
      align-content: center;
      justify-items: center;
      justify-content: stretch;
      display: flex;

      &:last-child {
        border-right: none;
      }

      a {
        font-family: 'franklin-gothic-urw', sans-serif;
        font-weight: 700;
        font-style: italic;
        font-size: 1rem;
        color: white;
        text-transform: uppercase;
        position: relative;
        display: flex;
        text-decoration: none;

        &:after {
          transition: all ease-in-out 500ms;
          content: '';
          background-color: transparent;
          width: 100%;
          height: 4px;
          position: absolute;
          bottom: 8px;
          left: 0px;
        }
      }

      a.selected:after {
        background-color: $brand-accent;
        bottom: 0px;
      }

      &:hover {
        background-color: $brand-primary;

        a {
          text-decoration: none;
        }

        a:after {
          background-color: $brand-accent;
          bottom: 0px;
        }
      }

    }
  }
}

::ng-deep :not(body.is-home) #site-header {
  min-height: unset;
}

#site-header.mirroring, #site-header mat-toolbar.mirroring, #mobile-menu.mirroring {
  background-color: $brand-warning-muted;
}

div.mirror-message {
  padding: 20px;
  font-weight: bold;
  color: white;
}

#mobile-menu {
  position: fixed;
  width: 100%;
  background-color: $brand-primary;
  color: white;
  z-index: 97;
  padding: 1em;
  display: grid;
  grid-gap: 0.25em;
  grid-template-columns: 1fr;
  justify-content: stretch;

  .mat-button { text-align: left; }
}
