<div id="admin_notes" *ngIf="currentUser && currentUser.role == 'admin'">
  <mat-card>
    <mat-card-title>Admin Notes</mat-card-title>
    <mat-card-content>
      <mat-list *ngIf="notes && notes.length > 0">
        <mat-list-item *ngFor="let adminNote of notes; let i = index;">
          <p mat-line>{{adminNote.note}}</p>
          <p mat-line>User #{{adminNote.user_id}} - last updated: {{adminNote.last_updated | date:'short'}}</p>
          <button
            mat-icon-button
            type="button"
            (click)="openDialog(adminNote)"
            matTooltip="Edit Note"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-icon-button
            type="button"
            (click)="deleteNote(adminNote)"
            matTooltip="Delete Note"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-list-item>
      </mat-list>
      <button
        mat-flat-button
        color="primary"
        type="button"
        (click)="openDialog()"
      >
        Add Note
      </button>
    </mat-card-content>
  </mat-card>
</div>
