 @use "config" as config;
@use "mixins" as mixins;

.result-item {
  margin: 2em;
  padding-bottom: 2em;
  position: relative;

  @include mixins.top-border-dots;

  .title {
    margin: 0;
    color: config.$brand-primary;
    font-weight: 800;
    font-style: italic;
    line-height: 1;
    font-size: 1.625rem;
  }
}

:root button.type {
  text-transform: uppercase;
  white-space: nowrap;
  color: config.$brand-primary-muted;
  background-color: transparent;

  &:hover {
    color: config.$brand-primary;
    background-color: transparent;
  }

  i.icofont-3x {
    margin-right: -1rem;
  }
}

:root .highlights em {
  font-weight: 700;
}

.highlights .date,
.description .date {
  color: config.$brand-accent;
  font-weight: 700;
}

.status-badge {
  display: flex;
  align-items: center;
  font-weight: 700;
  line-height: 2;
}

.status-currently-enrolling {
  color: config.$brand-accent;
}

.status-study-in-progress {
  color: config.$brand-primary-tint-1;
}

.status-results-being-analyzed {
  color: config.$brand-primary-tint-2;
}

.status-study-results-published {
  color: config.$brand-primary-tint-3;
}
