@import '../../config';
@import '../../mixins';

.result-item {
  margin-top: 2em;
  position: relative;

  @include top-border-dots;

  .title {
    margin: 0px;
    color: $brand-primary;
    font-weight: 800;
    font-style: italic;
    text-transform: uppercase;
    line-height: 1;
    font-size: 1.625rem;
  }
}

.type {
  text-transform: uppercase;
  white-space: nowrap;
  color: $brand-primary-muted;
  font-size: 3em;
  background-color: transparent;

  &:hover {
    color: $brand-primary;
    background-color: transparent;
  }
}

::ng-deep .highlights em {
  font-weight: 700;
}

.highlights .date, .description .date {
  color: $brand-accent;
  font-weight: 700;
}

.status-badge {
  display: flex;
  align-items: center;
  font-weight: 700;
  line-height: 2;
}
.status-currently-enrolling     { color: $brand-accent; }
.status-study-in-progress       { color: $brand-primary-tint-1; }
.status-results-being-analyzed  { color: $brand-primary-tint-2; }
.status-study-results-published { color: $brand-primary-tint-3; }
