@use 'sass:map';

/**
Color palettes generated via Angular Material CLI
> ng generate @angular/material:m3-theme

Seed colors:
- primary: #232d4b
- secondary: #e57200
- tertiary: #62BB46
- neutral: #C8CBD2
- error: #DF1E43
*/

$all-palettes: (
  primary: (
    0: #000,
    10: #101a37,
    20: #252f4d,
    25: #303a59,
    30: #3c4665,
    35: #475171,
    40: #535d7e,
    50: #6c7698,
    60: #8690b3,
    70: #a0aacf,
    80: #bbc5eb,
    90: #dbe1ff,
    95: #eef0ff,
    98: #faf8ff,
    99: #fefbff,
    100: #fff,
  ),
  secondary: (
    0: #000,
    10: #311300,
    20: #512400,
    25: #612d00,
    30: #733600,
    35: #843f00,
    40: #964900,
    50: #bc5c00,
    60: #e37100,
    70: #ff8e36,
    80: #ffb787,
    90: #ffdcc7,
    95: #ffede4,
    98: #fff8f5,
    99: #fffbff,
    100: #fff,
  ),
  tertiary: (
    0: #000,
    10: #042100,
    20: #093900,
    25: #0d4600,
    30: #125300,
    35: #166000,
    40: #1a6d00,
    50: #318817,
    60: #4ca431,
    70: #66bf4a,
    80: #81dc62,
    90: #9cf97b,
    95: #ccffb4,
    98: #edffe0,
    99: #f7ffed,
    100: #fff,
  ),
  neutral: (
    0: #000,
    10: #181c21,
    20: #2d3136,
    25: #383c41,
    30: #43474d,
    35: #4f5359,
    40: #5b5f65,
    50: #74777e,
    60: #8d9197,
    70: #a8abb2,
    80: #c3c6cd,
    90: #e0e2ea,
    95: #eef1f8,
    98: #f8f9ff,
    99: #fdfcff,
    100: #fff,
    4: #0b0f13,
    6: #101419,
    12: #1c2025,
    17: #262a30,
    22: #31353b,
    24: #36393f,
    87: #d7dae1,
    92: #e5e8ef,
    94: #ebeef5,
    96: #f1f3fb,
  ),
  neutral-variant: (
    0: #000,
    10: #1a1b22,
    20: #2f3037,
    25: #3a3b42,
    30: #45464e,
    35: #515259,
    40: #5d5e65,
    50: #76767e,
    60: #909098,
    70: #aaaab3,
    80: #c6c6ce,
    90: #e2e2eb,
    95: #f1f0f9,
    98: #faf8ff,
    99: #fefbff,
    100: #fff,
  ),
  error: (
    0: #000,
    10: #40000b,
    20: #680017,
    25: #7d001e,
    30: #920025,
    35: #a8002c,
    40: #bf0033,
    50: #e52447,
    60: #ff5164,
    70: #ff888e,
    80: #ffb3b4,
    90: #ffdada,
    95: #ffedec,
    98: #fff8f7,
    99: #fffbff,
    100: #fff,
  ),
);
$palette-map: (
  secondary: map.get($all-palettes, secondary),
  neutral: map.get($all-palettes, neutral),
  neutral-variant: map.get($all-palettes,  neutral-variant),
  error: map.get($all-palettes, error),
);
$primary-palette: map.merge(map.get($all-palettes, primary), $palette-map);
$tertiary-palette: map.merge(map.get($all-palettes, tertiary), $palette-map);
