// GLOBAL SCSS VARIABLES
$body-color: #4e4e4e;
$brand-primary: #002f6c;
$brand-accent: #e57200;
$easeDuration: 300ms;
$animationDuration: 500ms;
$uva-header-height: 40px;
$site-header-height: 64px;
$search-bar-height-sm: 64px;
$search-bar-height-md: 128px;
$search-bar-height-lg: 64px;
$header-height-sm: ($uva-header-height + $site-header-height + $search-bar-height-sm);
$header-height-md: ($uva-header-height + $site-header-height + $search-bar-height-md);
$header-height-lg: ($uva-header-height + $site-header-height + $search-bar-height-lg);
