// GLOBAL SCSS VARIABLES
$body-font-family: '"franklin-gothic-urw", sans-serif';
$heading-font-family: '"bodoni-urw", serif';
$body-color: #4e4e4e;
$body-color-muted: desaturate(lighten($body-color, 20), 60);
$body-color-light: desaturate(lighten($body-color, 80), 60);
$brand-gray: #cacaca;
$brand-primary: #002f6c;
$brand-primary-muted: desaturate(lighten($brand-primary, 20), 60);
$brand-primary-light: desaturate(lighten($brand-primary, 80), 60);
$brand-accent: #e57200;
$brand-accent-muted: desaturate(lighten($brand-accent, 20), 60);
$brand-accent-light: desaturate(lighten($brand-accent, 80), 60);
$easeDuration: 300ms;
$animationDuration: 500ms;
$tile-height-1x: 226px;
$tile-height-2x: 288px;
$uva-header-height: 40px;
$site-header-height: 64px;
$search-bar-height-sm: 64px;
$search-bar-height-md: 128px;
$search-bar-height-lg: 64px;
$header-height-sm: ($uva-header-height + $site-header-height + $search-bar-height-sm);
$header-height-md: ($uva-header-height + $site-header-height + $search-bar-height-md);
$header-height-lg: ($uva-header-height + $site-header-height + $search-bar-height-lg);
