@use 'sass:map';
@use 'config' as config;
@use 'colors' as colors;
@use "@angular/material" as mat;

$typography: (
  plain-family: config.$body-font-family,
  brand-family: config.$heading-font-family,
  bold-weight: 800,
  medium-weight: 500,
  regular-weight: 400,

);
$theme-config: (
  color: (
    primary: colors.$primary-palette,
    tertiary: colors.$tertiary-palette,
  ),
  typography: $typography,
  density: 0,
);

