@import "material";
@import "mixins";
@include mat-core($custom-typography);
@include angular-material-theme($stardrive-theme);

@mixin stardrive-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent); // Global style overrides

  body {
    padding-top: ($header-height-sm - 8px);

    // SM
    @media (min-width: 600px) {
      padding-top: $header-height-sm;
    }

    // MD
    @media (min-width: 960px) {
      padding-top: $header-height-md;
    }

    // XL
    @media (min-width: 1280px) {
      padding-top: $header-height-lg;
    }
  }

  .container {
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 1fr;
    position: relative;
    max-width: 100vw;

    .row {
      margin-top: 4em;
      margin-bottom: 4em;
      position: relative;

      max-width: 100vw;
      @media (min-width: 576px) { max-width: calc(100% - 40px); }
      @media (min-width: 768px) { max-width: calc(100% - 80px); }
      @media (min-width: 992px) { max-width: calc(100% - 100px); }
      @media (min-width: 1200px) { max-width: calc(100% - 120px); }
    }
  }

  button {
    &.btn-xl {
      font-size: 24px;
      padding-left: 24px;
      padding-right: 24px;
      padding-top: 8px;
      padding-bottom: 8px;
    }

    &.btn-lg {
      font-size: 20px;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 6px;
      padding-bottom: 6px;
    }

    &.disabled {
      background-color: $brand-gray !important;
    }
  }

  //  ::ng-deep .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  //    transform: translateY(-1.28125em) scale(0.9) perspective(100px) translateZ(0.001px);
  //  }

  // Worried we will get complaints about text sizes being too small, but it
  // is all relative inside the material form fields, so we can globally set
  // the font-size for all forms here.
  mat-form-field.mat-form-field {
    font-size: 16px;
  }

  // This keeps the hint/description text on form fields from
  // overlaying the next field or sliding off the bottom of a card.
  .mat-form-field-wrapper .mat-form-field-subscript-wrapper {
    position: static;
  }

  // I don't like this, but for reasons I can't find, I messed up
  // the radio button positions and they need padding to look right.
  mat-radio-button {
    padding: 5px 15px 0 0;
  }

  formly-field.vertical-radio-group {
      mat-radio-button {
        display: block;
        label.mat-radio-label {
          white-space: normal;
        }
      }
  }

  // This handles the proper display of multi-checkox
  formly-field-mat-multicheckbox {
    .mat-checkbox {
      margin: 5px;
      padding-right: 16px;
      display: block;

      .mat-checkbox-layout {
        white-space: normal;
      }
    }
  }

  .alert {
    padding: 2em;
    text-align: center;
    border-radius: 4px;
    margin-bottom: 2em;

    &.alert-info {
      background-color: $brand-primary-light;
      color: black;
    }

    &.alert-warn {
      background-color: $brand-warning;
      color: white;
    }
  }

  .mat-drawer .mat-nav-list .mat-list-item {
    min-width: 320px;
  }

  .mat-drawer .mat-nav-list .mat-list-item.active {
    background-color: $brand-primary;
    color: white;
  }

  .gradient-overlay {
    position: relative;
    background-position: 50% 50%;
    background-size: cover;

    * {
      z-index: 2;
    }
  }

  .gradient-overlay:after {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background: linear-gradient(
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.15) 40%,
      rgba(0, 0, 0, 0.05) 60%,
      rgba(0, 0, 0, 0) 100%
    ), linear-gradient(
      90deg,
      mat-color($stardrive-primary, 600, 0.8) 0%,
      mat-color($stardrive-primary, 600, 0) 40%,
      mat-color($stardrive-accent, 600, 0) 60%,
      mat-color($stardrive-accent, 600, 0.8) 100%
    );
    background-blend-mode: saturation;
    z-index: 1;
    mix-blend-mode: multiply;
    pointer-events: none;
  }

  #hero,
  .hero-slide {
    background-size: cover;

    &.top-left { background-position: top left; }
    &.top-center { background-position: top center; }
    &.top-right { background-position: top right; }
    &.center-left { background-position: center left; }
    &.center-center { background-position: center center; }
    &.center-right { background-position: center right; }
    &.bottom-left { background-position: bottom left; }
    &.bottom-center { background-position: bottom center; }
    &.bottom-right { background-position: bottom right; }

    .hero-content {

      @media (min-width: 576px) { max-width: calc(100% - 40px); }
      @media (min-width: 768px) { max-width: calc(100% - 80px); }
      @media (min-width: 992px) { max-width: calc(100% - 100px); }
      @media (min-width: 1200px) { max-width: calc(100% - 120px); }

      & > h1, & > p {
        color: white;
        font-weight: 700;
        text-shadow: 0px 0px 8px rgba(0,0,0,0.5);

        max-width: calc(100% - 40px);
        @media (min-width: 576px) { max-width: calc(100% - 40px); }
        @media (min-width: 768px) { max-width: calc(100% - 80px); }
        @media (min-width: 992px) { max-width: calc(100% - 100px); }
        @media (min-width: 1200px) { max-width: calc(100% - 120px); }
      }

      & > h1 {
        margin-bottom: 0px;
        font-size: 1.5rem;
        @media (min-width: 576px) { font-size: 2rem; }
        @media (min-width: 768px) { font-size: 3rem; }
        @media (min-width: 992px) { font-size: 4rem; }
        @media (min-width: 1200px) { font-size: 5rem; }
      }
    }

    .border-box {
      max-width: 31.25rem;
      text-align: left;
      padding: 2.4375rem;
      margin: 0;
      background-color: rgba(255, 255, 255, 0.8);
      color: mat-color($stardrive-primary, 50, 1);

      h1 {
        color: $brand-primary;
        margin: 0;
      }

      p {
        font-weight: 700;
        font-size: 1.25rem;
        font-style: italic;
        margin: 0;
      }
    }

    &.container {
      align-items: center;
      justify-content: start;
    }
  }

  #hero.with-escaping-tiles {
    margin-bottom: ($tile-height-1x * 0.5);

    &.margin-bottom-none   {
      margin-bottom: ($tile-height-1x * 0.25);

      @media (max-width: 967px) {
        height: 250px;

        .mat-form-field-appearance-outline .mat-form-field-label {
          margin-top: 0.1em;
        }

        .mat-form-field-outline-gap {
          display: none;
        }

        .mat-form-field-appearance-outline .mat-form-field-outline {
          background-color: rgba(255, 255, 255, 0.5);
          opacity: 1;
          border-radius: 5px;
        }

        :hover .mat-form-field-appearance-outline .mat-form-field-outline {
          background-color: rgba(255, 255, 255, 0.5);
          opacity: 1;
        }
      }
    }

    .row.escaping-tiles-1x { margin-bottom: -($tile-height-1x * 0.5); }
    .row.escaping-tiles-2x { margin-bottom: -($tile-height-2x * 0.75); }
  }

  .pad-0 { padding: 0px; }
  .pad-1 { padding: 1em; }
  .pad-2 { padding: 2em; }
  .pad-3 { padding: 3em; }
  .pad-4 { padding: 4em; }
  .pad-5 { padding: 5em; }
  .pad-6 { padding: 6em; }
  .pad-7 { padding: 7em; }
  .pad-8 { padding: 8em; }

  .margin-top-none, .row.margin-top-none        { margin-top: 0px !important; }
  .margin-bottom-none, .row.margin-bottom-none  { margin-bottom: 0px !important; }
  .ghost { opacity: 0; }

  // XS
  @media (max-width: 575px) {
    .cdk-overlay-wrapper .cdk-overlay-pane {
      width: 100%;
      height: 100%;
    }

    mat-dialog-container.mat-dialog-container {
      border-radius: 0;
    }
  }

  // SM
  @media (min-width: 576px) {
    .cdk-overlay-wrapper .cdk-overlay-pane {
      width: 90%;
      height: 90%;
    }

    mat-dialog-container.mat-dialog-container {
      width: 100vw;
    }
  }

  // MD
  @media (min-width: 768px) {
    .cdk-overlay-wrapper .cdk-overlay-pane {
      width: 75%;
      height: 75%;
    }

    mat-dialog-container.mat-dialog-container {
      width: 90vw;
    }
  }

  // LG
  @media (min-width: 992px) {
    .cdk-overlay-wrapper .cdk-overlay-pane {
      width: 75%;
      height: 75%;
    }

    mat-dialog-container.mat-dialog-container {
      width: 80vw;
    }
  }

  // XL
  @media (min-width: 1200px) {
    .cdk-overlay-wrapper .cdk-overlay-pane {
      width: 75%;
      height: 75%;
    }

    mat-dialog-container.mat-dialog-container {
      width: 70vw;
    }
  }


  .mat-dialog-content[mat-dialog-content] {
    max-height: 85vh;
  }

}
