@use 'material' as custom-theme;
@use 'overrides' as overrides;
@use "@angular/material" as mat;

@import 'ehd';
@import 'assets/css/icofont.css';
@import 'assets/css/material-icons.css';

html {
  @include mat.theme(custom-theme.$theme-config);
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: $body-font-family, "Helvetica Neue", sans-serif;
}

:root, :host {
  @include mat.theme-overrides(overrides.$light-theme-overrides-config);
}

.dark {
  @include mat.theme-overrides(overrides.$dark-theme-overrides-config);
}
