@use "material" as custom-theme;
@use "overrides" as overrides;
@use "@angular/material" as mat;
 @use "config" as config;
@use "ehd" as ehd;
@use "other" as other;
@forward "../public/assets/css/bodoni-urw.css";
@forward "../public/assets/css/franklin-gothic-urw.css";
@forward "../public/assets/css/icofont.css";
@forward "../public/assets/css/material-icons.css";

html {
  @include mat.theme(custom-theme.$theme-config);
  @include ehd.ehd-styles;
  @include other.other-styles;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: config.$body-font-family, "Helvetica Neue", sans-serif;
}

:root, :host {
  @include mat.theme-overrides(overrides.$light-theme-overrides-config);
}

.dark {
  @include mat.theme-overrides(overrides.$dark-theme-overrides-config);
}
