@import '../../stardrive_material';

th.mat-header-cell {
  padding-right: 1em;
}
td.mat-cell {
  padding-right: 1em;
}
button {
  margin-bottom: 2em;
  margin-left: 2em;
}

button.mat-flat-button.mat-accent.selected {
  background: mat-color($stardrive-primary, default, 1);
}
