<div
  fxLayout="column"
  fxLayoutGap="1em"
  class="container"
>
  <mat-card *ngFor="let f of field.fieldGroup; let i = index;" class="repeat">
    <mat-card-content fxLayout="row">
      <div fxFlex="70">
        <app-form-printout [field]="f"></app-form-printout>
      </div>
      <div
        fxFlex="30"
        fxLayout="row"
        fxLayoutAlign="end start"
      >
        <button
          mat-icon-button
          type="button"
          (click)="openDialog(i, f)"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          mat-icon-button
          type="button"
          (click)="remove(i)"
        >
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div class="repeat-action">
  <button
    mat-flat-button
    color="primary"
    type="button"
    (click)="openDialog(field.fieldGroup.length)"
  >
    {{ field.templateOptions.description }}
  </button>
</div>
