@import '../../../config';

mat-card.repeat {
  background-color: $brand-primary-light;
  border-left: solid 8px $brand-primary;

  &:active, &:hover, &:focus, &:focus-within {
    background: #eeeeee;
  }
}

.container, .repeat-action {
  padding-top: 1em;
}
