<div
  fxLayout="column"
  fxLayoutGap="1em"
  class="container"
>
  <mat-card *ngFor="let f of field.fieldGroup; let i = index;" class="repeat">
    <mat-card-content fxLayout="row wrap">
      <mat-chip-list fxFlex="50">
        <mat-chip color="primary" selected>{{i + 1}}</mat-chip>
      </mat-chip-list>
      <div
        fxFlex="50"
        fxLayout="column"
      >
        <button
          mat-icon-button
          type="button"
          (click)="remove(i)"
          fxFlexAlign="end"
        >
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <div fxFlex="100">
        <ul>
          <li *ngFor="let v of f.model | keyvalue">{{v.key}}: {{v.value}}</li>
        </ul>
        <button
          mat-flat-button
          color="primary"
          type="button"
          (click)="openDialog(i, f)"
        >
          Edit
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div class="repeat-action">
  <button
    mat-flat-button
    color="primary"
    type="button"
    (click)="openDialog(field.fieldGroup.length)"
  >
    {{ field.templateOptions.description }}
  </button>
</div>
