@use "/src/config" as config;

mat-card.repeat {
  background-color: config.$brand-primary-light;
  border-left: solid 8px config.$brand-primary;

  &:active,
  &:hover,
  &:focus,
  &:focus-within {
    background: #eee;
  }
}

.container,
.repeat-action {
  padding-top: 1em;
}
