@import '../../material';

a {
  text-decoration: none;
  display: inline-flex;
  align-items: center;

  [class*="details-link-text"] {
    @include mat-typography-level-to-styles($custom-typography, title);
    font-style: italic;
    color: $brand-primary;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  .details-link-1x {
    font-size: 1.125rem;
    margin-left: 0.5rem;
  }

  .details-link-2x {
    font-size: 1.5rem;
    margin-left: 0.75rem;
  }

  [class*="icofont-"] {
    color: $brand-accent;
    transition: all 0.5s;

    &.details-link-icon-selected {
      transform: rotate(90deg);
    }

    &.details-link-icon-deselected {
      transform: rotate(0deg);
    }
  }
}

:hover [class*="icofont-"] {
  margin-left: 10px;
}
