<div class="alert alert-info">
  <h1>Enrollment application complete!</h1>

  <div *ngIf="flow.name === 'guardian_intake'">
    <p>You have completed all the questions about your role as a Guardian.  Please
    return to the Profile page, where you can add/edit or update details
    about your dependent(s).</p>
  </div>

  <div *ngIf="flow.name === 'dependent_intake'">
    <p>You have completed all the questions about your dependent.  We will use this information
      to contact you about upcoming studies and emerging resources that will be of interest
      based on the details you provided.  </p>
    <p>If you have another dependent to enroll, you can return to the profile page.  Otherwise
      we recommend you check out our list of active studies, or search through
      the available services and resources.</p>
  </div>

  <div *ngIf="flow.name === 'self_intake'">
    <h2>Thank you!</h2>
    <p>You have completed all the questions about yourself.  We will use this information
      to contact you about upcoming studies and emerging resources that will be of interest
      based on the details you provided.  </p>
  </div>

  <div *ngIf="flow.name === 'professional_intake'">
    <p>Thank you for providing us with your information.</p>
    <p>Now we recommend you check out our <a (click)="goStudies($event)">list of active studies</a>, or search through
    the <a (click)="goResources($event)">available services and resources.</a></p>
  </div>

  <p>You can continue to edit any unlocked questionnaires by selecting them from the
    column on the left.</p>

  <div>
    <button
      mat-flat-button
      type="button"
      color="primary"
      (click)="goProfile($event)"
    >Return to Profile Page</button>
    <button
      mat-flat-button
      type="button"
      color="primary"
      (click)="goStudies($event)"
    >View Studies</button>
    <button
      mat-flat-button
      type="button"
      color="primary"
      (click)="goResources($event)"
    >Search Resources</button>
  </div>

</div>
