<div class="alert alert-info">
  <h1>Enrollment complete!</h1>

  <div *ngIf="flow.name === 'guardian_intake'">
    <p>You have completed all the questions about your role as a Parent/Guardian.  Please
    click the button below to begin entering information about your son, daughter, or dependent(s).</p>
    <div
      fxLayoutAlign="center center"
    >
      <button
        mat-flat-button
        color="primary"
        (click)="enrollDependent($event)"
        id="enroll_first_dependent"
      >Enroll a dependent</button>
    </div>
  </div>

  <div *ngIf="flow.name === 'dependent_intake'">
    <p>You have completed all the questions about your son, daughter, or dependent.  We will use this information
      to contact you about upcoming studies and emerging resources that will be of interest
      based on the details you provided.  </p>
    <p>If you have another dependent to enroll, please click the button below to enter information about them.  Otherwise
      we recommend you check out our list of active studies, or search through
      the available services and resources.</p>
    <div
      fxLayoutAlign="center center"
    >
      <button
        mat-flat-button
        color="primary"
        (click)="enrollDependent($event)"
        id="enroll_another_dependent"
      >Enroll another dependent</button>
    </div>
  </div>

  <div *ngIf="flow.name === 'self_intake'">
    <h2>Thank you!</h2>
    <p>You have completed all the questions about yourself.  We will use this information
      to contact you about upcoming studies and emerging resources that will be of interest
      based on the details you provided.  </p>
  </div>

  <div *ngIf="flow.name === 'professional_intake'">
    <p>Thank you for providing us with your information.</p>
    <p>Now we recommend you check out our <a (click)="goStudies($event)">list of active studies</a>, or search through
    the <a (click)="goResources($event)">available services and resources.</a></p>
  </div>

  <p>You can continue to edit any unlocked questionnaires by selecting them from the
    column on the left.</p>

  <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="10px" fxLayoutAlign="center center">
    <button
      mat-flat-button
      type="button"
      color="primary"
      routerLink="/profile"
    >Return to Profile Page</button>
    <button
      mat-flat-button
      type="button"
      routerLink="/studies"
    >View Studies</button>
    <button
      mat-flat-button
      type="button"
      color="accent"
      routerLink="/search"
    >Search Resources</button>
  </div>
</div>
