// Import theming functions
@import '../../../node_modules/@angular/material/theming';
// Import your custom theme
@import '../../stardrive_material';
// Load the STAR DRIVE Theme
@include stardrive-theme($stardrive-theme);

#logo {
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    @include mat-typography-level-to-styles($custom-typography, display-1);
    text-transform: uppercase;
  }

  &.dark-lg a, &.dark a { color: mat-color($stardrive-primary, 500); }
  &.light-lg a, &.light a { color: white; }

  &.dark-lg, &.light-lg {
    img {
      min-width: 120px;
      max-width: 600px;
      min-height: 120px;
      max-height: 240px;
      width: 100%;
      margin-top: 1em;
      margin-bottom: 1em;
      margin-right: 1em;
    }
  }

  &.dark, &.light {
    img {
      min-width: 40px;
      max-width: 200px;
      min-height: 40px;
      max-height: 80px;
      width: auto;
      margin-top: 1em;
      margin-bottom: 1em;
      margin-right: 1em;
    }
  }
}
