@use '~@angular/material' as mat;
@import '../../material';

#logo {
  display: flex;
  align-items: center;
  justify-content: center;

  &.dark-lg .variant,
  &.dark .variant {
    color: $brand-primary;
    font-weight: bold;
  }
  &.light-lg .variant,
  &.light .variant {
    color: white;
    font-weight: bold;
  }

  a {
    color: $brand-accent;
  }

  &.dark-lg,
  &.light-lg {
    a {
      @include mat.typography-level($custom-typography, display-3);
      font-family: 'franklin-gothic-urw', serif;
      text-transform: uppercase;
      margin-top: 4rem;
      margin-bottom: 4rem;
      font-weight: lighter;
      font-size: 2.5rem;

      @media (min-width: 959px) {
        font-size: 3rem;
      }
      @media (min-width: 960px) {
        font-size: 3.5rem;
      }
      @media (min-width: 1280px) {
        font-size: 4rem;
      }
    }

    img {
      min-width: 120px;
      max-width: 600px;
      min-height: 120px;
      max-height: 240px;
      width: 100%;
      margin-top: 1em;
      margin-bottom: 1em;
      margin-right: 1em;
    }
  }

  &.dark,
  &.light {
    a {
      @include mat.typography-level($custom-typography, display-1);
      font-family: 'franklin-gothic-urw', serif;
      text-transform: uppercase;
      font-weight: lighter;
      font-size: 2rem;
    }

    img {
      min-width: 40px;
      max-width: 200px;
      min-height: 40px;
      max-height: 80px;
      width: auto;
      margin-top: 1em;
      margin-bottom: 1em;
      margin-right: 1em;
    }
  }
}
