<div class="alert alert-info"  fxFlexOffset="10">
  <h1>Profile complete!</h1>
    <p> Bing bong bing bing bong. <br> this text goes on the left side </p>
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="10px" fxLayoutAlign="center center" fxFlexOffset="15">
      <button
        mat-flat-button
        type="button"
        color="primary"
        routerLink="/profile"
      >Return to Profile Page</button>
      <button
        mat-flat-button
        type="button"
        routerLink="/studies"
      >View Studies</button>
      <button
        mat-flat-button
        type="button"
        color="accent"
        routerLink="/search"
      >Search Resources</button>
    </div>
</div>
<div>
  <div fxLayout="row" fxLayoutGap="10px">
    <p> First part of profile<br> is complete </p>
  </div>
</div>
