
<div class="meta_info" *ngIf="meta">

  <div *ngIf="meta.self_relationship == null">
  <h1>Profile complete!</h1>
    <p>
      Your account set up is complete! You may now sign up for webinars and search for resources.
    </p>
  </div>

  <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="10px"
        fxLayoutAlign="center center" fxFlexOffset="15">
    <button *ngIf = "meta.self_relationship != null"
            mat-flat-button
            type="button"
            color="primary"
            routerLink="/uva-education">
      Watch Webinars</button>
    <button
      mat-flat-button
      type="button"
      routerLink="/studies"
    >View Studies</button>

    <button
      mat-flat-button
      type="button"
      color="accent"
      routerLink="/search"
    >Search Resources</button>
  </div>
</div>

