 @use "config" as config;

.border-box-tile {
  display: grid;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  padding: 0;
  margin: 0;
  background-color: rgb(255 255 255 / 80%);
  text-align: center;
  color: config.$brand-primary;

  &.border-box-tile-1x {
    height: config.$tile-height-1x;
  }

  &.border-box-tile-2x {
    height: config.$tile-height-2x;
  }

  .border-box-tile-inner {
    &.hover {
      &::before {
        opacity: 0;
      }

      &::after {
        opacity: 1;
      }
    }

    &::before,
    &::after {
      content: '';
      pointer-events: none;
      transition: opacity 0.5s;
      position: absolute;
      width: 100%;
      height: 100%;
      inset: 0;
      margin: 0;
    }

    &::before {
      border: 11px solid #dadada;
      border-image-source: linear-gradient(to bottom, config.$brand-gray-tint-2 0%, config.$brand-gray-tint-3 100%);
      border-image-slice: 1;
      opacity: 1;
    }

    &::after {
      border: 11px solid #002f6c;
      border-image-source: linear-gradient(config.$brand-primary 0%, config.$brand-accent 100%);
      border-image-slice: 1;
      opacity: 0;
    }

    &.deselected::after {
      opacity: 0;
    }

    &.deselected::before {
      opacity: 1;
    }

    &.selected::after {
      opacity: 1;
    }

    &.selected::before {
      opacity: 0;
    }

    p.intro {
      padding: 0 20px;
      color: config.$body-color;
      font-weight: bold;
    }

    .border-box-tile-label {
      &.border-box-tile-label-1x {
        font-size: var(--mat-sys-title-large-size);
        font-weight: var(--mat-sys-title-large-weight);
        font-family: var(--mat-sys-title-large-font), sans-serif;
        letter-spacing: var(--mat-sys-title-large-tracking);
        margin-top: 1em;
        margin-bottom: 1em;
        font-style: italic;
        text-transform: uppercase;
      }

      &.border-box-tile-label-2x {
        font-size: var(--mat-sys-display-small-size);
        font-weight: var(--mat-sys-display-small-weight);
        font-family: var(--mat-sys-display-small-font), sans-serif;
        letter-spacing: var(--mat-sys-display-small-tracking);
        margin-top: 1em;
        margin-bottom: 1em;
        font-style: italic;
        text-transform: uppercase;
      }
    }

    // XS - MD
    @media (width <= 1023px) {
      padding: 1em;

      .border-box-tile-label.border-box-tile-label-1x {
        font-size: 1em;
      }

      .border-box-tile-label.border-box-tile-label-2x {
        font-size: 2em;
      }
    }

    // LG & XL
    @media (width >= 1024px) {
      padding: 2.4375rem;
    }
  }
}
