@import '../../material';

.border-box-tile {
  display: grid;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  padding: 0;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  color: $brand-primary;

  &.border-box-tile-1x { height: $tile-height-1x; }
  &.border-box-tile-2x { height: $tile-height-2x; }

  .border-box-tile-inner {
    padding: 2.4375rem;

    &.hover {
      &:before {
        opacity: 0;
      }

      &:after {
        opacity: 1;
      }
    }

    &:before,
    &:after {
      content: '';
      pointer-events: none;
      transition: opacity 0.5s;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0;
    }

    &:before {
      border: 11px solid #dadada;
      border-image: linear-gradient(to bottom, $brand-gray 0%, #f1f1ef 100%);
      border-image-slice: 1;
      opacity: 1;
    }

    &:after {
      border: 11px solid #002f6c;
      border-image: linear-gradient($brand-primary 0%, $brand-accent 100%);
      border-image-slice: 1;
      opacity: 0;
    }

    &.deselected:after {
      opacity: 0;
    }

    &.deselected:before {
      opacity: 1;
    }

    &.selected:after {
      opacity: 1;
    }

    &.selected:before {
      opacity: 0;
    }

    p.intro {
      padding: 0 20px 0 20px;
      color: $body-color;
      font-weight: bold;
    }

    .border-box-tile-label {
      &.border-box-tile-label-1x {
        @include mat-typography-level-to-styles($custom-typography, title);
        margin-top: 1em;
        margin-bottom: 1em;
        font-style: italic;
        text-transform: uppercase;
        letter-spacing: 1.8px;
      }

      &.border-box-tile-label-2x {
        @include mat-typography-level-to-styles($custom-typography, display-1);
        margin-top: 1em;
        margin-bottom: 1em;
        font-style: italic;
        text-transform: uppercase;
      }
    }
  }
}
