@import '../../config';

mat-card-header {
  position: relative;
}

[mat-card-avatar] {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

[mat-card-avatar]:hover {
  opacity: .5;
}

.change_text {
  position: absolute;
  top: 105px;
  left: 7px;
  cursor: pointer;
}

.change_text:hover {
  opacity: .5;
}

::ng-deep   mat-progress-bar {
  height: 16px;

  .mat-progress-bar-buffer { background-color: $brand-gray-tint-2; }

  .mat-progress-bar-background {
    fill: $brand-gray-tint-2;
    pattern { fill: $brand-gray-tint-2; }
  }
}

::ng-deep mat-card-subtitle {
  button {
    margin-top: 20px;
  }
  .mat-subheading-2 {
    color: black;
  }

}
