[mat-card-avatar] {
  width: 100px;
  height: 100px;
}

mat-card-subtitle {
  mat-progress-bar {
    height: 16px;
  }

  button {
    margin-top: 20px;
  }

  .mat-subheading-2 {
    color: black;
  }
}