@use '../../styles/config' as config;

:root mat-card {
  width: 100%;
}

mat-card-header {
  position: relative;
}

[mat-card-avatar] {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

[mat-card-avatar]:hover {
  opacity: 0.5;
}

.change-text {
  position: absolute;
  top: 105px;
  left: 7px;
  cursor: pointer;
}

.change-text:hover {
  opacity: 0.5;
}

:root .mat-card-header-text {
  width: 100%;
}

:root mat-progress-bar {
  height: 16px;

  .mat-progress-bar-buffer {
    background-color: config.$brand-gray-tint-2;
  }

  .mat-progress-bar-background {
    fill: config.$brand-gray-tint-2;

    pattern {
      fill: config.$brand-gray-tint-2;
    }
  }
}

button {
  width: 100%;

  @media (width >= 768px) {
    width: 50%;
  }
}

:root mat-card-subtitle {
  button {
    margin-top: 20px;
  }

  .mat-subheading-2 {
    color: black;
  }
}
