@use '@angular/material' as mat;
@use '../../styles/config' as config;

button.mat-mini-fab.mat-accent {
  background-color: transparent;
  box-shadow: none;

  @include mat.elevation(1);

  mat-icon {
    -webkit-text-stroke: 1px config.$brand-primary;
    color: white;
    text-shadow:
      -1px -1px 0 config.$brand-primary,
      1px -1px 0 config.$brand-primary,
      -1px 1px 0 config.$brand-primary,
      1px 1px 0 config.$brand-primary;

    &.active {
      color: config.$brand-primary;
      text-shadow: none;
    }
  }
}
