@use "/src/config" as config;
@use 'mixins' as mixins;

footer {
  margin: 50px 10px 10px;
  text-align: center;
  position: relative;

  &::before {
    @include mixins.border-dots;

    content: '';
    top: -2em;
  }
}

.funded-by {
  text-align: left;
  margin: 1em auto -1em;

  // SM
  @media (width <= 959px) {
    width: 290px;
  }

  // MD - XL
  @media (width >= 960px) {
    width: 417px;
  }
}

.footer-contact {
  margin: 0 auto 1.25rem;
  max-width: 15.625rem;

  .address,
  .tel,
  .email {
    color: config.$body-color;
    line-height: 1.5;
    font-style: italic;
    display: inline;
  }

  .address::after,
  .tel::after {
    content: '|';
    display: inline-block;
    margin: 0 0.325em 0 0.5em;
  }

  @media screen and (width >= 45em) {
    max-width: none;
    margin: 0 auto 0.625rem;
  }
}
