<footer class="global-footer">
  <div class="funded-by">Funded by</div>
  <a
    href="https://curry.virginia.edu/faculty-research/centers-labs-projects/supporting-transformative-autism-research-star"
    target="_blank"
  >
    <img src="/assets/logo/UVA_STAR-logo.svg" class="footer-logo" />
  </a>

  <div class="footer-contact">
    <address class="address">417 Emmet Street, Charlottesville, VA 22904</address>
    <a href="tel:434-297-8178" class="tel">434-297-8178</a>
    <a href="mailto:autismdrive@virginia.edu" class="email">autismdrive@virginia.edu</a>
  </div>

  <p>&copy; 2019 BY THE RECTOR AND VISITORS OF THE UNIVERSITY OF VIRGINIA</p>

  <div *ngIf="config.development">Currently running in Development Mode.</div>
  <div *ngIf="config.testing">Currently running in Test mode.</div>
  <div *ngIf="config.mirroring">This is a mirrored server with de-identified data.</div>
</footer>
