@import '../../stardrive_material';

footer {
  margin: 50px 10px 10px 10px;
  text-align: center;
  position: relative;

  &:before {
    @include border-dots;
    content: '';
    top: -2em;
  }
}

.funded-by {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: -1em;

  // SM
  @media (max-width: 959px) { width: 290px; }

  // MD - XL
  @media (min-width: 960px) { width: 417px; }
}

.footer-logo {
  // SM
  @media (max-width: 959px) { width: 320px; }

  // MD - XL
  @media (min-width: 960px) { width: 457px; }
}

.footer-contact {
  margin: 0 auto 1.25rem;
  max-width: 15.625rem;

  .address, .tel, .email {
      color: #4e4e4e;
      line-height: 1.5;
      font-style: italic;
      display: inline;
  }

  .address:after, .tel:after {
      content: '|';
      display: inline-block;
      margin: 0 0.325em 0 0.5em
  }

  @media screen and (min-width: 45em) {
    max-width:none;
    margin:0 auto .625rem;
  }
}
