<div
  id="hero"
  class="gradient-overlay container"
>
  <div class="hero-content">
    <div class="form border-box">
      <h1>Join Autism DRIVE</h1>
      <form
        [formGroup]="form"
        (ngSubmit)="submit()"
      >
        <formly-form
          [form]="form"
          [fields]="fields"
          [model]="model"
          *ngIf="registerStateValue !== 'wait_for_email'"
        >
          <div
            id="error_message"
            class="display mat-error"
            *ngIf="errorMessage"
          >{{errorMessage}}</div>
          <footer
            fxLayout="column"
            fxLayoutGap="2%"
            fxLayoutAlign="center"
            *ngIf="registerStateValue === 'form'"
          >
            <button
              mat-flat-button
              type="submit"
              color="primary"
              id="submit"
            >Next</button>
            <button
              mat-flat-button
              (click)="goHome($event)"
              color="accent"
              id="cancel"
            >Cancel</button>
          </footer>
          <footer *ngIf="registerStateValue === 'submitting'">
            <app-loading></app-loading>
          </footer>
        </formly-form>
        <footer *ngIf="registerStateValue === 'wait_for_email'" id="confirmation_message">
          <h2>Account Created!</h2>
          <p>Please check your email to complete the signin process.</p>
          <button
            color="primary"
            (click)="goHome($event)"
            mat-flat-button
            id="continue"
          >
            Continue to browse
          </button>
        </footer>
      </form>
    </div>

  </div>
</div>
<div class="container">
  <div
    class="row mat-typography"
    fxLayout="column"
    fxLayoutGap="10px"
  >
    <div
      fxLayout.lt-lg="column"
      fxLayout.gt-md="row"
      fxLayoutWrap
      fxLayoutGap="10px"
      fxLayoutAlign="start start"
    >
      <div fxFlex.gt-md="50%">
        <h1>Why should I join?</h1>
        <p>By joining Autism DRIVE, we will be able to let you know about resources and upcoming events in your community.
          We can also match you with research opportunities that might be a good fit for you and your family. Your
          participation will help us learn more about autism so we can create new solutions to achieve positive outcomes.
        </p>
      </div>
      <div fxFlex.gt-md="50%">
        <h1>What does it involve?</h1>
        <p>We will ask you to answer some questions about yourself or your family member with autism. We will use this
          information to provide you with the most relevant information about resources and upcoming studies. These
          questions should take about 10-15 minutes. If you don’t finish all the questions at once, you can save your
          progress and return later. You can also come back and modify your information or cancel your account at any time.
        </p>
      </div>
    </div>
    <div>
      <h1>Your Privacy</h1>
      <p>Only UVA autism researchers will be able to see the information you submit. We will only use your information
        to connect you with potential research opportunities and relevant resources. Because of this, researchers may
        contact you through the Autism DRIVE about research opportunities that may be relevant or interesting to you.
      </p>
      <p>Information you share through the registration process will be stored on a secured server. To keep your
        information anonymous, your identifying information and any sensitive healthcare information will be separated
        and stored on another secure server behind a firewall. The registration process will notify you of what is
        sensitive as you go through the registration. The data security of the servers we are using have been reviewed
        and approved by the University of Virginia’s Information Technology Services. Our registration process meets
        the University of Virginia Institutional Review Board’s ethical guidelines.
      </p>
      <p>If you want to cancel your account at any time, you can let us know by emailing uvastar@virginia.edu.</p>
    </div>
  </div>

</div>
