###############################################################################
###############################################################################
#
#        ------------------------ docker.env ------------------------
#
#        This is the configuration file used by Docker Compose to run
#        the backend API server in a Docker container.
#
###############################################################################
###############################################################################


###############################################################################
#                          Environment configuration                          #
###############################################################################

# Set both of the following to true in Production on the private server.
MIRRORING=false
DELETE_RECORDS=false

# The URL of the public API backend server. This is used for mirroring data from the
# public server to the private server.
PUBLIC_SERVER_URL="http://localhost:5000"

# How often the public server checks that imports have completed successfully.
EXPORT_CHECK_INTERNAL_MINUTES=1

# How often the private server checks for new data to import from the public server.
IMPORT_INTERVAL_MINUTES=1

# Set this to true in Production. Otherwise, set it to false.
PRODUCTION=false

# Set this to false in Production. Set it to true for local development and
# for running tests.
DEVELOPMENT=true

# Set this to true for running unit tests in CI and local development.
# Set this to false in Production.
TESTING=false

# List the hostnames and ports of servers that are allowed to access the API.
# This is used to prevent Cross-Origin Resource Sharing (CORS) attacks.
CORS_ALLOW_ORIGINS=["localhost:4200"]
CORS_ENABLED=false

# This will be used to generate debugging messages in the server console.
# Not used anywhere else, so feel free to change it to anything helpful for
# diagnosing configuration issues.
NAME="Loaded from the docker.env file"


###############################################################################
#                         Elasticsearch configuration                         #
###############################################################################
ELASTIC_SEARCH__hosts=["star-drive_es_1"]
ELASTIC_SEARCH__http_auth_pass="__ELASTICSEARCH_PASSWORD__"

# The "elastic" user is the default user for Elasticsearch.
# This probably never needs to be changed.
ELASTIC_SEARCH__http_auth_user="elastic"

# The index prefix is used to create the index name in Elasticsearch.
# For example, if the prefix is "stardrive", the index name will be
# "stardrive_resources" for the resources index. This prevents conflicts
# with other applications that may be using the same Elasticsearch instance,
# such as when running unit tests or in local development.
# For unit tests, this should be set to "stardrive_test" to avoid conflicts.
ELASTIC_SEARCH__index_prefix="stardrive"
ELASTIC_SEARCH__port=9200

# Set both of these to true in Production, and ensure that the appropriate
# certificates are in place.
ELASTIC_SEARCH__use_ssl=false
ELASTIC_SEARCH__verify_certs=false


###############################################################################
#                           Google API configuration                          #
###############################################################################

# These are used for Google Analytics and Google Maps.
# Replace the placeholders with your actual Google API keys.
GOOGLE_ANALYTICS_TAG_ID="__GOOGLE_ANALYTICS_TAG_ID__"
GOOGLE_MAPS_API_KEY="__GOOGLE_MAPS_API_KEY__"
GOOGLE_MAPS_MAP_IDS__resource_details_page="__GOOGLE_MAPS_RESOURCE_DETAILS_MAP_ID__"
GOOGLE_MAPS_MAP_IDS__search_page="__GOOGLE_MAPS_SEARCH_PAGE_MAP_ID__"


###############################################################################
#                          Mail Server configuration                          #
###############################################################################

# These are used for sending emails from the application.
# Replace the placeholders with your actual email address and password.
MAIL_DEFAULT_SENDER="__MAIL_DEFAULT_SENDER__"
MAIL_PASSWORD="__MAIL_PASSWORD__"
MAIL_PORT=__MAIL_SERVER_PORT__

# The hostname of the mail server. This is usually something like
# "smtp.mailtrap.io" or "smtp.gmail.com".
# Replace the placeholder with your actual mail server hostname.
MAIL_SERVER="__MAIL_SERVER_HOSTNAME__"
MAIL_USERNAME="__MAIL_USERNAME__"

# Set this to true if your mail server requires a secure connection (TLS).
MAIL_USE_TLS=true

ADMIN_EMAIL="__ADMIN_EMAIL__"
PRINCIPAL_INVESTIGATOR_EMAIL="__PRINCIPAL_INVESTIGATOR_EMAIL__"


###############################################################################
#                            Database configuration                           #
###############################################################################
SQLALCHEMY__username="__POSTGRESQL_USERNAME__"
SQLALCHEMY__password="__POSTGRESQL_PASSWORD__"
SQLALCHEMY__host="star-drive_db_1"
SQLALCHEMY__port=5432
SQLALCHEMY__database="stardrive"
SQLALCHEMY__track_modifications=false


###############################################################################
#                               JWT configuration                             #
###############################################################################

# The JWT (JSON Web Token) configuration is used for authentication and
# authorization in the application. It includes the algorithm used for signing
# the tokens, as well as the paths to the public and private keys used for
# verifying and signing the tokens, respectively.

# The algorithm used for signing the JWT tokens. Only the following asymmetric
# algorithms are supported: "RS256", "PS256", "EdDSA", or "ES256"
JWT__algorithm="EdDSA"

# Replace the placeholders with the absolute paths to your public and private keys.
JWT__public_key_path="__JWT_PUBLIC_KEY_PATH__"
JWT__private_key_path="__JWT_PRIVATE_KEY_PATH__"
